:root {
  --data-shared-bg: #e5d2be;
  --data-application-defined-bg: #c38a8a;
}

.dark {
  .card-categories svg {
    stroke: var(--text-color);
  }
}

#data_cards {
  display: flex;
  justify-content: flex-start;
  margin-bottom: var(--spacing-md);
  flex-direction: column;
  flex-grow: 1;
  gap: var(--spacing-lg);

  @keyframes show {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes hide {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0);
    }
  }

  .data_section {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  [data-attribute='empty'] {
    display: none;
  }

  [data-section='Core'] {
    width: 250px;
    max-width: 250px;
    min-width: 100%;
  }

  [data-section='Supporting'] {
    width: 500px;
    max-width: 500px;
    min-width: 100%;
  }

  [data-section='Annotations'] {
    width: 250px;
    max-width: 250px;
    min-width: 100%;
  }

  .cards-section {
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: row wrap;
    gap: var(--spacing-md);
    padding: var(--spacing-xs);
    margin-top: var(--spacing-xs);
  }

  .hide {
    animation-name: hide !important;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    position: absolute !important;
    display: none !important;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    animation-name: show;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  .fav-link {
    position: absolute;
    right: 8px;
    border-radius: 100%;
    a {
      padding: 4px;
      border-radius: 100%;
      right: 0px;
    }
  }

  .fav-link .unfavorite_link:hover {
    animation: pulse-red 2s infinite;
  }

  .fav-link .favourite_link:hover {
    animation: pulse-green 2s infinite;
  }

  .data_card:hover {
    transition:
      background-color 0.5s ease,
      box-shadow 0.5s ease;
    box-shadow: var(--panel-shadow-hover);
    transition:
      background-color 0.5s ease,
      border 0.5s ease,
      box-shadow 0.5s ease,
      transform 0.3s ease;
    .filter_data {
      opacity: 1;
    }
  }

  .card-categories {
    width: 26px;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    border-top-left-radius: var(--border-radius-medium);
    border-bottom-left-radius: var(--border-radius-medium);
    background-color: var(--color-primary);
    position: absolute;
  }

  .data_card {
    position: relative;
    cursor: pointer;
    width: 240px;
    min-height: 26px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-radius-medium);
    background-color: var(--bg-foreground);
    padding: $standard_padding;
    padding-left: $standard_padding + 2.5;
    box-shadow: var(--panel-shadow);
    transition:
      background-color 0.5s ease,
      border 0.3s ease,
      box-shadow 0.3s ease,
      transform 0.3s ease;

    a {
      color: var(--text-color);
    }
  }

  .shared {
    background-color: $color-secondary-1-3;
  }

  .application_defined {
    background-color: $color-primary-4;
  }

  .filter_data {
    opacity: 0.6;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
    svg {
      opacity: 0.5;
      padding: 6px;
      width: 14px;
      height: 14px;
      fill: none;
      stroke: currentColor;
    }
  }

  .categories.unknown {
    color: #bbbbbb;
  }

  .categories.stable {
    color: #fdbd41;
  }

  .categories.prototype {
    color: #fc615d;
  }

  .categories.complete {
    color: #35c94a;
  }
}

.hub_section_label {
  display: flex;
  height: 34px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  justify-content: space-between;
  flex-direction: flex-start;
  align-items: center;
  margin-left: $standard_margin;
  margin-right: $standard_margin;
  border-bottom: 1px solid var(--border-color);
  text-align: center;
}
.hub_section_label h3 {
  font-size: var(--font-size-sm);
  color: #888;
  text-transform: uppercase;
}
