
// Styling particular to the hub controller and views

@import 'base/palette';
@import 'base/whitespace';

#task_carrousel {
  display: flex;
  flex-direction:column;
  justify-content:flex-start;

  .task-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: auto;
    height: auto;
    align-items: center;
  }

  .task_card {
    cursor: pointer;
    margin-left: 0px; 
    margin-top:$standard_margin; 
    margin-right: $standard_margin;
    width: 468px;
    min-height: 200px;
    border-radius: 2px;
    background-color: #FFF;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);  
    transition: transform 0.3s ease,
                box-shadow 0.3s ease; 
    .task_header {
      opacity: 0.5;
    }
  }

  .task_card:hover {
    transition: background-color 0.5s ease,
    box-shadow 0.5s ease;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,.3);
    transition: background-color 0.5s ease,
                transform 0.3s ease,
                box-shadow 0.3s ease;   
    .filter_data {
      opacity: 1;
    }
    .task_header {
      opacity: 1;
    }

  }  


  .task_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $navigation_border;
    padding: $standard_padding * 0.5;
    padding-left: $standard_padding;
    padding-right: $standard_padding;

    .status:first-letter {
      text-transform: uppercase;
      
    } 

    .categories {
      margin: 5px;
      font-size: 0px !important;
      width: 14px;
      height: 14px;
      background-repeat: no-repeat;
      background-size: 14px;
    }

    .source {
      background-image: image-url("book.svg");
    }

    .collecting_event {
      background-image: image-url("geo_location.svg");
    }

    .biology {
      background-image: image-url("biology.svg");
    }

    .taxon_name {
      background-image: image-url("new.svg");
    }

    .collection_object {
      background-image: image-url("picking.svg");
    }

  }

  .task_name {
    font-size: 18px;
    padding: $standard_padding; 
    a {
      color: $color-secondary-2-4;
    }

  }

  .task-header-left {
    display: flex;
    flex-direction:row;
    align-items:center;
  }

  .task-header-right {
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-end;
    a {
      margin-left: 5px;
    }
  }

  .task_description {
    font-size: 14px;
    font-weight: 300;
    padding-left: $standard_padding * 1.4;
    padding-right: $standard_padding * 1.4;
  }

  .navigation {
    display: flex;
    background-color: #FFF;
    box-shadow: 0px 1px 1px rgba(0,0,0,.2);
    flex-direction:row;
    justify-content:center;
    order:-1;
    align-items:center;
    min-height: 42px;
    min-width: 450px;
  }

  .navigation a {
    display: flex;
    cursor: pointer;
  }
  .navigation-arrows {
    display: flex;
    flex-direction: row;
  }
  .navigation-arrow {
    display: flex;
    padding: 5px;
  }  

  .more_tasks_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    min-height: 50px;
    bottom: 0px;
    margin: 0.5em;
    margin-bottom: 0px;
    cursor: pointer;
  }

  .no-tasks {
    display: none;
  }

  .task-nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;

    .task-nav-item {
      background-color: $navigation_border;
      border-radius: 2px;
      width: 15px;
      height: 15px;
      margin: 5px;
      cursor: pointer;
    }
    .active {
      background-color: $default_text;
      width: 17px;
      height: 17px;
    }
  }
  @media screen and (min-height:1000px) {
    .more_tasks_nav {
      position: fixed !important;
    }
  }  
}