@keyframes task-card-show {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#task_carrousel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .task-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: $standard_margin;
    margin-top: $standard_margin;
  }

  .show {
    display: flex !important;
    animation-name: task-card-show;
    animation-duration: 0.2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }

  .hide {
    display: none !important;
  }

  .task_card {
    cursor: pointer;
    display: none;
    flex-direction: row;
    position: relative;
    width: 420px;
    max-height: 180px;
    min-height: 160px;
    border-radius: var(--border-radius-medium);
    background-color: var(--panel-bg-color);
    color: var(--text-color);
    box-shadow: var(--panel-shadow);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;

    .task_header {
      opacity: 0.2;
      overflow: hidden;
    }

    a {
      flex-grow: 1;
    }

    .task-content {
      height: 100%;
      display: flex;
    }

    &:hover {
      box-shadow: var(--panel-shadow-hover);
      transition:
        background-color 0.5s ease,
        transform 0.3s ease,
        box-shadow 0.3s ease;

      .filter_data {
        opacity: 1;
      }

      .task_header {
        transition: opacity 0.5s ease;
        opacity: 1;

        .categories svg {
          stroke: #fff;
        }
      }
    }
  }

  .status {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  .task-information {
    padding: $standard_padding;
  }

  .fav-link {
    position: absolute;
    inset-inline-end: 6px;
    top: var(--spacing-sm);
    right: var(--spacing-sm);

    a {
      padding: 0;
      border-radius: 100%;
    }

    .unfavorite_link:hover {
      animation: pulse-red 2s infinite;
    }

    .favourite_link:hover {
      animation: pulse-green 2s infinite;
    }
  }

  .task_header {
    width: 34px;
    padding-top: 0.5rem;
    gap: 0.25rem;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    border-top-left-radius: var(--border-radius-medium);
    border-bottom-left-radius: var(--border-radius-medium);

    .status:first-letter {
      text-transform: uppercase;
    }

    .categories {
      font-size: 0px !important;
      width: 20px;
      height: 20px;
      min-height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 14px;
        height: 14px;
        stroke: var(--text-color);
        fill: none;
      }
    }
  }

  .task_name {
    font-size: 18px;
    max-width: 330px;

    a {
      color: $color-secondary-2-4;
    }
  }

  .task-header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .task-header-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    a {
      margin-left: 5px;
    }
  }

  .task_description {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    max-width: 350px;
    color: var(--text-color);
    padding-top: $standard_padding * 0.5;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    order: -1;
    min-height: 42px;
    min-width: 450px;
    padding: var(--spacing-sm);
    background-color: var(--panel-bg-color);
    border-radius: var(--border-radius-medium);

    a {
      display: flex;
      cursor: pointer;
    }
  }

  .navigation-arrows {
    display: flex;
    flex-direction: row;
  }

  .navigation-arrow {
    display: flex;
    padding: 5px;
  }

  .more_tasks_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    min-height: 50px;
    bottom: 0px;
    margin: 0.5em;
    margin-bottom: 0px;
    cursor: pointer;

    @media screen and (min-height: 1000px) {
      position: fixed;
    }
  }

  .no-tasks {
    display: none;
  }

  .task-nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--spacing-xs);

    .task-nav-item {
      background-color: var(--border-color);
      border-radius: var(--border-radius-xsmall);
      width: 16px;
      height: 16px;
      cursor: pointer;

      &.active {
        background-color: var(--text-color);
      }
    }
  }
}
