<%= form_with(model: gazetteer_import) do |form| %>
  <% if gazetteer_import.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(gazetteer_import.errors.count, "error") %> prohibited this gazetteer_import from being saved:</h2>

      <ul>
        <% gazetteer_import.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
