<h1>Editing gazetteer import</h1>

<%= render "form", gazetteer_import: @gazetteer_import %>

<br>

<div>
  <%= link_to "Show this gazetteer import", @gazetteer_import %> |
  <%= link_to "Back to gazetteer imports", gazetteer_imports_path %>
</div>
