<p style="color: green"><%= notice %></p>

<h1>Gazetteer imports</h1>

<div id="gazetteer_imports">
  <% @gazetteer_imports.each do |gazetteer_import| %>
    <%= render gazetteer_import %>
    <p>
      <%= link_to "Show this gazetteer import", gazetteer_import %>
    </p>
  <% end %>
</div>

<%= link_to "New gazetteer import", new_gazetteer_import_path %>
