@media print {
  .us_letter_page {
    font-size: 8pt;
    padding: 0em;
  }
}

#loan_recipient_form_loan_id {
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
  margin-top: 0.2cm;
}

#loan_recipient_form {
  margin: 0 auto;
  max-width: 1020px;

  .loan_address { 
    display:inline-block;
    max-width: 5cm;
  }

  #return_date {
    font-weight: bold;
  }

  .signature_line {
    margin-top: 50px;
    border-top: 1px solid #000;
    width: 200px;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
  }

  .comments {
    width: 100%;
    box-shadow: none;
    margin-bottom: 2em;
    td {
      padding: 0px;
      text-align: left;
      vertical-align: bottom;
      border-bottom: 1px dotted #000;
    }
    th {
      border-bottom: 2px solid #000;
      padding: 0px;
      font-weight: bold;
    }
    tr {
      height: 2em;
    }
  }

  #loan_header {
    margin-bottom: 1em;
  }

  #lender_details {
    text-align: right;
    li {
      list-style: none;
    }
  }

  #recipient_details {
    margin-bottom: 1em;
    max-width: 40%;
  }

  #loan_items {
    margin-top: 2em;
    table {
      box-shadow: none;
    }
    th {
      padding: 0px;
      border-bottom: 0px;
      font-weight: bold;
      border-bottom: 2px solid #000;
    }

    tr {
      height: 20px;
    }
    td {
      font-weight: normal;
      padding: 0px;
      font-size: 0.9em;
      border: none;
      border-bottom: 1px solid #000;
    }
  }
}
