<div id="container">
  <style>
      iframe {
          width: 1000px;
          height: 780px;
          margin: 0px;
          border: 2px solid #006060;

      }
  </style>

  <div >
    <!--<iframe id="da-iframe" src="http://www.museum.tulane.edu/nelson/gravier2.html"></iframe>-->
    <!--<iframe id="Iframe1" src="http://www.museum.tulane.edu/geolocate/web/webgeoreflight.aspx?points=40.091655|-88.241413|||757&gc=Tester"></iframe>-->
    <!--<iframe id="Iframe1" src="http://www.museum.tulane.edu/geolocate/web/webgeoreflight.aspx" style="width:600px; height:400px">
    </iframe>-->
    <iframe id="Iframe1" src="http://www.museum.tulane.edu/geolocate/web/webgeoreflight.aspx?country=USA&state=il&locality=City of Champaign&points=40.091622|-88.241179|Champaign|low|7000&georef=run|false|false|true|true|false|false|false|0&gc=Tester"></iframe>
    <p id="received-message">Listening for a message from GEOLocate.</p>
  </div>

</div>

