<div id="container">

  <div >
    <!--<iframe id="da-iframe" src="http://www.museum.tulane.edu/nelson/gravier2.html"></iframe>-->
    <iframe id="Iframe1" src="http://www.museum.tulane.edu/geolocate/web/webgeoreflight.aspx" style="width:600px; height:400px">
    </iframe>
    <p id="received-message">Listening for a message from GEOLocate.</p>
  </div>

</div>

