<div>

  <iframe id="tulane_iframe" src="http://www.museum.tulane.edu/geolocate/web/webgeoreflight.aspx" style="width: 1024px;"></iframe>
  <!-- Original request 
  <iframe id="tulane_iframe" src="http://www.museum.tulane.edu/geolocate/web/webgeoreflight.aspx?country=United States of America&state=Illinois&locality=Champaign&points=40.091622|-88.241179|Champaign|low|7000&georef=run|false|false|true|true|false|false|false|0&gc=Tester"></iframe>
-->


  <!-- without locality, with point request -->
  <!--<iframe id="tulane_iframe" src="http://www.museum.tulane.edu/geolocate/web/webgeoreflight.aspx?country=United States of America&state=Illinois&county=Champaign&points=40.091622|-88.241179||low|1000&georef=run|false|false|true|true|false|false|false|0&gc=Tester"></iframe>-->

  <!-- pointless with options request -->
  <!--<iframe id="tulane_iframe" src="http://www.museum.tulane.edu/geolocate/web/webgeoreflight.aspx?country=United States of America&state=Illinois&locality=Champaign&points=|||low|&georef=run|false|false|true|true|false|false|false|0&gc=Tester"></iframe>-->

  <!-- geographic_area string request -->
  <!--<iframe id="tulane_iframe" src="http://www.museum.tulane.edu/geolocate/web/webgeoreflight.aspx?country=United States of America&state=Illinois&county=Champaign"></iframe>-->

  <!-- geographic_area with point string request -->
  <!--<iframe id="tulane_iframe" src="http://www.museum.tulane.edu/geolocate/web/webgeoreflight.aspx?country=United States of America&state=Illinois&county=Champaign"></iframe>-->

  <!-- empty request -->
  <!--<iframe id="tulane_iframe" src="http://www.museum.tulane.edu/geolocate/web/webgeoreflight.aspx?country=&state=&county="></iframe>-->

</div>
