<div >
  <iframe id="tulane_iframe" src="http://www.museum.tulane.edu/geolocate/web/webgeoreflight.aspx?country=USA&state=il&locality=City of Champaign&points=40.091622|-88.241179|Champaign|low|7000&georef=run|false|false|true|true|false|false|false|0&gc=Tester"></iframe>
</div>
