<%= content_for :head do -%>
	<script type="text/javascript">
	    function displayMessage(evt) {
	        var message;
	        if (evt.origin !== "http://www.museum.tulane.edu") {
	            message = "iframe url does not have permision to interact with me";
	        }
	        else {
	            message = "From GEOLocate @ " + evt.origin + "<br />" + evt.data + "<br /><br />Parsed Results:<br />";

	            var breakdown = evt.data.split("|");
                if (breakdown.length == 4)
                {
                    message += "Lat:" + breakdown[0] + "<br />";
                    message += "Lon:" + breakdown[1] + "<br />";
                    message += "Uncertainty Radius (meters):" + breakdown[2] + "<br />";
                    message += "Uncertainty Polygon:" + breakdown[3] + "<br />";
                }
	            
          }

          // You'll have to break down the response and assign it to individual variables rather than message
          // Assign the results to a form, like this, you could make the fields hidden.
          document.getElementById("georeference_api_request").value = "some var set above";
          // document.getElementById("received-message").innerHTML = message;
      }


	    if (window.addEventListener) {
	        // For standards-compliant web browsers
	        window.addEventListener("message", displayMessage, false);
	    }
	    else {
	        window.attachEvent("onmessage", displayMessage);
	    }
	</script>
<% end %>

<h1>New georeference</h1>

<%= render 'form' %>


<%= render 'geolocate_iframe' %>

<%= link_to 'Back', georeferences_path %>
