<h1>Tagged Section Keywords</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tagged_section_keywords.each do |tagged_section_keyword| %>
      <tr>
        <td><%= link_to 'Show', tagged_section_keyword %></td>
        <td><%= link_to 'Edit', edit_tagged_section_keyword_path(tagged_section_keyword) %></td>
        <td><%= link_to 'Destroy', tagged_section_keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tagged section keyword', new_tagged_section_keyword_path %>
