
// Styling particular to the hub controller and views

@import 'workbench/palette';
@import 'workbench/whitespace';

#data_cards {

  display: flex;
  justify-content: center;
  align-items: top;

  .data_section {
    background-color: #fafafa;
    display: flex;
    justify-content:flex-start;
    flex-direction:column;   
    width:250px; 
    border-radius: 3px;
    border: 1px solid $navigation_border;
    margin: 1em;
    //height: 350px;
  }

  .data_section_label {
    font-size: 18px;
    padding: 1em;
    display: flex;
    justify-content:space-between;
    flex-direction:flex-start;
    align-items:center;
    border-bottom: 1px solid $navigation_border;
    text-align: center;
  }

  .cards-section {
    //order: 0; //header bottom
    order:1; //header top
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    flex-flow: row wrap;
    box-shadow: 0px 1px 2px 0px #CECECE;
    padding: 0.5em;
  }

  .card-container {
    flex-direction:row;
    align-items:center;

    display: none;
  }

  .data_card {
    width: 200px;
    background-color: #FFF;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    border-radius: 3px;
    border: 1px solid $navigation_border;
    margin: 0.5em;
    padding: 1em;
    font-size: 12px;
  }

  .data_card a {
    display: flex;
    flex-direction:row;
  }

  .data-controls {
    order:2;
  }

  .status {
    margin: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 0.5px solid $navigation_border;
  }  

  .prototype {
    background-color:#444;
  }

  .unknown {
    background-color: #DDD;
    border-color: #999;
  }

}
