
// Styling particular to the hub controller and views

@import 'workbench/palette';
@import 'workbench/whitespace';

#data_cards {

  display: flex;
  justify-content: center;

  align-items: top;

  .data_section {
    background-color: #FFF;
    display: flex;
    justify-content:flex-start;
    flex-direction:column;   
    width:250px; 
    border-radius: 3px;
    box-shadow: 0 0px 3px 0 $navigation_border;
    margin: 0.5em;
  }

  .data_section_label {
    display: flex;
    height: 40px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    justify-content:space-between;
    flex-direction:flex-start;
    align-items:center;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid $navigation_border;
    text-align: center;
  }

  .favorite-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1010px;
  }

  .cards-section {
    order:1;
    display: flex;
    flex-direction:row;
    justify-content:center;
    flex-flow: row wrap;
    padding: 0.5em;
  }

  .card-container {
    flex-direction:row;
    align-items:center;
    margin: 0.5em;
    display: none;
    [data-method="post"] {
      display: none;
    transition: background-color 0.5s ease,
                box-shadow 0.5s ease;      
    }
  }

  .data_card:hover {
    transition: background-color 0.5s ease,
                box-shadow 0.5s ease;
    background-color: $navigation_background;
    box-shadow:inset 0px 1px 5px 0px $navigation_border;
    img {
      opacity: 1;
      width: 14px;
      margin-left:5px;
    }
  }

  .data_card {
    cursor: pointer; 
    cursor: hand;
    width: 195px;
    display: flex;
    flex-direction:row-reverse;
    align-items:center;
    justify-content:space-between;
    font-weight: 100;
    border-radius: 3px;
    border: 1px solid $navigation_border;
    padding: 12px;
    background-color: $color-secondary-2-1;
    box-shadow: 0 0px 3px 0 $navigation_border;    

    transition: background-color 0.5s ease,
                box-shadow 0.5s ease;    
  }

  .shared {
    border:1px solid $color-secondary-1-3;
    box-shadow: 0 0 3px 0 $color-secondary-1-3;
    a {
      color: $color-secondary-1-4;
    }
  }

  .application_defined {
    border:1px solid $color-primary-1;
    box-shadow: 0 0 3px 0 $color-secondary-1-3;
  }

  .data_card a {
    display: flex;
    flex-direction:row;
  }

  .data-controls {
    order:2;
  }

  .status {
    display: flex;
    flex-direction:row;
    img {
      opacity: 0.5;
      width: 14px;
      margin-left:5px;
    }
  }  

  .prototype {
    //background-color:#444;
  }

  .unknown {
    //background-color: #DDD;
    //border-color: #999;
  }

  @media screen and (min-width: 1339px) {
      .data_section {
          width: 1300px !important;
      }
  }

  @media screen and (min-width: 1024px) and (max-width: 1338px) {
      .data_section {
          width: 500px !important;
      }
  }  

  @media screen and (min-width: 1023px) and (max-width: 800px) {
      .data_section {
          width: 250px !important;
      }
  }    

}
