
// Styling particular to the hub controller and views

@import 'workbench/palette';
@import 'workbench/whitespace';

#task_carrousel {
  display: flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items: center;

  .task_card {
    border: 1px solid $navigation_border;
    margin: 0.5em;
    width: 450px;
    border-radius: 3px;
    background-color: $color-secondary-2-1;
    box-shadow: 0 0px 3px 0 $navigation_border;
  }

  a {
    color: $default_text;
  }

  .task_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $navigation_border;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;

    .status:first-letter {
      text-transform: uppercase;
      
    }

    .status {
      box-shadow: 0 0 3px 0 $navigation_border;
      border-radius: 50%;
      font-size: 0px;
      width: 12px;
      height: 12px;
    }

    .unknown {
      box-shadow: 0 0 1px 0 #adadad;
      border:0.5px solid #adadad;
      background-color: #bbbbbb;
    }

    .stable {
      box-shadow: 0 0 1px 0 #de9f34;
      border:0.5px solid #de9f34;
      background-color: #fdbd41;
    }    

    .prototype {
      box-shadow: 0 0 1px 0 #ef4b47;
      border:0.5px solid #ef4b47;      
      background-color: #fc615d;
    }   

    .complete {
      box-shadow: 0 0 1px 0 #27aa35;
      border:0.5px solid #27aa35;
      background-color: #35c94a;
    } 

    .categories {
      margin: 5px;
      text-align: center;
      font-size: smaller;
    }
  }
    
    .task_name {
      font-size: 18px;
      padding: 1em; 
    }

    .task-header-left {
      display: flex;
      flex-direction:row;
      align-items:center;
    }

      .task-header-right {
        display: flex;
        flex-direction:row;
        align-items:center;
        justify-content:flex-end;
        a {
          margin-left: 5px;
        }
      }

  .task_description {
    font-size: 14px;
    font-weight: 100;
    padding: 0em 2em 1em 2em;
  }

  .navigation {
    display: flex;
    flex-direction:row;
    justify-content:center;
    order:-1;
    align-items:center;
  }

  .navigation a {
    display: flex;
  }

  .navigation-arrow {
    display: flex;
    padding: 5px;
  }  
}
