
// Styling particular to the hub controller and views

@import 'workbench/palette';
@import 'workbench/whitespace';

#task_carrousel {
  display: flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items: center;

  .task_card {
    border: 1px solid $navigation_border;
    margin: 1em;
    width: 500px;
    border-radius: 3px;
    background-color: #FFF;
    box-shadow: 0 1px 2px 0 $navigation_border;
  }

  // should be a flexbox?! 


  .task_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid $navigation_border;
    padding: 0.5em;

    .status {
      .unknown {
      }
    }

    .status:first-letter {
      text-transform: uppercase;
    }

    .categories {
      margin: 5px;
      flex-basis: 50px;
      text-align: center;
      font-size: smaller;
      
      .collecting_event {

      }
    }
  }

      .source {
        color:blue;
      }

      .taxon_name {
        color:green;
      }  
      .collection_object {
        color: purple;
        text-align: right;
      } 

      .collecting_event {
        color: green;
        justify-content:center;
        text-align: right;
      }       

    .task_name {
      font-size: 18px;
      padding: 1em; 
    }


      .task-header-left {
        display: flex;
        flex-direction:row;
        align-items:center;
      }

      .task-header-right {
        display: flex;
        flex-direction:row;
        align-items:center;
        justify-content:flex-end;
      }

  .task_description {
    font-size: 14px;
    font-weight: 100;
    padding: 0em 2em 1em 2em;
  }

  .category-buttom {
    display: flex;
    flex-direction:column;
  }

  .box-status {
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
  }

  .circle {
    margin: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 0.5px solid;
  }

  .red-circle {
    @extend .circle;
    background-color: red;
    border-color: #c72b2b;
  }

  .gray-circle {
    @extend .circle;
    background-color: #DDD;
    border-color: #999;
  }

  .yellow-circle {
    @extend .circle;
    background-color: yellow;
    border-color: #c7be2b;
  }

  .green-circle {
    @extend .circle;
    background-color: green;
    border-color: #7fc72b;
  }

  .navigation {
    display: flex;
    flex-direction:row;
    justify-content:center;
    order:-1;
    align-items:center;
  }

  .navigation a {
    display: flex;
  }

  .navigation-arrow {
    display: flex;
    padding: 5px;
  }  

  .task_carrousel a[data-filter-category="source"] {
    color: red;
  }

}
