<p>
  <strong>Matrix:</strong>
  <%= matrix_link(@matrix_row.matrix) %>
</p>

<p>
  <strong>Otu:</strong>
  <%= otu_link(@matrix_row.otu) %>
</p>

<p>
  <strong>Collection Object:</strong>
  <%= collection_object_link(@matrix_row.collection_object) %>
</p>