<%= link_to 'Back', observation_matrix_view_task_path(observation_matrix_id: @observation_matrix.id) -%>

<div class="otu_contents">
  <%= render partial: 'observation_matrices/export/otu_contents/otu_contents', locals: { as_file: true } %>
</div>