<p>
<strong>Name:</strong>
<%= @gazetteer.name -%>
</p>

<p>
  <strong>Iso 3166 a2:</strong>
  <%= @gazetteer.iso_3166_a2 %>
</p>

<p>
  <strong>Iso 3166 a3:</strong>
  <%= @gazetteer.iso_3166_a3 %>
</p>
