<h1>Editing gazetteer</h1>

<%= render "form", gazetteer: @gazetteer %>

<br>

<div>
  <%= link_to "Show this gazetteer", @gazetteer %> |
  <%= link_to "Back to gazetteers", gazetteers_path %>
</div>
