<p style="color: green"><%= notice %></p>

<h1>Gazetteers</h1>

<div id="gazetteers">
  <% @gazetteers.each do |gazetteer| %>
    <%= render gazetteer %>
    <p>
      <%= link_to "Show this gazetteer", gazetteer %>
    </p>
  <% end %>
</div>

<%= link_to "New gazetteer", new_gazetteer_path %>
