<h1> Dashboard </h1>

<h2> Signed in as <%= user_tag(sessions_current_user) -%> </h2>

<div class='flexbox'>
  <div class='item item1'>
    <section> 
      <h2> Projects </h2>
      <ul> <%= projects_list(@projects) -%> </ul>
    </section>
  </div>
  <div class='item item2'>
    <aside> 
      <h2> Preferences </h2>
      <ul> 
        <li> <%= link_to('order hub tabs', order_tabs_hub_path ) -%> </li>
      </ul>
    </aside>

  </div>
  <div class='item item3'>
    <%= render partial: '/pinboard_items/pinboard' -%>
  </div>
</div>

