<div id="dashboard">
  <div class="flexbox panels-container  gap-medium">
    <div class="item item1 column-tiny">
      <div class="panel">
        <div class="title nav-line">
          <span data-icon="folders"></span>
          <span>Projects</span>
        </div>
        <div class="content space-distance">
          <ul class="no_bullets">
            <%= projects_list(@projects) -%>
          </ul>
        </div>
      </div>
    </div>

    <div class="item item1 column-big ">
      <div class="panel">
        <div class="title nav-line">
          <span data-icon="openFolder"></span>
          <span>Data Overview</span>
        </div>
        <div class="content space-distance">
          <ul class="no_bullets">
            <%= content_tag :li, link_to('Created', data_user_path(sessions_current_user, target: :created),  data: { turbolinks: false } ) -%>
            <%= content_tag :li, link_to('Updated', data_user_path(sessions_current_user, target: :updated),  data: { turbolinks: false } ) -%>
          </ul>
        </div>
      </div>
    </div>

    <div class="item item3 column-tiny ">
      <div class="panel">
        <div class="title action-line">
          <span data-icon="options" class="inline"></span>
          <span>Preferences</span>
        </div>
        <div class="content space-distance">
          <ul class="no_bullets">
            <% if sessions_current_project_id -%>
              <li><%= link_to('Order hub tabs', order_tabs_hub_path ) -%></li>
            <% else %>
              <li><em>Preferences available when project is set.</em></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
