<%= form_tag find_similar_serials_task_path do %>

    <h2>Find serials with similar names</h2>

    <strong>Made it here!</strong>
    <p> Do I need to use a partial?  - probably have 2 partials - one for find box and one for results </p>

    <div>
      <div class="field">
        <%= label_tag :enter_a_search_string %>
        <%= text_field :search_string, :str %>
      </div>
    </div>

<% end %>
