<div class="attributes">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @ranged_lot_category.name %>
  </p>

  <p>
    <strong>Minimum value:</strong>
    <%= @ranged_lot_category.minimum_value %>
  </p>

  <p>
    <strong>Maximum value:</strong>
    <%= @ranged_lot_category.maximum_value %>
  </p>
</div>
