---
apiVersion: v1
kind: Secret
metadata:
  name: taxonworks
  namespace: tw
type: Opaque
data: # echo -n foo | base64
  db.root.password: dGF4b253b3Jrcw==    # taxonworks 
  db.user: dGF4b253b3Jrc19wcm9kdWN0aW9u # taxonworks_production 
  db.user.password: dGF4b253b3Jrcw==    # taxonworks 
  secret_key_base: cGFzc3dvcmQ=         # password (replace with `rake secret`)
  nginx.secret: bmdpbnhfc2VjcmV0        # nginx_secret 
