<div>
  <p>Signed in as user <%= sessions_current_user.email %></p>
  <ul>
    <li><%= link_to 'Your account', sessions_current_user %></li>
    <li><%= link_to 'Sign out', signout_path, method: 'delete' %></li>
  </ul>
</div>
