<header>
  <div class="left_float" ><%= taxonworks_link -%></div>
  <div class="center_text">
    <ul class='horizontal_navbar right_float'> 
      <%=  session_header_links.collect{|l| content_tag(:li, l)}.join.html_safe -%> 
      <span class="subtle"> <%= @sessions_current_user.name -%> </span>
    </ul>
  </div>
  <br class='clear_both'>  
</header>
