<header>
  <div>
    <div class='left_float'> 
      <%= taxonworks_link -%>
    </div>

    <ul class='horizontal_navbar right_float'> 
      <%=  session_header_links.collect{|l| content_tag(:li, l)}.join.html_safe -%>
    </ul>
    <br class='clear_both'>  
  </div>
</header>
