<div id="login-container">
  <div class="logo"></div>
    <div class="logo-text"></div>
  <div class="box-login">
    <h3>Your account requires the password to be reset.</h3>
    <h3>Press the button to begin the process.</h3>
    <%= form_tag(send_password_reset_path) do %>
      <div>
        <div class="field">
          <input name="email" type="hidden" value=<%= @user.email %> />
        </div>
        <%= submit_tag('Send e-mail', "class" => "big-input button button-request") %>
      </div>
    <% end %>
  </div>
</div>