<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @dataset_record.data %>
</p>

<%= link_to 'Edit', edit_dataset_record_path(@dataset_record) %> |
<%= link_to 'Back', dataset_records_path %>
