<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @dataset_record.data_fields %>
</p>

<%= link_to 'Edit', edit_import_dataset_dataset_record_path(@dataset_record) %> |
<%= link_to 'Back', import_dataset_dataset_records_path %>
