<div class="attributes">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Citation object:</strong>
    <%= object_link(@citation.citation_object) %>
  </p>

  <p>
    <strong>Citation object type:</strong>
    <%= @citation.citation_object_type %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= object_link(@citation.source) %>
  </p>

</div>