<h1>Editing source</h1>

<%= render 'form' %>

<%= link_to 'Show', @source.metamorphosize %>

<div id="validation-panel" class="panel separate-left separate-bottom">
  <div class="content">
    <%= render( partial: '/shared/data/all/show/soft_validation', locals: {object: @source} ) -%>
  </div>
</div>

