<h1>Editing source</h1>

<%= link_to 'Show', @source.metamorphosize, id: :top_show %>
<%= render 'form' %>
<%= link_to 'Show', @source.metamorphosize, id: :bottom_show %>

<div id="validation-panel" class="panel separate-left separate-bottom">
  <div class="content">
    <%= render( partial: '/shared/data/all/show/soft_validation', locals: {object: @source} ) -%>
  </div>
</div>

