#cite_otus {
  position: relative;
  #select-citation {
    color: $default_text;
    label {
      font-size: $font_normal;
    }
    input {
      width: 100%;
    }
  }
  #recent_list {
    .circle-button {
      display: none;
    }
    .slide-panel-category-item:hover {
      .circle-button {
        display: block;
      }
    }
  }
  .modal-container {
    width: 600px;
    .vue-autocomplete {
      input, ul {
        width: 600px;
      }
    }
  }
  #topic-list {
    ul {
      width: 200px;
      padding-left: $standard_padding;
      border-right: 1px solid $navigation_border;
    }

    ul:last-child {
      border-right: none;
    }
    .topics {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      padding: 0px;
      padding-right: $standard_padding;
    }
  }
  .title-citations {
    color: #888;
    font-size: 14px;
  }
  #source-picker, #otu-picker {
    border-bottom: 1px solid $navigation_border;
    button {
      width: 100px;
    }
  }
  .title {
    padding-left: 2em;
    border-bottom: 1px solid $navigation_border;
    height: 60px;
  }
  .slide-panel {
    top: 0px;
    position: relative;
    z-index: 100;
    .slide-panel-header {
      font-weight: 500;
      color: #42b983;
      background-color: #FFF;
      border-bottom: 1px solid $navigation_border;
      padding-right: $standard_padding;
    }
    .slide-panel-category-item:hover {
      cursor: pointer;
    }
  }
  #delete-citation {
    padding: 25px;
    max-width: 40px;
    margin-left: $standard_margin * -1;
    background-repeat: no-repeat;
    background-position: center;
    button {
      background-size: 20px 20px;
      background-image: image-url('trash.svg');
    }
  }
  #delete-citation:hover {

  }
}
