# The array below specifies the proportion of specs that are assigned to each worker.
# PLEASE USE FRACTIONAL NUMBERS. Example: (1/10 3/10 1/2 1/10 1/10)
# Make sure you specify as much items as there are workers.

TEST_WORKERS_PROPORTIONS=(1/5 1/10 7/30 7/15)
