<h1>Task: New Asserted Distribution by Map</h1>
<p>
  OTU: <%= OtusHelper.otu_tag(@otu) %>
  <%= link_to('back', otu_path(@otu)) %>
</p>
<%= render(partial: 'map_header', locals: {otu: @otu}) -%>

<div id="map_canvas" style="width:512px; height: 256px;"></div>
<span id="map_coords"></span>


