<%= content_for :do do -%>
    <p>
      <%= link_to('Add New Asserted Distribution by Map', new_asserted_distribution_task_path(@otu.to_param)) %>
    </p>
<% end %>

<%= render(partial: 'shared/data/project/show', locals: {object: @otu}) -%>
