<div class="attributes">
  <p>
    <strong>Name:</strong>
    <%= @serial.name %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= @serial.publisher %>
  </p>

  <p>
    <strong>Place published:</strong>
    <%= @serial.place_published %>
  </p>

</div>
