<h1>New Georeference::VerbatimData</h1>

<em class="warning"> The verbatim georeference failed to save, try <%= link_to('editing', edit_collecting_event_path(@georeference.collecting_event) -%> the verbatim latitude and longitude values. </em>

<%= render('shared/errors', object: @georeference) %>




