.idea
*.tmp
*~
*.bak
*.swp
*.swo
.DS_store
.byebug_history
.otto*
*.orig
*.sql
.ruby-version

config/database.yml
config/secrets.yml
config/application_settings.yml

tags
node_modules

.ruby-gemset
.bundle
bin
bundle_bin

log
tmp

doc
.yardoc
coverage

REVISION

public/images/tmp
public/system
public/index.html

.git
spec
travis
k8s




