.idea
*.tmp
*~
*.bak
*.swp
*.swo
.DS_store
.byebug_history
.otto*
*.orig
*.sql
*.md
*.orig
.DS_Store

/tags
tags/
.bundle_bin/

spec

config/database.yml
config/secrets.yml
config/application_settings.yml

.ruby-gemset
.bundle
.yardoc
.git

log
tmp
doc
coverage
volumes
downloads

node_modules

REVISION

public/images/tmp
public/system
public/index.html
public/packs-test
public/packs
public/assets

spec
.github
k8s
