.idea
*.tmp
*~
*.bak
*.swp
*.swo
.DS_store
.byebug_history
.otto*
*.orig
*.sql
.ruby-version

database.yml
secrets.yml
application_settings.yml

tags
node_modules

.ruby-gemset
.bundle

bundle_bin

log
tmp
index.html

doc
.yardoc
coverage

REVISION

public/system
public/images/tmp
public/assets
public/packs

.git
spec
travis
k8s




