language: ruby
cache: 
  bundler: true
  yarn: true
  directories:
    - $TRAVIS_BUILD_DIR/node_modules
dist: trusty
sudo: required
rvm:
  - 2.3.3
bundler_args: --without development
branches:
  only:
    - master
    - Rails-5.0
    - development
addons:
  postgresql: "9.5"
  firefox: "53.0.3"
before_install:
  - sudo apt-get install -y postgresql-9.5 postgresql-contrib-9.5 libgeos-dev libproj-dev postgresql-9.5-postgis-2.2 postgresql-9.5-postgis-2.2-scripts 
  - nvm install node
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 0.24.6
  - export PATH=$HOME/.yarn/bin:$PATH
install:
  - bundle install
  - yarn
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3
  - cp config/database.yml.travis config/database.yml
  - cp config/secrets.yml.example config/secrets.yml
  - mkdir tmp/
  - mkdir tmp/downloads 
  - psql -U postgres -c 'create role taxonworks_development login createdb superuser;' 
  - bundle exec rake assets:precompile RAILS_ENV=test  
  - bundle exec rake db:drop  
  - bundle exec rake db:create
  - bundle exec rake db:migrate HPS_ENV=test
notifications:
  email:
    - diapriid@gmail.com 
  on_failure: change
