language: ruby
rvm:
  - 2.0.0
bundler_args: --without development
branches:
  only:
      - postgres
before_install: 
  - sudo /etc/init.d/postgresql stop
  - sudo cp /etc/postgresql/9.1/main/pg_hba.conf ./
  - sudo apt-get remove postgresql postgresql-9.1 -qq --purge
  - source /etc/lsb-release
  - echo "deb http://apt.postgresql.org/pub/repos/apt/ $DISTRIB_CODENAME-pgdg main" > pgdg.list
  - sudo mv pgdg.list /etc/apt/sources.list.d/
  - wget --quiet -O - http://apt.postgresql.org/pub/repos/apt/ACCC4CF8.asc | sudo apt-key add -
  - sudo apt-get update
  - sudo apt-get install libgeos-dev libproj-dev 
  - sudo apt-get install libgeos++-dev
  - sudo apt-get -o Dpkg::Options::="--force-confdef" -o Dpkg::Options::="--force-confnew" install postgresql-9.2 postgresql-contrib-9.2 -qq
  - sudo apt-get -o Dpkg::Options::="--force-confdef" install postgresql-9.2-postgis -qq
before_script:
  - cp config/database.yml.example config/database.yml
  - rake db:create:all
  - rake db:migrate
