.compare-content{
    width: 800px;
    margin: 0 auto;

    .compare-table {
        width: 100%;

        .compare-table-row {
            width: 100%;

            .compare-table-column-old {
                background-color: #FFECEC;
            }

            .compare-table-column-new {
                background-color: #EAFFEA;
            }
        }
    }
}

.highlighted {
    background-color: gray;
}

p {
    padding: 0px 10px;
}

table, th, td {
    border: 1px solid black;
}

td {
    width: 50%;
}

// #FFECEC red
// #EAFFEA green
// #F8CBCB darker red
// #A6F3A6 darker green