// #FFECEC red
// #EAFFEA green
// #F8CBCB darker red
// #A6F3A6 darker green

.compare-content{
    width: 800px;
    margin: 0 auto;

    .compare-table {
        width: 100%;

        .compare-table-row {
            width: 100%;
        }
    }
}

.highlight-deleted {
    background-color:#F8CBCB;
}

.highlight-added {
    background-color: #A6F3A6;
}

.row-modified-deleted {
    background-color: #FFECEC;
}

.row-modified-added {
    background-color: #EAFFEA;
}

table, th, td {
    border: 1px solid black;
}

td {
    width: 50%;
}