.papertrail_box {
  background-color: #FCFCFC;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0px 3px 0 #e5e5e5;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  transition: background-color 0.5s ease;
}

.papertrail_box:hover{
  background-color: lightgray;
}