#new_taxon_name_task {
.sortable-chosen {
	//position:fixed;
}

.original-combination {
	display: flex;
	flex-direction: row;
	width:600px;
	.rank-name-label {
		width: 100px;
		margin-right: 4px;
		max-width: 100px;
		text-align: right;
		vertical-align: middle;
		line-height: 40px;
	}
	.row, .current-name {
		height: 40px;
	}
	.current-name {
		background-color: rgb(255,255,0);
	}
}
	.modal-header {

		h3 {
			margin: 2em;
			margin-right: 0px;
			margin-top: 0px;
			padding: 6px;
			padding-left:12px;
			border-radius: 3px;
			background-color: rgba(0, 0, 0, .3);
			color: rgba(255, 255, 255, .5);
		}
	}
		.modal-close {
			right: 42px;
			top:30px;
		}
		.modal-container {
			width: 70%;
			position: relative;
			background-color: transparent !important;
			box-shadow: none;

			.modal-body {
				overflow: auto;
				margin-right: 1em;
				max-height: 80vh;
			&::-webkit-scrollbar {
				position: absolute;
				right:40px;
			    -webkit-appearance: none;
			}

			&::-webkit-scrollbar:vertical {
			    width: 6px;
			}

			&::-webkit-scrollbar:horizontal {
			    height: 6px;
			}

			&::-webkit-scrollbar-thumb {
			    border-radius: 8px;
			    width: 11px;
			    height: 5px;
			    border: rgba(255, 255, 255, .5); /* should match background, can't be transparent */
			    background-color: rgba(255, 255, 255, .5);
			}

			&::-webkit-scrollbar-track { 
			    background-color: rgba(0, 0, 0, .3);
			    border-radius: 8px; 
			} 
			}
		}
		
		button:disabled {
			background-color: transparent;
			border-color: rgba(0,0,0,0.2);
		}

		.tree-status {
			list-style: none;
			li {
				margin-top:6px;
				button:first-letter {
					text-transform: capitalize;
				}
			}
		}
}