<%= render(partial: 'layouts/map_header') %>
<h1>Task: Alphabetical list of localities by area. </h1>
<div class="flexbox">
  <div class="item item2">
    <div id="_select_ce_form">
      <%= form_tag('list') do %>
          <%= render(partial: 'shared/data/gis/area_selector',
                     locals:  {passed_in_tag_id:    'geographic_area_id_for_new_locality_list',
                               selection_objects:   ['CollectingEvent'],
                               drawing_modes:       'active: polygon, circle',
                               shown_georeferences: []}) %>
          <%= submit_tag('Show', id: 'send_report_params') %>
      <% end %>
    </div>
  </div>
</div>
