<h1>Task: Collecting Event - Locality names by area </h1>
<div class="flexbox">
  <div class="item item1">

  </div>
  <div class="item item2">
    <%= render partial: 'locality_list', locals: {object: @collecting_events} -%>
  </div>
</div>
