<p>
<%= "Total selected collecting events: #{@collecting_events.count}" %><br>
<%= "Collecting events without a verbatim locality: #{missing_verbatim_locality_count(@collecting_events)}" %>
</p>

<% if @collecting_events.any -%>
  <% az_range.each do |letter| %>
    <div>
      <%= content_tag(:b, letter) -%><br>
      <ul> 
        <% select_locality(letter).each do |ce| %>
          <li> <%= link_to(ce.verbatim_locality, ce) %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
