<div class="object_pane">
  <h3> Data attributes </h3>
  <ul>
    <% object.data_attributes.each do |data_attribute| -%>
      <li> <%= data_attribute_tag(data_attribute) -%> </li>
    <% end %>
  </ul>

  <%= content_tag(:em, 'No data_attributes.') if !object.data_attributes.any? -%>
</div>
