<table>
  <tr>
    <th>OTU</th>
    <th>Geographic area</th>
  </tr>

  <tbody>
    <% source.asserted_distributions.find_each do |ad| -%>
      <tr> 
        <%= content_tag(:td, link_to(otu_tag(ad.otu), ad.otu, target: :_blank)) -%>
        <%= content_tag(:td, link_to(geographic_area_tag(ad.geographic_area), ad.geographic_area, target: :_blank)) -%>
      </tr>
    <% end %>
  </tbody>
</table>

