
<div class="counts">

  <% @biocuration_groups.each_with_index do |bg, i| %>
    <%= render 'attribute_row', locals: {i: i, bg: bg}  %>

    <div id="blorf" >here </div>

    <%= link_to("foo", "#",
                'data-insert-content' => CGI.escapeHTML(render 'attribute_row'),
                'data-insert-content-target' => 'div#blorf',
                'data-insert-content-parent' =>".subform" ) -%>
            <% end %>
          </div>

<% if @biocuration_groups.count == 0 -%> <div class='item item1'> Total: <%= number_field_tag("collection_objects[object1][total]") %> </div> <% end %> 
