<h1>Task: Authors - Alphabetical</h1>


<%=	 ('A'...'Z').each {|letter| %>
      <%=	 link_to("\##{letter} | ") %>
<%	} %>

<%= @author_index_list.each {|author| %>
    <p><%= "#{author.last_name}" %></p>
<% } %>
