<h1>Task: Authors - Alphabetical</h1>

<%= '| ' -%>
<% ("A".."Z").each do |letter| %>
    <%= link_to("#{letter}") + ' |' -%>
<% end %>

<% @author_index_list.each do |author| %>
    <p><%= "#{author.last_name}" %></p>
<% end %>
