<div class="panel panels-container">
  <div class="title nav-line">
    Task: Authors - Alphabetical
  </div>
  <%= a_to_z_links -%>
</div>

<div class="panel">
  <div class="content">
    <% a_to_z_range.each do |letter| %>
      <a name='<%= "#{letter}" %>'></a>
      <%= letter_color(letter).html_safe %>
      <p>
      <ul class="no_bullets">
        <% select_authors(letter).each do |author| %>
          <li><%= link_to(author.last_name, author_source_list_task_path(author)) %></li>
        <% end %>
      </ul>
      </p>
    <% end %>
  </div>
</div>
<!--<%# @author_index_list.each do |author| %>-->
<!--<p><%#= "#{author.last_name}" %></p>-->
<!--<%# end %>-->
