<div>
  <h2> BibTeX batchload </h2>
  <div class="flexbox">
    <div class="item item1 one_third_width">
      <h3> Description and requirements </h3> 
      <p> Creates one or more sources from a BibTex formatted dump  <em> A text file with unix line endings is required.</em>  </p> 
    </div>

    <div class="item item2">
      <h3> Example file </h3> 
      <pre class="fixed_width_font">
@ARTICLE{mclaughlin_etal_2007,
  author = { mclaughlin, Mclaughlin and  lemaitre, Lemaitre and  sorhannus,
      Sorhannus},
  title = {Hermit crab phylogeny: A reappraisal and its fall-out},
  journal = {Journal of Crustacean Biology},
  year = {2007},
  volume = {1},
  pages = {9711},
}
.... and repeat ...      
      </pre>
    </div>

    <div class="item item3">
      <h3> Go! </h3> 

      <%= form_tag preview_bibtex_batch_load_sources_path, multipart: true do -%>
        Select a file <%= file_field_tag :file -%> 
      <%= submit_tag 'preview' -%> 
    <% end %>  
  </div>
  </div>
</div>

