<h2>Show roles for
  <%= @person.name %></h2>

<%#= when uncommented, this will throw an error %>

<% @person.roles.group_by{|a| a.class.human_name}.each do |group, roles| %>
    <h3><%= group -%></h3>
      <% roles.each do |role| -%>
          <%= object_link(role.role_object) -%>
      <% end %>
<% end %>