# routes added to <%= table_name %> by batch_load generator
resource :<%= table_name %> do
  collection do
    post :preview_<%= batch_loader_name %>_batch_load
    post :create_<%= batch_loader_name %>_batch_load
  end
end
