<div id="ce_parse_lat_long">
  <h1>Task Stepwise collecting event parser - Latitude/Longitude</h1>
  <div class="flex_wrap-row">
    <div class="item item1">
      <h1><%= @collecting_event.id unless @collecting_event.nil? %></h1>
      <%= show_ce_vl(@collecting_event) %>
      <!--<h2>CollectingEvent#VerbatimLabel</h2>-->
    </div>
    <div class="item item2">

    </div>
  </div>
</div>
