# This configuration file determines what is shown per object radial
#
# The values here are returned as JSON via /metadata/radial/:klass
#
# Valid attributes (* required)
#   tasks*: - A named task (see user_tasks.yml) !! Limit this to 3 or 4
#   recent: - defaults to true if not provided, if false no recent list is shown
#   edit: over-ride data->edit
#   new: over-ride data->new
#   home: where requested, use this path rather than show (?! Not implemented !?)
#   destroy_redirect: if destoyed, go here
#
# `:config:`
#    recent: true !! TODO: what is this?!
#
# `:tasks` should be ordered consistently when possible:
#    * hub
#    * show
#    * edit
#    * filter
#    * most commonly used 1
#    * most commonly used 2
#
---
AnatomicalPart:
  tasks:
    - anatomical_parts_graph_task
    - filter_anatomical_parts_task
AssertedDistribution:
  tasks:
    - asserted_distributions_basic_endemism_task
    - new_asserted_distribution_task
    - browse_asserted_distributions_task
    - unify_objects_task
  config:
    recent: true
BiologicalAssociation:
  tasks:
    - edit_biological_associations_graph_task
    - filter_biological_associations_task
    - browse_asserted_distributions_task
    - new_asserted_distribution_task
    - unify_objects_task
  edit: new_biological_association_task
  new: new_biological_association_task
  config:
    recent: true
BiologicalAssociationsGraph:
  tasks:
    - edit_biological_associations_graph_task
    - browse_asserted_distributions_task
    - new_asserted_distribution_task
    - unify_objects_task
  edit: edit_biological_associations_graph_task
  new: edit_biological_associations_graph_task
Combination:
  tasks:
    - browse_nomenclature_task
    - new_combination_task
  edit: new_combination_task
  new: new_combination_task
  home: browse_nomenclature_task
  destroyed_redirect: browse_nomenclature_task
  config:
    recent: true
CollectionObject:
  tasks:
    - browse_collection_objects_task
    - comprehensive_collection_object_task
    - filter_collection_objects_task
    - edit_biological_associations_graph_task
    - browse_collecting_events_task
    - new_taxon_name_task
    - new_extract_task
    - anatomical_parts_graph_task
    - browse_otus_task
    - build_biocuration_groups_task
    - report_dwc_task
    - unify_objects_task
  config:
    recent: true
  edit: comprehensive_collection_object_task
  new: comprehensive_collection_object_task
  home: comprehensive_collection_object_task
CollectingEvent:
  tasks:
    - browse_collecting_events_task
    - new_collecting_event_task
    - filter_collecting_events_task
    - comprehensive_collection_object_task
    - new_field_occurrence_task
    - unify_objects_task
  config:
    recent: true
  edit: new_collecting_event_task
  new: new_collecting_event_task
  home: new_collecting_event_task
Container:
  tasks:
    - new_container_task
  config:
    recent: true
Conveyance:
  tasks:
    - browse_asserted_distributions_task
    - new_asserted_distribution_task
Depiction:
  tasks:
    - browse_asserted_distributions_task
    - new_asserted_distribution_task
Descriptor:
  tasks:
    - observation_matrices_hub_task
    - unify_objects_task
  new: new_descriptor_task
  edit: new_descriptor_task
  home: new_descriptor_task
Document:
  tasks:
    - gnfinder_task
  config:
    recent: true
Extract:
  tasks:
    - new_extract_task
    - unify_objects_task
  new: new_extract_task
  edit: new_extract_task
  config:
    recent: true
FieldOccurrence:
  tasks:
    - browse_field_occurrence_task
    - new_field_occurrence_task
    - unify_objects_task
    - anatomical_parts_graph_task
  edit: new_field_occurrence_task
  new: new_field_occurrence_task
  config:
    recent: true
Gazetteer:
  tasks:
    - new_gazetteer_task
    - import_gazetteers_task
  new: new_gazetteer_task
  edit: new_gazetteer_task
GeographicArea:
  tasks:
    - filter_asserted_distributions_task
    - filter_collecting_events_task
    - filter_otus_task
    - asserted_distributions_basic_endemism_task
  config:
    recent: false
GeographicItem:
  tasks:
    - debug_geographic_item_task
  config:
    recent: false
Image:
  tasks:
    - filter_images_task
    - unify_objects_task
  config:
    recent: false
  new: new_image_task
Lead:
  tasks:
    - show_lead_task
    - leads_hub_task
    - print_key_task
  new: new_lead_task
  edit: new_lead_task
Loan:
  tasks:
    - edit_loan_task
    - loan_dashboard_task
    - unify_objects_task
  config:
    recent: true
Observation:
  tasks:
    - browse_asserted_distributions_task
    - new_asserted_distribution_task
    - unify_objects_task
ObservationMatrix:
  tasks:
    - interactive_key_task
    - observation_matrix_view_task
    - new_descriptor_task
    - image_matrix_task
    - observation_matrices_hub_task
    - unify_objects_task
  edit: new_matrix_task
  new: new_matrix_task
  show: new_matrix_task
  config:
    recent: true
Otu:
  tasks:
    - browse_otus_task
    - filter_otus_task
    - comprehensive_collection_object_task
    - new_field_occurrence_task
    - edit_biological_associations_graph_task
    - content_editor_task
    - cite_otus_task
    - browse_asserted_distributions_task
    - unify_objects_task
    - anatomical_parts_graph_task
  home: browse_otus_task
  config:
    recent: true
  new: new_otu_task
Person:
  tasks:
    - unify_people_task
  config:
    recent: true
Sound:
  tasks:
    - browse_sounds_task
Source:
  tasks:
    - source_hub_task
    - new_source_task
    - filter_sources_task
    - nomenclature_by_source_task
    - gnfinder_task
    - unify_objects_task
  new: new_source_task
  edit: new_source_task
  home: new_source_task
  config:
    recent: true
TaxonDetermination:
  tasks:
    - comprehensive_collection_object_task
    - unify_objects_task
  home: comprehensive_collection_object_task
  config:
    recent: true
TaxonName:
  tasks:
    - browse_nomenclature_task
    - new_taxon_name_task
    - new_combination_task
    - filter_taxon_names_task
    - edit_type_material_task
    - comprehensive_collection_object_task
    - browse_otus_task
    - nomenclature_stats_task
    - asserted_distributions_basic_endemism_task
    - paper_catalog_generator_task
    - unify_objects_task
    - taxon_name_reclassifier_task
  edit: new_taxon_name_task
  new: new_taxon_name_task
  home: browse_nomenclature_task
  config:
    recent: true
Serial:
  tasks:
    - unify_objects_task
