.table-striped {
  tr:nth-of-type(even) {
    @extend .list_line_even;
  }

  tr:nth-of-type(odd) {
    @extend .list_line_odd;
  }
}

.tablesorter {
  width: 100%;
}
table {
  box-shadow: 0 0 2px 0 $navigation_border;
  border-radius: 2px;
  width: auto;
  border-spacing: 0;
  background-color: $panel_background;
  border-collapse: collapse;  

  .underlined_elements {
      border-spacing: 0; 
  }

  .top_align_text {
    td {
      vertical-align: top; 
    }
  }

  th.headerSortUp { 
    background-image: image-url('arrow-up.svg');
    background-position: right $standard_padding center;
    padding-right: $standard_padding;
    background-repeat: no-repeat;
  } 

  th.headerSortDown { 
    background-image: image-url('arrow-down.svg');
    background-position: right $standard_padding center;
    padding-right: $standard_padding;
    background-repeat: no-repeat;  
  } 

  .table-options {
    display: none;
  }
  .even {
    @extend .list_line_odd;
  }
  .odd {
    @extend .list_line_even;
  }

  td {
    padding-left: $standard_padding;
    padding-right: $standard_padding; 
  }

  th:hover {
    background-color: $color-complement-2;
  }

  tr {
    margin: 0px;
    height: 40px;
    cursor: pointer;
  }

  th {
    background-color: $panel_background;
    padding-left: $standard_padding;
    padding-right: $standard_padding;
    font-weight: 500;
    color: $default_text;
    font-size: 12px;
    border-bottom: 2px solid $color-complement-3;
    text-align: left;
    a {
      img {
        display: none;
      }
    }
  }

  .contextMenuCells { 
    td {
      border-bottom: 1px solid $navigation_border;
      border-left: 1px solid $navigation_border;
    }
  }
  .contextMenuCells:hover {
    background-color: $color-complement-2;
    color: $default_text;
    td {
      border-left:1px solid transparent;
    }
  }

  .highlight {
    background-color: #E3E8E3 !important;
  }
}
