<div id="_draw_gr_partial">
  <%= form_for(@georeference) do |f| %>
      <table border="1">
        <tr>
          <td>This is where the drawing map goes</td>
        </tr>
      </table>
  <% end %>
  <%= form_tag(drawn_georeferences_path) do %>
      <div><%= submit_tag('Find') %></div>
  <% end %>
</div>
