<div id="_draw_gr_form" name="_draw_gr_form" hidden
     data-feature-collection='<%= Gis::GeoJSON.feature_collection([]).to_json.html_safe %>'
     data-map-center='POINT (0.0 0.0 0.0)'
     data-map-canvas="draw_gr_canvas"
>
  <%= form_tag(drawn_georeferences_path, method: 'get', remote: true) do %>

      <table border="1">
        <tr>
          <td>
            <div id="draw_gr_canvas" style="width:512px; height: 256px;"></div>
          </td>
        </tr>
      </table>
      <%= hidden_field_tag('gr_geographic_item_attributes_shape') %>
      <%= submit_tag('Find') %>
  <% end %>
</div>
