<div id="_filter_gr_form" name="_filter_gr_form">
  <p>Find georeferences attached to collecting events matching</p>
  <%= render(partial: 'collecting_events/filter_form_inputs', locals: {side: 'gr', url: filtered_georeferences_url, id: 'filtering_gr_data'}) %>
</div>
