<div id="_filter_gr_partial">
  <%= form_for(@georeference) do |f| %>
      <table border="1">
        <tr>
          <td>This is where the filter map goes</td>
        </tr>
      </table>
  <% end %>
</div>

