<div id="_filter_gr_form" name="_filter_gr_form">
  <h2 class="no-borders">Find georeferences attached to collecting events matching</h2>
  <%= render(partial: 'collecting_events/filter_form_inputs', locals: {side: 'gr', url: filtered_georeferences_url, id: 'filtering_gr_data'}) %>
</div>
