<div id="_select_gr_form" name="_select_gr_form"
     data-feature-collection='<%= Gis::GeoJSON.feature_collection(georeferences).to_json %>'
     data-map-center='POINT (0.0 0.0 0.0)'
     data-map-canvas="show_gr_canvas"
>
  <table>
    <tr>
      <td>
        <div id="show_gr_canvas" style="width:512px; height: 256px;"></div>
      </td>
    </tr>
  </table>
</div>
