<div id="_result_ce_form">
  <table>
    <tbody>
    <tr>
      <th>Georeference</th>
      <th>Result</th>
      <th>CE Id</th>
      <th>CE #</th>
    </tr>
    <% georeferences_results.each do |g| %>
        <tr>
          <td>
            <%= g.new_record? ? 'not saved' : link_to('show', g.metamorphosize) %>
          </td>
          <td>
            <%= g.new_record? ? false : true %>
          </td>
          <td>
            <%= g.collecting_event_id %>
          </td>
          <td>
            <%= collecting_events_count_using_this_geographic_item(g.geographic_item_id) %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
