<div id="_result_ce_form">
  <table border="1">
    <tr>
      <th>Georeference</th>
      <th>Result</th>
      <th>CE #</th>
      <th></th>
    </tr>
    <tbody>
    <% georeferences_results.each do |g| %>
        <tr>
          <td>
            <%= g.valid? ? link_to("show", g.metamorphosize) : 'not saved' %>
          </td>
          <td>
            <%= g.valid? %>
          </td>
          <td>
            <%= object_tag(g.collecting_event) %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
