<div id="_recent_gr_form" name="_recent_gr_form" hidden>
  <%= form_tag(recent_georeferences_url, {method: 'get', id: 'recent_gr_count', remote: true}) do %>
      <table border="1">
        <tr>
          <td>
            <div class="field">
              <label for="how_many">Return</label>
              <input id="how_many" size="5" name="how_many"/>most recent
            </div>
          </td>
        </tr>
      </table>
      <%= submit_tag('Find') %>
  <% end %>
</div>
