<div id="_tag_gr_form" hidden>
  <%= form_tag(tagged_georeferences_url, {method: 'get', id: 'tagged_gr_keyword', remote: true}) do %>
      <p>Find georeferences tagged with</p>
      <table>
        <tr>
          <td>
            Keyword
          </td>
          <td>
            <%= render partial: 'workbench/elements/forms/ajax_select',
                       locals:  {controller: '/controlled_vocabulary_terms',
                                 object:     nil,
                                 method:     'keyword_id',
                                 tag_id:     'keyword_term_id_for_georeference_tagging_form',
                                 size:       '',
                                 display:    ''} %>
          </td>
        </tr>
      </table>
      <div>
        <%= submit_tag('Find') %>
      </div>
  <% end %>
</div>
