#co_by_area_and_date {
	position: relative;
#filter-collection-objects {
	top: 0px;
	width: 600px;
	.content {
		padding: 2em;
	}
	.slide-panel-circle-icon {
		background-image: image-url("filter.svg");
	}
}


	.slide-filter {
		.slide-panel-header {
			background-color: #689f38;
		}
		.slide-panel-circle-icon {
			top:calc(50vh - 120px);
			background-color: #558b2f;
			background-image: image-url('recent_slide.svg');
		}
		.slide-panel-category-header {
			border-color: #558b2f;
		}
	}



	#set_area_form {
		#textAreaSelector {
			display: none;
		}
	}
}