<h1>Listing otu_page_layout_sections</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @otu_page_layout_sections.each do |otu_page_layout_section| %>
      <tr>
        <td><%= link_to 'Show', otu_page_layout_section %></td>
        <td><%= link_to 'Edit', edit_otu_page_layout_section_path(otu_page_layout_section) %></td>
        <td><%= link_to 'Destroy', otu_page_layout_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Otu page layout section', new_otu_page_layout_section_path %>
