<% content_for :title, "New anatomical part" %>

<h1>New anatomical part</h1>

<%= render "form", anatomical_part: @anatomical_part %>

<br>

<div>
  <%= link_to "Back to anatomical parts", anatomical_parts_path %>
</div>
