<p>
  <strong>Matrix:</strong>
  <%= matrix_link(@matrix_row_item.matrix) %>
</p>

<p>
  <strong>Otu:</strong>
  <%= otu_link(@matrix_row_item.otu) %>
</p>

<p>
  <strong>Collection Object:</strong>
  <%= collection_object_link(@matrix_row_item.collection_object) %>
</p>

<p>
  <strong>Controlled vocabulary term:</strong>
  <%= controlled_vocabulary_term_link(@matrix_row_item.controlled_vocabulary_term) %>
</p>

