<%# render(partial: '/observation_matrices/export/table', locals: {rows: m.observation_matrix_rows, descriptors: m.continuous_descriptors, observations_hash: observations_hash, format: :nexus}) -%>
<table >
  <% rows.each do |r| -%>
    <tr>
      <td>'<%= observation_matrix_row_label_nexml(r) %>'&nbsp;</td>
      <% descriptors.where(type: %w{Descriptor::Continuous Descriptor::Qualitative Descriptor::PresenceAbsence }).each do |d| -%>
        <td><%= observations_cell_label(observations_hash, d, "#{r.otu_id}|#{r.collection_object_id}", format) %></td>
      <% end %>          
    </tr>
  <% end %>
</table>
