<p>
  <strong>Matrix:</strong>
  <%= matrix_link(@observation_matrix_column_item.matrix) %>
</p>

<p>
  <strong>Type:</strong>
  <%= @observation_matrix_column_item.type %>
</p>

<p>
  <strong>Descriptor:</strong>
  <%= descriptor_link(@observation_matrix_column_item.descriptor) %>
</p>

<p>
  <strong>Keyword:</strong>
  <%= object_link(@observation_matrix_column_item.controlled_vocabulary_term) %>
</p>

