<%= form_for(@observation_matrix_column_item.metamorphosize) do |f| %>
  <%= render 'shared/errors', object: @observation_matrix_column_item %>

  <%= render('select_observation_matrix_column_item') -%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
