<p>
  <strong>Name:</strong>
  <%= @character_state.name %>
</p>

<p>
  <strong>Label:</strong>
  <%= @character_state.label %>
</p>

<p>
  <strong>Descriptor:</strong>
  <%= descriptor_tag(@character_state.descriptor) %>
</p>

<p>
  <strong>Position:</strong>
  <%= @character_state.position %>
</p>


