<h1> CoLDP exports </h1>

<i> Will be removed for a proper hub </i>

<% otu = Otu.find(45287) %>
<% otus = Export::Coldp.otus( 45287 )  %> 

<h2> Taxon </h2>
<pre>
<%= Export::Coldp::Files::Taxon.generate(otus) %> 
</pre>

<h2> Name </h2>
<pre>
<%= Export::Coldp::Files::Name.generate(otu) %> 
</pre>

<h2> Synonym </h2>
<pre>
<%= Export::Coldp::Files::Synonym.generate(otus) %> 
</pre>
