<div id="annotations-panel" class="item panel separate-left separate-right separate-bottom">
  <div class="content">
    <div class="information-panel">
      <%= render(partial: '/shared/data/all/show/annotations', locals: {object: object})   %>
    </div>
  </div>
</div>
