<h1>File Upload</h1>
<%= form_tag({:action => 'upload'}, :multipart => true) do %>
<p><label for="name">Name:</label> <input type="text" name="name" />
<p><label for="upload_file">Select File</label>
<%= file_field 'upload', 'file' %></p>
<%= submit_tag "Upload" %>
<% end %>