<div>
  <h2> Simple batchload </h2>
  <div class="flexbox">
    <div class="item item1 one_third_width">
      <h3> Description and requirements </h3>
      <p> Creates new OTUs, with no other metadata than the OTU name.<p>
      <ul>
        <li>One OTU per line is created.</li>
        <li>Blank lines are skipped.</li>
        <li>A tab-delimited, UTF-8 compatible text file is required.</li>
      </ul>
        <em> A text file, coded in UTF-8, with Unix line endings is required.</em></p>
    </div>

    <div class="item item2">
      <h3> Example file </h3>
      <div class="fixed_width_font">
        <table border="1">
          <tr>
            <th><b>otu_name</th>
          </tr>
          <tr>
            <td>Aus bus</td>
          </tr>
          <tr>
            <td>Cus dus</td>
          </tr>
          <tr>
            <td>My pet otu</td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td>Some name</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="item item3">
      <h3> Go! </h3>

      <%= form_tag :preview_simple_batch_load_otus, multipart: true do -%>
          Select a file <%= file_field_tag :file -%>
          <%= submit_tag 'preview' -%>
      <% end %>
    </div>
  </div>
</div>
