.system-news-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  font-size: 14px;
  border-bottom: 1px solid var(--border-color);
  text-align: center;
}

.system-news-bar * {
  display: inline-block;
}

.news-bar-warning {
  background: var(--news-warning-bg);
  color: var(--news-warning-color);
}

.news-bar-notice {
  background: var(--news-notice-bg);
  color: var(--news-notice-color);
}

.news-bar-info {
  background: var(--news-blogpost-bg);
  color: var(--news-blogpost-color);
}

.news-bar-close-button {
  cursor: pointer;
}
