.citations
    display inline-flex
    flex-direction column

    &__header
        margin-bottom 1vmin

    &__list
        border 1px solid black
        padding 1vmin

    &__item
        margin-bottom 1vmin

    &__description
        margin-bottom 1vmin

    &__author
        font-weight bold
        text-align right