<p>
    <strong>Verbatim anatomical origin:</strong>
    <%= @extract.verbatim_anatomical_origin %>
</p>

<p>
    <strong>Year made:</strong>
    <%= @extract.year_made %>
</p>

<p>
    <strong>Month made:</strong>
    <%= @extract.month_made %>
</p>

<p>
    <strong>Day made:</strong>
    <%= @extract.day_made %>
</p>
