.otu_tag {
  .otu_tag_otu_name {
    padding: 3px;
  }

  .otu_tag_taxon_name {
    border: 1px solid var(--otu-tag-border-color);
    border-radius: var(--border-radius-xsmall);
    padding: 2px 6px;
    color: var(--otu-tag-color);
    background: var(--otu-tag-bg);
    white-space: nowrap;
    line-height: 1.5;
  }
}
