.otu_tag {
  .otu_tag_otu_name {
    padding: 3px;
  }

  .otu_tag_taxon_name {
    color: $color-complement-1;
    background: $color-secondary-2-3;
    white-space: nowrap;
    padding: 0.125rem 0.5rem;
    border-radius: var(--border-radius-small);
    width: min-content;
  }
}
