
.otu_tag {

  .otu_tag_otu_name {
    padding: 3px;
  }

  .otu_tag_taxon_name {
    border-radius: 20px;
    padding: 3px;
    padding-left: 12px;
    padding-right: 12px;
    color: $color-complement-1;
    background: $color-secondary-2-3;
    white-space: nowrap;
  }

}


