.confidence-levels
    &__list
        display flex
        flex-direction column
        list-style none inside
        padding 0

    &__confidence-level
        margin-bottom 1vmin

    &__checkbox-label
        align-items center
        border-left-width 4px
        border-left-style solid
        display flex

    &__checkbox-label-text
        margin 0px 1vmin
