.depictions
    &__header
        margin-bottom 1vmin

    &__images
        border 1px solid black
        display inline-flex
        flex-wrap wrap
        list-style none inside
        padding 1vmin

    &__image-container
        margin 0 1vmin