<p><%= page_entries_info(@collection_objects) %></p> <%= paginate @collection_objects %>
<%= render 'tasks/accessions/report/dwca/table', collection_objects: @collection_objects %>
<%#= render 'tasks/accessions/report/dwca/table', collection_objects: @collection_objects %>
