<h1>Task: Collection objects by area and date range</h1>
<div class="flexbox">
  <div class="item item1" align="center">
    <%= render(:partial => 'by_area') %>
  </div>
  <div class="item item2" align="center">
  </div>
</div>
