<div class="attributes">

  <p>
    <strong>Name:</strong>
    <%= @biological_associations_graph.name %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= source_tag(@biological_associations_graph.source) %>
  </p>

</div>