// TODO - nest this elsewhere, it belongs isolated to breakdown tasks?!

  .breakdown_nav {
    border: 1px solid silver;
    margin: 1em;
    display: flex;
    flex-align: row;

    div {
      padding: .6em .6em;
    }
  }

.sqed_breakdown {
  .ctrl_link {
    color: $muted_blue; 
  }

  .little_image {
    vertical-align: middle;
    display: block;
    padding: 5px;
    width: 100px;
  }

  .item {
    padding: 2px;
  }

}

#breakdown_buffered_data {
  .item1 {
    max-width: 110px;
  }

  .buffered_collecting_event_input {
  }

  #message {
    text-align: center;
    padding: .2em;
  }

  .form_in_place {
    input {
      color: purple;      
    }
  }

  #verbatim_locality_text {
    border: 1px solid silver;
    margin-bottom: .5em;
    max-width: 400px;
    padding: 1em;
  }


  .item2 {
    margin-left: 1em;
    width: 420px;
  }

  #depiction_navigator {
    max-width: 150px;
    margin-left: auto;
    margin-right: auto; 

    .sqed_thumb_nav_current {
      margin: .5em 0;
      padding: 2px;
      background-color: $muted_blue;
      text-align: center;
    }


  }
}

#breakdown_sqed_depiction {

  #extracted_header {
    padding: 2px;
    .ocr_text { 
      height: 8em;
      width: 20em;
      border: 1px solid silver;
      padding: 3px;
    }

    #text_for_identifier {
      width: 8em;
    }

    .field {
      padding: 5px;
    }
  }

  #collection_object_fields {
    textarea { 
      height: 8em;
      width: 16em;
      padding: 3px;
    }
  }

  #ocr_result {
    width: 400px;

    #selected_text {
      border: 1px solid silver;
      width: 400px;
      height: 140px; 
      display: table-cell; 
      vertical-align:middle;
      text-align: center;
    }

    #selected_text_options {
      text-align: center;
      padding: 2px;
    }
  }

  .destroyable {
    color: $muted_red;
     font-weight: bold; 
  }

}
