#simple-specimen-task {

  padding: 0px;
  border: none;

  .otu_picker > label {
    display: none !important;
  }

  .expandable {
    width: 344px !important;
  }

  .side_by_side_fields {
    input {
      width: 152px;
    }
  }

  .field {
    align-items: center;
    display: flex;
    flex-direction: row;

    textarea {
      width: 330px;
      display: inline-block;
    }

    label {
      margin-right: 5px;
      width: 120px;
      text-align: right;
      display: inline-block;
    }

  }

  #new_otu {
    .field {
      display: flex;
      flex-direction: column;
      align-items: left;
      label {
        text-align: left;
      }
    }
  }

  .panels-container {
    justify-content: space-between;
  }

  #dropzone_previews {
    margin: 0px;
    text-align: left;
    width: 340px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    border: 1px solid $navigation-border;
    background-color: $body-background;
    display: block;
    border-radius: 3px;
  }

  #collecting_event_fields {
    padding-right: 10px;
    border-right: 1px solid $navigation-border;
  }

  #selected_collecting_event {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  hr {
    width: 100%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  #collecting_event_filter {
    background-color: $color-secondary-2-1;
    ul {
      padding: 0px;
      margin: 0px;
      padding: $standard_padding;
      width: 400px;
      max-height: 500px;
      border: 1px solid $navigation-border;
      overflow: scroll;
    }

    li {
      border-bottom: 1px solid $navigation-border;
      display: flex;
      list-style: none;
      align-items: center;
      padding: 5px;
      justify-content: space-between;

      a {
        cursor: pointer;
        display: block;
        padding-left: 10px;
      }
    }

    li:last-child {
      border-bottom: none;
    }
  }

  .flex-wrap-row {
    margin-left: auto;
  }
}
