<div class="field">
  <%= ct.label :topic_id %>
  <br>
  <%= render partial: 'workbench/elements/forms/ajax_select',
    locals: {controller:  '/topics',
             object:       "citation[citation_topics_attributes][#{ct.index}]",
             method:       'topic_id',
             tag_id:       "topic_id_for_citation_topics_attributes_#{ct.index}",
             display:      topic_tag(ct.object.topic)} 
           %>
</div>

<div class="field">
  <%= ct.label :pages %>
  <br>
  <%= ct.text_field :pages %>
</div>


