<div class="content">
  <div class="attributes"> 
    <ul class="taxonomic_history">
      <% @data.ordered_by_nomenclature_date.each do |c| -%>
        <%= nomenclature_catalog_li_tag(c, @data.reference_taxon_name, :browse_nomenclature_task_path) -%> 
      <% end %>
    </ul>
    <br/>
    <% if @data.sources.any? %> 
      <%= content_tag(:h3, 'References')-%>
      <ul class="citations">
        <% @data.sources.each do |s| -%>
          <%= content_tag(:li, source_nomenclature_tag(s, @data.topics_for_source(s)), class: 'horizontal-left-content gap-small') -%>
        <% end %> 
      </ul>                          
    <% end %>
  </div>
</div>
