<div data-filter-slide="close" id="filterBrowse">

  <div class="navigation-controls filter">

    <div class="navigation-item" data-filter=".origin">
      <span data-icon="show" class="small-icon">Origin</span>
    </div>  

    <div class="navigation-item" data-filter=".validation">
      <span data-icon="show" class="small-icon">Validation</span>
    </div>  

    <div class="navigation-item" data-filter=".notes">
      <span data-icon="show" class="small-icon">Notes</span>
    </div>  

    <div class="navigation-item" data-filter=".status">
      <span data-icon="show" class="small-icon">Status</span>
    </div>  
  </div>


  <div class="navigation-controls filter">
    <div class="navigation-item" data-filter=".citations">
      <span data-icon="show" class="small-icon">Citations</span>
    </div>  

    <div class="navigation-item" data-filter=".otus">
      <span data-icon="show" class="small-icon">OTUs</span>
    </div>  

    <div class="navigation-item" data-filter=".history_type_information">
      <span data-icon="show" class="small-icon">Type information</span>
    </div> 

    <div class="navigation-item" data-filter-reset="reset">
      <span data-icon="reset" class="small-icon">Reset</span>
    </div>
  </div>

</div>
