<div data-filter-slide="close">

  <!---- first row ---->
  <div id="filterBrowse" class="navigation-controls filter">
   <div class="navigation-item" data-filter=".history_author_year">
      <span data-icon="show" class="small-icon">Author/Year</span>
    </div>  
    <div class="navigation-item" data-filter=".history__type_information">
      <span data-icon="show" class="small-icon">Type information</span>
    </div> 
    <div class="navigation-item" data-filter=".history__status">
      <span data-icon="show" class="small-icon">Status</span>
    </div>                              
    <div class="navigation-item" data-filter=".soft_validation">
      <span data-icon="show" class="small-icon">Soft validations</span>
    </div>                              
    <div class="navigation-item" data-filter-reset="reset">
      <span data-icon="reset" class="small-icon">Reset</span>
    </div>
  </div>

  <!---- second row ---->

  


</div>
