<div
  id="filterBrowse"
  class="">

  <div class="navigation-controls filter">

    <div class="navigation-item" data-filter-row='[data-history-is-subsequent="true"]'>
      <span><span data-icon="show" class="small-icon"></span>History</span>
    </div>  

    <div class="navigation-item" data-filter-row='[data-history-origin="combination"]'>
      <span><span data-icon="show" class="small-icon"></span>Combinations</span>
    </div>  

    <div class="navigation-item" data-filter-row='[data-history-origin="taxon_name_relationship"]'>
      <span><span data-icon="show" class="small-icon"></span>Relationships</span>
    </div>  

    <div class="navigation-item" data-filter-row=".history__type_information">
      <span><span data-icon="show" class="small-icon"></span>Type information</span>
    </div> 
  </div>


  <div class="navigation-controls filter">

    <div class="navigation-item active" data-filter=".soft_validation_anchor">
      <span><span data-icon="hide" class="small-icon"></span>Validation</span>
    </div>  

    <div class="navigation-item active" data-filter=".history__origin">
      <span><span data-icon="hide" class="small-icon"></span>Origin</span>
    </div>  
  </div>

  <div class="navigation-controls filter">
    <div class="navigation-item" data-filter-reset="reset">
      <span><span data-icon="reset" class="small-icon"></span>Reset</span>
    </div>
  </div>

</div>
