<div class="title nav-line" data-help="Within the hierarchy the first number is the number of valid children, the second the number of invalid children.">
  Navigate
</div>

<div class="navigation-controls">
  <%= previous_sibling_browse_taxon_name_link(@taxon_name, target) %>
  <a href="/taxon_names/random" class="navigation-item" data-turbolinks="false">Random</a>
  <%= next_sibling_browse_taxon_name_link(@taxon_name, target) %>
</div>

<div id="show_taxon_name_hierarchy" class="content">
  <div data-taxonomy-panel="<%= taxon_name.id -%>"></div>
</div>
