
<%= content_for :tasks do
  content = safe_join([content_tag(:span, '', data: { icon: 'edit' }, class: 'small-icon'), 'Edit (task)'], '')

  content_tag(:li, link_to(content, new_descriptor_task_path(@descriptor), class: 'navigation-item')) 
end %>

<%= content_for :associated do -%>
  <h3> Observations </h3>
  <ul>
    <% @descriptor.observations.each do |o| -%>
      <%= content_tag(:li, observation_tag(o)) %> 
    <% end %>
  </ul>
<% end %>

<%= render(partial: 'shared/data/project/show', locals: {object: @descriptor}) -%>
