@use '../variables/_sizes.scss' as *;
@use '../variables/_palette.scss' as *;

.btn {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding-left: 0.9em;
  padding-right: 0.9em;
}

a.btn:hover {
  color: white;
}

.btn-link {
  @extend .btn;
  display: table-cell;
}

@each $key, $value in $tw-input-sizes {
  .btn-#{$key}-size {
    height: #{$value};
  }
}

@each $key, $value in $tw-input-sizes {
  .btn-#{$key}-circle {
    height: #{$value};
    width: #{$value};
    min-width: #{$value};
    min-height: #{$value};
    text-align: center;
    border-radius: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

.btn-radial {
  background-color: var(--btn-radial-background);
  color: var(--btn-radial-color);
  border: 2px solid var(--color-primary);

  &:disabled {
    border: none;
  }
}

.btn-pill-left {
  min-width: 60px;
  border: 0;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}

@each $key, $value in $tw-colors {
  .btn-#{$key} {
    background-color: var(--color-#{$key});
    color: white;
  }
}

.btn-transparent {
  background-color: transparent;
}
