.EasyMDEContainer {
  .editor-toolbar {
    border-color: var(--border-color);
  }

  .editor-preview {
    background-color: var(--input-bg-color);
  }

  .fa {
    color: var(--text-color);
  }
}

.CodeMirror {
  background-color: var(--input-bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color) !important;

  .CodeMirror-cursor {
    border-color: var(--text-color);
  }
}
