<div>
  <h2> Qualitative descriptors batch load </h2>

  <div class="flexbox full_viewport_whitespace">
    <div class="item item1 one_third_width">
      <h3> Description and requirements </h3>

      <p> Creates new qualitative (multi-state) descriptors </p>
      <ul>
        <li>A tab-delimited, UTF-8 encoded text file is required.</li>
        <li>There are no column headers. The first column is the descriptor name, remaining columns are character state names.  (see <%= link_to('sample template', asset_path('/batch_load_templates/descriptors/qualitative_descriptors.tab'), target: '_blank') -%>).</li>
        <li>Descriptors will fail to import if the descriptor name is already present.</li>
        <li>There is currently no size limit to the file being loaded but this may change in the future.</li>
      </ul>
    </div>

    <div class="item item2 one_third_width">
      <h3> Example file </h3>

      <p> A tab delimited formatted file In the example whitespace is a tab. View sample file template.</p>

      <pre class="fixed_width_font">
        head color  blue  red   purple
        small/big toe relative size smaller larger equal 
      </pre>
    </div>

    <div class="item item3">
      <h3> Go! </h3>
      <%= render partial: '/descriptors/batch_load/qualitative_descriptor/form', locals: {url: preview_qualitative_descriptor_batch_load_descriptors_path, submit: :preview} -%>
    </div>
  </div>
</div>
