@import '../workbench/dimensions';
@import '../workbench/palette';
@import '../workbench/whitespace';

  #show {
    /* Panel size for show view */
    .item1 { 
      display: block;
      width: 300px;
      min-width: 270px;
    }
    .item3 {
      display: block;
      width: 300px;
      min-width: 250px;
    }

    .item2 {
      display: flex;
      width: 100%;
      min-width: 450px;
    }

    .item { 
      flex-direction:column;
    }
  }

  .separate-left {
    margin-left: $standard_padding*0.5;
  }
  .separate-right {
    margin-right: $standard_padding*0.5;
  }

  .panels-container {
    margin-top: $standard_padding;
  }

  .ui-autocomplete {
    border:none;
    box-shadow: 0 2px 4px 0 $navigation_border;
    font-weight: 100;
    background-color: $color-secondary-2-1;
  }

  .ui-menu-item {
    font-size: 12px;
    padding: 5px;
    font-weight: bold;
    color: $color-secondary-2-4;
    .subtle {
      font-size: 10px;
      font-weight: 100;
    }    
    mark {
      font-weight: 100;
      color: $default_text;
      background: none;
    }
  }

  .icn, .iczn {
    color: $default_text;
    background: none;
  }

  .ui-menu-item:hover {
    background: none;
    background-color: $color-complement-2;
    border:1px solid transparent;
  }
  .ui-menu a {
    background-color: none;
  }

  .panels-container {
    display: flex;
    justify-content:space-between;
    width: 100%;
  }

  .no-borders {
    border:none !important;
  }

  .no-shadow {
    box-shadow:none !important;
  }  

  .panel {
    font-weight: 100;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    box-shadow: 0 0px 3px 0 $navigation_border;
    background-color: $panel_background;
    a {
      text-decoration: none;
    }
    h3 {
      padding: $standard_padding*.2 0;
      margin: $standard_padding*.2 0;
      display: flex;
      flex-direction: row;
    }
    h2 { 
      margin: $standard_padding*.5 0;
      font-weight: 100;
      margin-bottom: $standard_padding;
      border-bottom: 1px solid $navigation_border;
    } 

    .reset {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 12px;
      opacity: 0.5;
    }
    .reset:hover {
      opacity: 1;
    }

    .title {

      display: flex;
      min-height: 35px;
      padding-top: 5px;
      font-size: 16px;
      align-items:center;
      padding-left: $standard_padding;
      padding-right: $standard_padding;
      border-bottom: 5px solid transparent;
      justify-content:space-between;   
      a {
        font-size: 12px;
      } 
      div {
        display: flex;
        flex-direction: row;
        align-items: center;
      }      

      span {
        b {
          //font-weight: 100;
          font-size: 14px;
          opacity: 0.7;
        }
      }
      img {
        display: block;
      }      
    }
    .nav-line {
      border-bottom: 5px solid $color-secondary-2-4;
    } 

    .action-line {
      border-bottom: 5px solid $color-complement-3;
    }  

    .navigation-bar-right {
      display: flex;
      justify-content:flex-end; 
      flex-direction: row; 
      align-items: center;
      height: 40px;
      padding-right: $standard_padding;
    }   

    .navigation-bar-left {
      display: flex;
      height: 40px;
      justify-content:flex-start; 
      flex-direction: row; 
      align-items: center;
      padding-left: $standard_padding;
    }                  
    .inline {
      display: flex;
      flex-direction:row;
      align-items:center;          
      text-decoration: none;
      margin: $standard_padding*0.5;
      img {
        margin-right: 5px;
      }
    }  

    .navigation-controls {
      font-weight: 100;
      display: flex;
      font-size: 12px;
      flex-direction:row;
      //height: 35px;
      justify-content:space-between;
      align-items: center;
        input[type="text"] {
          width:170px;
        }       
    }     

    .navigation-item:first-child {
      border-left:none;
    }

    .disable {
      opacity: 0.5;
      background-color: $navigation_background;
    }       

    .disable:hover {
      background-color: $navigation_background !important;
      box-shadow: none !important;
      opacity: 0.5 !important;
    }

    .navigation-item {
      border-bottom:1px solid $navigation_border;
      cursor: pointer;
      width: 100%;
      display: flex;
      flex-direction:row;
      justify-content:center;
      align-items:center;
      position: relative;
      padding: 5px;
      align-items: center;
      padding-top: 12px;
      padding-bottom: 12px;
      border-left: 1px solid $navigation_border;
      a {
          color: $default_text;
          padding-right: 5px;
          text-decoration: none;
        }

        .dropdown {
          display: none;
          z-index: 100;
          top: 100%;
          left: 0;
          right: 0;
          flex-direction: column;
          position: absolute;
          padding-botom:10px;
          border:1px solid $navigation_border;
          background-color: $body_background; 
          box-shadow: 0 1px 2px 0 $navigation_border; 
          margin: 0px;
          a {
            margin: 0px;
            display: flex;
            flex-direction: row;
            padding: 5px;
            padding-left: 10px;

          }
          a:hover {
            color: $body_background;
            background-color: $color-complement-3;
          }
        }
      }
      .navigation-item:hover {
        background-color: $color-complement-2;
        box-shadow:inset 0px 1px 2px 0px $color-complement-3;
        img {
          opacity: 1;
        }
        .dropdown {
          display: flex;
          background-color: $color-secondary-2-1;
        }
      }
    }

    .menu-item {
      display: flex;
      flex-direction:row;
      padding: 10px;
      border-bottom: 1px solid $navigation_border;
      align-items:center;
      a {
        font-size: 12px;
        text-decoration: none;
      }
      img {
        padding-right: 5px;
      }
    }
    .menu-item:hover {
      background-color: $color-complement-2;
    }
      .content {
        padding: 15px;
        a {
          font-size: 12px;
          text-decoration: none;
        }
      }

      mark {
        font-weight: bold;
        background-color: transparent;
        a {
          font-weight: bold;
        }        
      }

    .housekeeping {
      display: flex;
      flex-direction:column;
    }

    .attributes {

      img {
        display: block;
        max-width: 100%;
        box-shadow: 0 1px 3px 0 $navigation_border;
      }
      strong {
        font-weight: 100;
      }
      p {
        font-size: 14px;
        color: $default_text;
      }
      a {
        font-size: 14px;
      }
    }

  

  .soft_validation {
    ul {
      list-style: none;
      padding: 0px;
    }
    
    li {
      margin-top: 15px;
      margin-bottom: 15px;
      padding-left:20px;
      align-items: center;
      background-image: url("/assets/icons/attention.svg");
      background-repeat: no-repeat;  
      background-position: left, center;   
    }
  }

  [data-view="development"] {
    display: none;
  }

