<div class="attributes">
  <p>
  <strong>Name:</strong>
  <%= @user.name %>
  </p>

  <p>
  <strong>Email:</strong>
  <%= @user.email %>
  </p>

  <% if @user.api_access_token %>
    <p>
      <strong>API access token:</strong>
      <%= @user.api_access_token %> 
    </p>

  <% end %>
