<div class="user_picker_box">
    <label for="user_picker_autocomplete">User </label>
    <input id="user_picker_autocomplete" class="user_picker_autocomplete" placeholder="Enter user here...">

    <ul class="user_filter_list">
    </ul>
</div>