<section>
  <header>
    <h1><%= @page_title %></h1>
  </header>
  <% if @users.empty? %>
    <p>No users found.</p>
  <% else %>
    <ul>
    <% @users.each do |user| %>
      <li><%= link_to "User #{user.id}", user_path(user) %></li>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
