<h1> Users </h1>
<% if @users.empty? %>
  <p>No users found.</p>
<% else %>
  <table> 
    <tr><th>Name</th><th>email</th><th>administrator</th><th>Projects</th><th></th></tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%=  user.email %></td>
        <td><%=  content_tag(:span, user.is_administrator?, class: user.is_administrator? ? 'passed' : nil) %></td>
        <td><%=  user.projects.order(:name).collect{|p| p.name}.join('; ').html_safe %></td>
        <td><span class="disabled"> Destroy </span>
      <% end %>
  </table>
<% end %>

