<div id="login-container">
  <div class="logo"></div>
    <div class="logo-text"></div>
  <div class="box-login">
  <h3>Password reset request sent!</h3>
    <%= form_tag action: 'send_password_reset' do %>
      <div style="text-align: left">
        <div>
          If, after requesting a reset of your password, you don't receive a password reset email, do the following:
          <ul>
            <li class="separate-bottom separate-top">Check the Spam or Junk Mail folder.</li>
            <li class="separate-bottom">Search for an email with the title “Password reset request for TaxonWorks”.</li>
            <li class="separate-bottom">Wait five minutes for the password reset email to arrive.</li>
          </ul>
        </div>
      </div>
      <div style="text-align: center">
        <%= link_to('Back to login', signin_path) -%>
      </div> 
    <% end %>
  </div>
</div>