<p>
  <strong>Depiction object:</strong>
  <%= object_link( @depiction.depiction_object.metamorphosize) %>
</p>

<p>
  <strong>Image:</strong>
  <%= link_to(image_tag(@depiction.image.image_file.url(:medium)), image_path(@depiction.image)) %>
</p>

