<p>
<strong>Depiction object:</strong>
<%= object_link( @depiction.depiction_object.metamorphosize) %>
</p>

<p>
  <strong>Image:</strong>

  <div class="easyzoom easyzoom--overlay">
    <%= link_to( image_tag(@depiction.image.image_file.url, 'class' => 'imageZoom'), @depiction.image.image_file.url ) %>
  </div>
</p>

<p>
<strong>Is metadata depiction</strong>
<%= @depiction.is_metadata_depiction -%>
</p>




