@import 'base/palette';
@import 'base/fonts';
@import 'base/whitespace';
@import 'base/form_elements';

#content_editor {
	margin-left: $standard_margin * -2;
	margin-top: 0px;
	box-sizing: border-box;
	#new-topic {
		textarea {
			padding: 10px;
			width: 100%;
			height:100%; 
		}
	}

	#panels-content {
		width: 100%;
		margin: $standard_margin;
		display: flexbox;	
		position: relative;
		.item2 {
			margin-left: 1em;
			margin-right: 1em;
		}
	}

	#panel-editor {
		padding-left: $standard_padding;
		padding-right: $standard_padding;
		textarea {
			border: 1px solid $navigation_border;
			font-size: 14px;
			padding: $standard_margin*0.5; 			
			min-height:500px;
		}
		.title {
			align-items: center;
			padding: 0px;
			color: #42b983;
			height: 60px;
		}		
	}		

	#recent-list {
		.slide-panel-circle-icon {
			top:calc(80vh - 120px);
			background-color: #42b983;
			background-image: image-url('recent_slide.svg');
		}		
	}

	#otu_panel {
		margin-top: 1em;
		margin-right: -2em;
		margin-left: 1em;
	}
	.slide-panel {
		top:0px;
		max-width: 300px;
		position: relative;
		.slide-panel-header {
			font-weight: 500;
			color: #42b983;
			background-color: #FFF;
			border-bottom: 1px solid $navigation_border;
			padding-right: $standard_padding;
		}
		.slide-panel-category-item:hover {
			cursor: pointer;
		}			
	}
	#topics {
		.selected {
			background-color: $color-complement-2;
		}
		.slide-panel-circle-icon {
			top:calc(80vh - 120px);
			background-color: #42b983;
			background-image: image-url('w_list.svg');
		}				
	}

	.citation-list {
		margin-top: $standard_margin;
		padding: 0px;
		ul {
			margin: 0px;
			padding: 0px;
		}
		li {
			padding: $standard_padding * 0.5;
			padding-left: $standard_padding;
			padding-right: $standard_padding;
			border-bottom: 1px solid $navigation_border;
		}
	}

	.saving {
		background-color: red;
	}

	#new-topic {
		width: 300px;
	}
}