/*
  font-weight

  Guidelines:
  Use numbers, see:
  https://css-tricks.com/almanac/properties/f/font-weight/

 The default font-weight throughout is 400 (normal). Best practice is to only
 change weight for headers, and elements that you want significantly de-emphasized.
 In general most fonts should have the same weight.  We assume that all things
 equal a normal, black font on white is the most readable across screens.
*/

//
// font-size
//
$font_tiny: 11px;
$font_small: 12px;
$font_normal: 13px;
$font_subtitle: 14px;
$font_title: 16px;

$font_light: 300;

.micro_type {
}

.small_type {
  font-size: $font_small;
}

.font-light {
  font-weight: $font_light;
}

/* no longer used unless Rails generated
.regular_type {
  font-size: 14pt;
}
*/

.normal_type {
  font-size: $font_normal;
}

.large_type {
  font-size: 18pt;
}

.subtitle_type {
  font-size: $font_subtitle;
}

.title_type {
  font-size: $font_title;
}

.hide_text {
  font-size: 0px !important;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.word_break {
  word-break: break-all;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

.word-keep-all {
  word-break: keep-all;
}

.line-nowrap {
  white-space: nowrap
}
/*

h1, h2, h3 ?

*/
