/*
  all colors expecting black/white should be defined here, and referenced as variables
  See also https://github.com/sass/sass/blob/stable/lib/sass/script/value/color.rb#L28-L181
*/

/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=7000B0k2DzD00+90NMH5tsI9rot */

// red
$color-primary-0: #ffeaea; /* Main Primary color */
$color-primary-1: #ffffff;
$color-primary-2: #fff9f9;
$color-primary-3: #e5bebe;
$color-primary-4: #c38a8a;

// yellow/brown (see)
$color-secondary-1-0: #fff5ea; /* Main Secondary color (1) */
$color-secondary-1-1: #ffffff;
$color-secondary-1-2: #fffcf9;
$color-secondary-1-3: #e5d2be;
$color-secondary-1-4: #c3a78a;

// blue-gray (go)
$color-secondary-2-0: #9da7ab; /* Main Secondary color (2) */
$color-secondary-2-1: #fcfcfc;
$color-secondary-2-2: #d0d3d5;
$color-secondary-2-3: #788990;
$color-secondary-2-4: #5d9ece; // !! This is obviously modified to be more blue, original value is different //

// gray-green (do)
$color-complement-0: #c1d2c1; /* Main Complement color */
$color-complement-1: #fefefe;
$color-complement-2: #e3e8e3;
$color-complement-3: #98b798;
$color-complement-4: #6e9c6e;

/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=13J0B0kb4++00++00++kNZeo6Ty */

/* As hex codes */

// blues - label is temporary prior to union
// color is an experiment, is not part of the generation above
$color-blue-0: #b0caff; /* Main Primary color */
$color-blue-1: #ffffff;
$color-blue-2: #ffffff;
$color-blue-3: #6899fa;
$color-blue-4: #4c81eb;

//

// TODO: deprecate, remove
// help
$color-help-bubbles: #ffa000;
$color-help-button: #ff8f00;
$color-help-description: #444;
$color-help-text: #f5f5f5;

// TODO - deprecate, remove

$color-button-default: #f5f5f5;
$color-create-button: #9ccc65;
$color-action-button: #9ccc65;
$color-request-button: $color-secondary-2-4;
$color-button-disabled: #ececec;
$color-remove-button: #f44336;

// TODO - deprecate
// aliases
$muted_blue: $color-secondary-2-0;
$muted_red: $color-secondary-1-3;
$background_gray: $color-secondary-2-1;
$title_gray: $color-secondary-2-4;
$note_yellow: $color-secondary-1-2;

// TODO - all these should deprecated into a unified palette
$body_background: rgb(247, 248, 252);
$default_text: #000; // black, not gray
$navigation_border: #e5e5e5;
$navigation_background: #f5f5f5;
$soft_background: #fafafa;
$disable_background: #fafafa;
$viewpoert_background: $background_gray;
$hub_background: #fafafa;
$navigation_focus_color: $color-secondary-2-0;
$navigation_focus_background: $color-secondary-2-4;
$panel_background: #fff;
$focus_link_color: #000;
$color-data: #006ebf;

$input-border-color: #d5d5d5;

$soft_validation: #ff8c00;

//header

$color-header: #455a64;

.muted_red {
  background-color: $muted_red;
}

.muted_blue {
  background-color: $muted_blue;
}

.string_emphasis {
  color: $muted_blue;
}

// inherit with @extend .navigation_emphasis, links only
.navigation_emphasis {
  background-color: $navigation_focus_background;
  a {
    color: $navigation_focus_color;
    &:visited {
      color: $color-complement-0;
    }
  }
}

.list_line_even {
  background: #fff;
}

/* valid for tables only */
.list_line_odd {
  background: #f8f8f8;
}

/* valid for tables only */

/* DEPRECATE take from pallette */
.green {
  color: green;
}

.brown {
  color: brown;
}

.red {
  color: red;
}
