/*
  all colors expecting black/white should be defined here, and referenced as variables
  See also https://github.com/sass/sass/blob/stable/lib/sass/script/value/color.rb#L28-L181
*/

/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=7000B0k2DzD00+90NMH5tsI9rot */

// red
$color-primary-0: #FFEAEA; /* Main Primary color */
$color-primary-1: #FFFFFF;
$color-primary-2: #FFF9F9;
$color-primary-3: #E5BEBE;
$color-primary-4: #C38A8A;

// yellow/brown (see)
$color-secondary-1-0: #FFF5EA; /* Main Secondary color (1) */
$color-secondary-1-1: #FFFFFF;
$color-secondary-1-2: #FFFCF9;
$color-secondary-1-3: #E5D2BE;
$color-secondary-1-4: #C3A78A;

// blue-gray (go)
$color-secondary-2-0: #9DA7AB; /* Main Secondary color (2) */
$color-secondary-2-1: #FCFCFC;
$color-secondary-2-2: #D0D3D5;
$color-secondary-2-3: #788990;
$color-secondary-2-4: #5D9ECE; // !! This is obviously modified to be more blue, original value is different // 

// gray-green (do)
$color-complement-0: #C1D2C1; /* Main Complement color */
$color-complement-1: #FEFEFE;
$color-complement-2: #E3E8E3;
$color-complement-3: #98B798;
$color-complement-4: #6E9C6E;

/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=13J0B0kb4++00++00++kNZeo6Ty */

/* As hex codes */

// blues - label is temporary prior to union
// color is an experiment, is not part of the generation above
$color-blue-0: #B0CAFF;	/* Main Primary color */
$color-blue-1: #FFFFFF;
$color-blue-2: #FFFFFF;
$color-blue-3: #6899FA;
$color-blue-4: #4C81EB;


// 

// TODO: deprecate, remove 
// help
$color-help-bubbles: #FFA000;
$color-help-button: #FF8F00;
$color-help-description: #444;
$color-help-text: #F5F5F5;

// TODO - deprecate, remove

$color-button-default: #F5F5F5;
$color-create-button: #9ccc65;
$color-action-button: #9ccc65;
$color-request-button: $color-secondary-2-4;
$color-button-disabled: #e5e5e5;
$color-remove-button: #F44336;

// TODO - deprecate
// aliases 
$muted_blue: $color-secondary-2-0;
$muted_red: $color-secondary-1-3;
$background_gray: $color-secondary-2-1;
$title_gray: $color-secondary-2-4;
$note_yellow: $color-secondary-1-2;

// TODO - all these should deprecated into a unified palette
$body_background: rgb(247, 248, 252);
$default_text: #000; // black, not gray
$navigation_border: #e5e5e5;
$navigation_background: #f5f5f5;
$soft_background: #fafafa;
$disable_background: #fafafa;
$viewpoert_background: $background_gray;
$hub_background: #fafafa;
$navigation_focus_color: $color-secondary-2-0;
$navigation_focus_background: $color-secondary-2-4;
$panel_background: #FFF;
$focus_link_color: #000;
$color-data: #006ebf;

$input-border-color: #d5d5d5;

$soft_validation: #ff8c00;

//header

$color-header: #78909C;

.muted_red {
  background-color: $muted_red
}

.muted_blue {
  background-color: $muted_blue;
}

.string_emphasis {
  color: $muted_blue;
}

// inherit with @extend .navigation_emphasis, links only
.navigation_emphasis {
  background-color: $navigation_focus_background;
  a {
    color: $navigation_focus_color;
    &:visited {
      color: $color-complement-0;
    }
  }
}

.list_line_even {
  background: #fff;
}

/* valid for tables only */
.list_line_odd {
  background: #f8f8f8;
}

/* valid for tables only */

/* DEPRECATE take from lists.scss */
.green {
  color: green;
}

.brown {
  color: brown;
}

.red {
  color: red;
}

