$standard_padding: 1em;
$standard_margin: 1em;
$pane_padding: 1em;
$pane_border: 1px solid silver;
$pane_margin: .2em;

.full_viewport_whitespace {
  .item {
    padding: $standard_padding;
  }
}

.break_words {
  word-break: break-all;
}

.tiny_space {
  padding: 4px
}

.small_space {
  padding: 8px;
}

.base_space {

}

.large_space {

}

.x-large_space {
}

.no-margin {
  margin: 0px !important;
}

.no-padding {
  padding: 0px !important;
}

.separate-left {
  margin-left: $standard_margin*0.5;
}

.separate-right {
  margin-right: $standard_margin*0.5;
}

.separate-panel-top {
  margin-top: $standard_margin;
}

