$standard_padding: 1em;
$standard_margin: 1em;
$pane_padding: 1em;
$pane_border: 1px solid silver;
$pane_margin: .2em;

.full_viewport_whitespace {
  .item {
    padding: $standard_padding;
  }
}

.break_words {
  word-break: break-all;
}

.break_words_pre {
  white-space: pre-wrap;
}

.tiny_space {
  padding: 4px
}

.small_space {
  padding: 8px;
}

.base_space {

}

.large_space {

}

.x-large_space {
}

.no-margin {
  margin: 0px !important;
}

.margin-small {
  margin: $standard_margin*0.5;
}

.margin-medium {
  margin: $standard_margin;
}

.margin-large {
  margin: $standard_margin*1.5;
}

.margin-small-top {
  margin-top: $standard_margin*0.5;
}

.margin-medium-top {
  margin-top: $standard_margin;
}

.margin-large-top {
  margin-top: $standard_margin*1.5;
}

.margin-xlarge-top {
  margin-top: $standard_margin * 2;
}

.margin-small-left {
  margin-left: $standard_margin*0.5;
}

.margin-medium-left {
  margin-left: $standard_margin;
}

.margin-large-left {
  margin-left: $standard_margin*1.5;
}

.margin-xlarge-left {
  margin-left: $standard_margin*2;
}

.margin-small-right {
  margin-right: $standard_margin*0.5;
}

.margin-medium-right {
  margin-right: $standard_margin;
}

.margin-large-right {
  margin-right: $standard_margin*1.5;
}

.margin-xlarge-right {
  margin-right: $standard_margin * 2;
}

.margin-small-bottom {
  margin-bottom: $standard_margin*0.5;
}

.margin-medium-bottom {
  margin-bottom: $standard_margin;
}

.margin-large-bottom {
  margin-bottom: $standard_margin*1.5;
}

.margin-xlarge-bottom {
  margin-bottom: $standard_margin * 2;
}

.margin-remove {
  margin: 0px;
}

.margin-remove-left {
  margin-left: 0px;
}

.margin-remove-right {
  margin-right: 0px;
}

.margin-remove-top {
  margin-top: 0px;
}

.margin-remove-bottom {
  margin-bottom: 0px;
}

.no-padding {
  padding: 0px !important;
}

.separate-left {
  margin-left: $standard_margin*0.5;
}

.separate-right {
  margin-right: $standard_margin*0.5;
}

.separate-panel-top {
  margin-top: $standard_margin;
}



// Padding


.padding-small {
  padding: $standard_padding*0.5;
}

.padding-medium {
  padding: $standard_padding;
}

.padding-large {
  padding: $standard_padding*1.5;
}

.padding-small-top {
  padding-top: $standard_padding*0.5;
}

.padding-medium-top {
  padding-top: $standard_padding;
}

.padding-large-top {
  padding-top: $standard_padding*1.5;
}

.padding-small-left {
  padding-left: $standard_padding*0.5;
}

.padding-medium-left {
  padding-left: $standard_padding;
}

.padding-large-left {
  padding-left: $standard_padding*1.5;
}

.padding-small-right {
  padding-right: $standard_padding*0.5;
}

.padding-medium-right {
  padding-right: $standard_padding;
}

.padding-large-right {
  padding-right: $standard_padding*1.5;
}

.padding-small-bottom {
  padding-bottom: $standard_padding*0.5;
}

.padding-medium-bottom {
  padding-bottom: $standard_padding;
}

.padding-large-bottom {
  padding-bottom: $standard_padding*1.5;
}

.padding-remove {
  padding: 0px;
}

.padding-remove-left {
  padding-left: 0px;
}

.padding-remove-right {
  padding-right: 0px;
}

.padding-remove-top {
  padding-top: 0px;
}

.padding-remove-bottom {
  padding-bottom: 0px;
}