
br.clear_both {
  clear: both;
}

.left_float {
  float: left;
}

.right_float {
  float: right;
}

.center_text {
  text-align: center;
}

.inline {
  display: inline;
}

.middle_align {
  vertical-align: middle
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.display-block {
  display: block;
}

.dislay-inline {
  display: inline;
}

.display-flex {
  display: flex;
}

.dislay-inline-flex {
  display: inline-flex;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

// Lifted from http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
