/* Button forms */

.button {
  position: relative;
  cursor: pointer;
  color: #444;
  border: none;
  background-color: $navigation-background;
  border-radius: 8px;
  &:disabled {
    color: #999;
    background-color: $color-button-disabled !important;
  }
  &:hover {
    opacity: 0.8;
  }
}

.button-normal {
  border: 1px solid $navigation_border;
  color: #444;
  background-color: #fff;
}

.button-default {
  color: #fff;
  background-color: $color-secondary-2-4 !important;
}

.btn-pin {
  background-image: image-url('b_pin.svg');
}

.button-submit,
.btn-submit {
  color: #fff;
  background-color: $color-action-button;
}

.button-delete,
.button-close,
.btn-delete {
  color: #fff;
  background-color: $color-remove-button;
}

.button-data {
  color: #fff;
  background-color: #006ebf;
}

.button-request {
  color: #fff;
  background-color: $color-request-button;
  &:hover {
    color: #fff;
    background-color: $color-request-button;
    opacity: 0.9;
  }
}

.actions {
  input[type='submit'] {
    @extend .button;
    @extend .button-submit;
  }
}

/* -------- */

.button-collapse-header {
  cursor: pointer;
  opacity: 0.6;
  position: absolute;
  display: none;
  margin-left: 1em;
  background-image: image-url('taxonworks-black-circle.svg');
  background-size: 38px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 9px;
  padding-left: 25px;
  z-index: 300;
  background-color: $panel_background;
  width: 20px;
  top: -36px;
  left: 0px;
  height: 36px;
  border-radius: 100%;
  border: 1px solid $color-secondary-2-4;
  box-shadow: 0 1px 3px 0 $color-secondary-2-4;

  transition: background-size 0.3s ease, background-color 0.3s ease,
    top 0.5s ease, opacity 0.5s ease, padding-left 0.5s ease;
}

.button-collapse-header:hover {
  opacity: 1;
  top: -25px;
  transition: background-size 0.3s ease, background-color 0.3s ease,
    top 0.5s ease, opacity 0.5s ease, padding-left 0.5s ease;
  background-size: 35px;
}

.button-small {
  width: 18px !important;
  height: 18px !important;
  min-width: 18px !important;
  min-height: 18px !important;
  background-size: 10px !important;
}
.circle-button {
  @extend .circle-button-margin;
  border-radius: 50%;
  display: block;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  font-size: 0px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 1px 2px 0px $navigation_border;
  cursor: pointer;
}

.button-circle {
  @extend .circle-button;
  display: inline-block;
}

.btn-add {
  background-color: $color-action-button;
  background-image: image-url('bplus.svg');
}

.btn-delete {
  background-color: #f44336;
  background-image: image-url('w_trash.svg');
}

.btn-download {
  background-color: $color-secondary-2-4;
  background-image: image-url('w_download.svg');
}

.btn-edit {
  background-color: $color-action-button;
  background-image: image-url('w_pencil.svg');
}

.btn-citation {
  background-size: 12px;
  background-image: image-url('w_citation.svg');
}

.btn-row-coder {
  background-size: 16px;
  background-color: $color-secondary-2-4;
  background-image: image-url('w_row_code.svg');
}

.btn-radial-annotator {
  background-size: 16px;
  background-color: $color-secondary-2-4;
  background-image: image-url('w_radialmenu.svg');
}

.btn-radial-object {
  background-size: 12px;
  background-color: $color-secondary-2-4;
  background-image: image-url('compass.svg');
  background-position: 45% 55%;
}

.btn-locked {
  background-size: 12px;
  background-image: image-url('w_locked.svg');
}

.btn-show {
  background-size: 12px;
  background-image: image-url('w_show.svg');
}

.btn-hide {
  background-size: 12px;
  background-image: image-url('w_hide.svg');
}

.btn-unlocked {
  background-size: 12px;
  background-image: image-url('w_unlocked.svg');
}

.btn-co-radial {
  background-size: 18px;
  background-image: image-url('w_co_radial.svg');
}

.btn-hexagon-w {
  background-size: 16px;
  background-image: image-url('w_hexagon.svg');
}

.btn-hexagon-arrow-flip-w {
  background-size: 16px;
  transform: scaleX(-1);
  background-image: image-url('hexagon_empty_w.svg');
}

.btn-hexagon-empty-w {
  background-size: 16px;
  background-image: image-url('hexagon_empty_w.svg');
}

.btn-tag-delete {
  background-color: #f44336;
  background-size: 12px;
  background-image: image-url('label.svg');
}

.btn-tag {
  background-size: 12px;
  background-image: image-url('label.svg');
}

.btn-tag-add {
  background-color: $color-action-button;
  background-size: 12px;
  background-image: image-url('label.svg');
}

.btn-confidences {
  background-size: 12px;
  background-image: image-url('w_confidences.svg');
}

.btn-undo {
  background-image: image-url('undo.svg');
}

.btn-clipboard {
  background-size: 12px;
  background-image: image-url('paper-clips.svg');
}

.btn-add-to-project {
  background-size: 14px, 16px;
  background-image: image-url('addtoproject.svg');
}

.btn-remove-from-project {
  background-size: 14px, 16px;
  background-image: image-url('removefromproject.svg');
}

.btn-create-child {
  background-size: 14px, 14px;
  background-image: image-url('create_child_icon.svg');
}

.btn-create-sister {
  background-size: 14px, 16px;
  background-image: image-url('create_sister_icon.svg');
}

.circle-button-big {
  width: 30px;
  height: 30px;
}

.circle-button-margin {
  margin-left: 4px;
  margin-right: 4px;
}
.box-button {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-size: 14px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
  transition: background-color 0.5s ease;
  border: 1px solid $navigation_border;
  background-color: $color-secondary-2-1;
  box-shadow: 0 0px 1px 0 $navigation_border;
}

#otu_picker_add_ok {
  @extend .circle-button;
  @extend .circle-button-big;
  background-color: #aed581;
  background-size: 16px;
  background-image: image-url('w_ok.svg');
}

#otu_picker_new_undo {
  @extend .circle-button;
  @extend .circle-button-big;
  background-color: #f44336;
  background-image: image-url('undo.svg');
}

.new_plus,
.add_total_row {
  @extend .circle-button;
  @extend .circle-button-big;
  background-color: #aed581;
  background-image: image-url('bplus.svg');
}

.delete-circle,
.remove_row {
  @extend .circle-button;
  @extend .circle-button-big;
  background-color: #f44336;
  background-image: image-url('trash.svg');
}

.pin-button {
  @extend .circle-button;
  background-color: $color-action-button;
  background-size: 14px;
  background-image: image-url('b_pin.svg');
}

.unpin-button {
  @extend .pin-button;
  font-size: 0px;
  background-color: $color-remove-button;
}

.disable-button,
.btn-disabled {
  opacity: 0.5;
  background-color: $navigation_border;
}

.button-undo {
  display: none;
  @extend .circle-button;
  width: 30px;
  background-color: #f44336;
  background-image: image-url('undo.svg');
}

.pdf-button {
  background-image: image-url('pdf.svg');
}

.expand {
  @extend .box-button;
  background-image: image-url('expand.svg');
}

.contract {
  @extend .box-button;
  background-image: image-url('contract.svg');
}
