@import 'base/palette';

.button-collapse-header {
	cursor:pointer;
    opacity: 0.6;
    position: absolute;
    display: none;
    margin-left: 1em;
    background-image: image-url('hub.svg');
    background-size:25px;
    background-repeat:no-repeat;
    background-position: center; 
    padding:9px;
    padding-left: 25px;
    z-index: 300;
    background-color: $panel_background;
    width: 20px;
    top: -36px;
    left:15px;
    height: 36px;
    border-radius: 100%; 
    box-shadow: 0 1px 3px 0 $navigation_border;
 
    transition: background-size 0.3s ease,
                background-color 0.3s ease,
                top 0.5s ease,
                opacity 0.5s ease,
                padding-left 0.5s ease;  

}

.button-collapse-header:hover {
    opacity: 1;
   	top:-25px;
    transition: background-size 0.3s ease,
                background-color 0.3s ease,
                top 0.5s ease,
                opacity 0.5s ease,
                padding-left 0.5s ease;
  	background-size:35px;
}

.circle-button {
	border-radius: 50%;
	display: block;
	width: 25px;
	height: 25px;
	font-size: 0px;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0px 1px 2px 0px $navigation_border;
	margin: 5px;
    cursor: pointer;
}

.box-button {
    cursor: pointer;
    width: 24px;
    height:24px;
    background-size: 14px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    transition: background-color 0.5s ease;
    border: 1px solid $navigation_border;
    background-color: $color-secondary-2-1;
    box-shadow: 0 0px 3px 0 $navigation_border;    
}

#otu_picker_add_ok {
	@extend .circle-button;
	background-color: #AED581;
	background-image: image-url("ok.svg");
}

#otu_picker_new_undo {
	@extend .circle-button;
	background-color: #F44336;
	background-image: image-url("undo.svg");
}

.new_plus, .add_total_row {
	@extend .circle-button;
	background-color: #AED581;
	background-image: image-url("bplus.svg");
}

.delete-circle, .remove_row  {
	@extend .circle-button;
	background-color: #F44336;
	background-image: image-url("trash.svg");
}

.pin-button {
    @extend .circle-button;
    background-color: #00796B;
    margin:0px;
    background-size: 14px;
    background-image: image-url("b_pin.svg");
}

.disable-button {
    opacity: 0.5;
    background-color: $navigation_border;
}

.button-undo {
	display: none;
	@extend .circle-button;
	background-color: #F44336;
	background-image: image-url("undo.svg");
}

.expand {    
    @extend .box-button;
    background-image: image-url("expand.svg");
}

.contract {
    @extend .box-button;   
    background-image: image-url("contract.svg");
}