// see application for notices related styling

.feedback {
  color: $default_text;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border-radius: .25rem;
  border: 1px solid;
  line-height: 1.9
}

.feedback-thin {
  padding: .1875rem 0.3125rem;
  margin-bottom: .25rem;
  border-radius: .0625rem;
}
// See concept from bootstrap alerts

// blue
.feedback-primary {
  color:  $color-blue-4;
  background-color: $color-blue-0;
  border-color: $color-blue-3;
}

// gray
.feedback-secondary {
  color: $color-secondary-2-4;
  background-color: $color-secondary-2-1;
  border-color: $color-secondary-2-3;
}

// green
.feedback-success {
  color: $color-complement-4;
  background-color: $color-complement-0;
  border-color: $color-complement-3;
}

// red
.feedback-danger {
  color: $color-primary-4;
  background-color: $color-primary-0;
  border-color: $color-primary-3;
}

// yellow
.feedback-warning {
  color: $color-secondary-1-4;
  background-color: $color-secondary-1-0;
  border-color: $color-secondary-1-3;
}

// brighter blue
.feedback-info {
  color: $color-blue-4;
  background-color: $color-blue-0;
  border-color: $color-blue-3;
}

// gray on white
.feedback-light {
  color: $default_text;
  background-color: $color-secondary-2-1;
  border-color: $color-secondary-2-2;
}

// black on gray
.feedback-dark {
  color: white;
  background-color: $color-secondary-2-3;
  border-color: $color-secondary-2-2;
}

// -------- END bootstrap clone experiment -------

.success {
  background-color: $color-complement-4;
}

.warning { // danger
  background-color: $color-primary-4;
}

// ---

.instruction {
  color: $color-secondary-2-2;
}

// same as warning?!
.failure {
  background-color: $color-primary-4;
}

// deprecate for .success
.passed {
  background-color: $color-complement-4;
}

.subtle {
  color: $color-secondary-2-2;
}

.disabled {
  color: $color-secondary-2-2;
}

.mx-spinner {
  position: absolute;
  background-image: image-url('spinner.gif');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #aeaeae;
  opacity: 0.9;
}

// intent is a sticky note like message that stays in place
.sticky {
  @extend .string_emphasis;
  @extend .small_space;
  background-color: $color-secondary-1-2;
}
