/* 
  font-weight

  Guidelines: 
  Use numbers, see:
  https://css-tricks.com/almanac/properties/f/font-weight/

 The default font-weight throughout is 400 (normal). Best practice is to only
 change weight for headers, and elements that you want significantly de-emphasized. 
 In general most fonts should have the same weight.  We assume that all things
 equal a normal, black font on white is the most readable across screens.
*/ 

// 
// font-size 
//
$font_tiny: 11px;
$font_small: 12px;
$font_normal: 13px;
$font_subtitle: 14px;
$font_title: 16px;

.micro_type {}
.small_type {}
.regular_type { font-size: 12px; }
.large_type { font-size: 13px; }

.hide_text {
	font-size: 0px !important;
}

/*

h1, h2, h3 ?

*/
