$font_tiny: 11px;
$font_small: 12px;
$font_normal: 13px;
$font_title: 16px;
$font_subtitle: 14px;

.micro_type { }
.small_type {}
.regular_type { font-size: 12px; }
.large_type { font-size: 13px; }

.hide_text {
	font-size: 0px !important;
}

/*

h1, h2, h3 ?

*/
