$big-input-size: 40px;
$normal-input-size: 28px;

input[type=checkbox].locked {
  display: none;
}

input[type=checkbox].increment {
  display: none;
}

.icon-checkbox {
  display: inline-block;
  font-size: $font_small;
  cursor: pointer;
  width: $normal-input-size;
  height: $normal-input-size;
  max-width: $normal-input-size;
  max-height: $normal-input-size;
  background-size: 12px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
  transition: background-color 0.5s ease;
  border: 1px solid $navigation_border;
  background-color: $color-secondary-2-1;
}

.increment {
  @extend .icon-checkbox;
  background-image: image-url('inc.svg');
}

.lock {
  @extend .icon-checkbox;
  background-image: image-url('unlocked.svg');
}

button {
  font-size: 12px;
}

input[type=checkbox]:checked + label.lock {
  background-image: image-url('locked.svg');
  box-shadow: inset 0px 1px 2px 0px $navigation_border;
  background-color: $navigation_background;
}

input[type=checkbox]:checked + label.increment {
  background-image: image-url('inc.svg');
  box-shadow: inset 0px 1px 2px 0px $navigation_border;
  background-color: $navigation_background;
}

.input-checkbox-field {
  input, select {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  label {
    border-left: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-left: 0px !important;
  }
}

.mx-autocomplete {
  border: 1px $color-secondary-1-3 solid;
}

textarea:focus, input:focus {
  outline: none;
}

fieldset {
  border-radius: 2px;
  border: 1px solid $navigation_border;
  background-color: #FFF;
}

input, textarea {
  position: relative;
  font-size: $font_small;
  padding: 0px;
  padding-left: $standard_padding*0.9;
  padding-right: $standard_padding*0.9;
  border-radius: 2px;
  border: 1px solid $input-border-color;
  background-color: #FFF;
  box-sizing: border-box;
  min-height: $normal-input-size;
}

input[type="checkbox"], input[type="radio"] {
  min-height: unset
}

input[type="submit"] {
  position: relative;
  cursor: pointer;
  font-weight: 500;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"][disabled] {
  color: #000;
  opacity: 0.5;
  background-color: $navigation_border;
}

select {
  padding: $standard_padding*0.5;
  padding-left: $standard_padding;
  padding-right: $standard_padding;
  border-radius: 2px;
  border: 1px solid $muted_blue;
  background-color: #FFF;
  font-size: $font_tiny;
}

.ui-autocomplete {
  text-align: left;
}

.date-input {
  width: 140px;
}

.input-xsmall-width {
  width: 80px;
}

.input-small-width {
  width: 100px;
}

.input-medium-width {
  width: 200px;
}

form div.required {
  display: inline;
  div.or {
    display: inline;
    div.option {
      display: inline;
    }
  }
}

.inline_fields {
  .field {
    br {
      display: none;
    }
    input {
      padding-left: $standard_padding;
    }
  }
}

.side_by_side_fields {
  overflow: auto;
  .field {
    float: left;
    padding-right: $standard_padding;
  }
}

.field {
  &.label_above, &.label-above {
    label {
      display: block;
    }
  }
}

.label-above {
  label {
    display: block;
  }
}

h4 {
  margin-bottom: 0;
}

.inline_div {
  padding-left: $standard_padding * 2;
}

.big-input {
  height: $big-input-size;
}

.normal-input {
  min-height: $normal-input-size;
}
