#header_bar {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  background-color: var(--header-bg-color);
  height: 60px;
  color: white;

  #taxonworks_logo {
    width: 60px;
    height: 60px;
    background-image: image-url('taxonworks-white-circle.svg');
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      background-size: 46px;
    }
  }

  #taxonworks_left {
    line-height: $font_small;
  }

  #taxonworks_left > a {
    color: white;
    text-decoration: none;
  }

  #taxonworks_version {
    color: White;
    font-size: $font_small;
    text-decoration: none;
    padding: 0;
  }

  .horizontal_navbar {
    a {
      padding: 0px;
      color: #fff;
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-button {
    color: white;
    border: none;
    cursor: pointer;

    svg {
      width: 24px;
      height: 20px;
    }
  }

  .hub_project_name {
    color: white;
    font-size: $font_title;
  }

  .dropdown-content {
    display: none;
    top: 38px;
    position: absolute;
    background: var(--bg-foreground);
    right: 0;
    min-width: 150px;
    box-shadow: var(--panel-shadow);
    border-radius: 4px;
    margin-top: 5px;
    z-index: 10;
  }

  .dropdown-content a {
    display: block;
    color: var(--text-color);
    text-decoration: none;
  }

  .dropdown-content li {
    display: block;
    padding: 10px 20px;
    color: var(--text-color);
    text-decoration: none;
  }

  .dropdown-content a:hover {
    background: var(--bg-foreground);
  }

  .show {
    display: block;
  }
}

#header_bar.header_development {
  background-color: black;
  background-image: linear-gradient(to right, #3a3a3a 1px, transparent 1px),
    linear-gradient(to bottom, #3a3a3a 1px, transparent 1px);
  background-size: 12px 12px;
}

#header_bar.sandbox {
  background-color: var(--header-sandbox-bg-color);

  #taxonworks a {
    color: $default_text;
  }
}

.current_hub_category a {
  border-bottom: 2px solid $color-secondary-2-4 !important;
  color: var(--text-color) !important;
}

#main {
  margin: 0 auto;
  padding-left: $standard_padding;
  padding-right: $standard_padding;
}
