#header_bar {
  margin: 0 auto;
  padding-left: $standard_padding;
  padding-right: $standard_padding;
  align-items: center;
  background-color: $color-header;
  height: 60px;

  #taxonworks {
    .logo {
      width: 160px;
      height: 20px;
      background-image: image-url('taxonworks-white.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left center;
      padding: 0px;
      text-decoration: none;
    }
  }

  #taxonworks_left {
    line-height: $font_small;
    li {
      padding-left: $standard_padding * 0.5;
    }
  }

  #taxonworks_version {
    color: White;
    font-size: $font_small;
    text-decoration: none;
    padding: 0;
  }

  #session_nav {
    flex-grow: 0;
  }

  .horizontal_navbar {
    a {
      padding: 0px;
      color: #FFF;
    }
    li {
      padding-left: $standard_padding;
    }
  }
}

#header_bar.sandbox {
  background-color: $color-primary-0;
  #session_nav a {
    color: $color-secondary-2-4;
  }

  #taxonworks a {
    color: $default_text;
  }
}

.current_hub_category a {
  border-bottom: 2px solid $color-secondary-2-4 !important;
  color: $default_text !important;
}

#main {
  margin: 0 auto;
  padding-left: $standard_padding;
  padding-right: $standard_padding;
}

