@import 'base/palette';
@import 'base/whitespace';

#header_bar {
	margin:0 auto;
	padding-left:$standard_padding;
	padding-right:$standard_padding;
	align-items:center;
	background-color: $navigation_background;
	border-bottom: 1px solid $navigation_border;
	height:50px;
	font-weight: normal;

	a {
		padding: $standard_padding;
	}

	#taxonworks {
		a {
			color: $default_text;
			padding: 0px;
			font-size: 22px;
			text-decoration: none;
		}
	}

	#session_nav {
		flex-grow: 0;
	}
}

#header_bar.sandbox {
	background-color: $color-primary-0;
} 

.current_hub_category {
	border-bottom: 2px solid $color-secondary-2-4 !important;
}
.current_hub_category a {
	color: $default_text !important;
}

#main {
	margin:0 auto;
	padding-left:$standard_padding;
	padding-right:$standard_padding;
}

