    [data-icon] {
      background-size: 14px 14px;
      background-repeat: no-repeat;
      background-position: left, center;
      padding-left: 20px;
      min-height: 16px;
      align-items: center;
    }

    .small-icon {
      background-size: 12px 12px;
      padding-left: 18px;
      min-height: 12px;
    }

    .medium-icon {
      background-size: 24px 24px;
      padding-left: 24px;
      min-height: 24px;
    }  

    .big-icon {
      background-size: 30px 30px;
      padding-left: 30px;
      min-height: 30px;
    }

    .icon-without-space {
      padding-left: 14px;
    }  

    .icon-right { 
      background-position: right, center;
      padding-right: 20px;
    }

    .cursor-pointer {
      cursor: pointer;
    }

    [data-icon="biology"] {
      background-image: image-url("biology.svg");
    }         

    [data-icon="annotate"] {
      background-image: image-url("annotate.svg");
    } 

    [data-icon="batch"] {
      background-image: image-url("batch_load.svg");
    }     

    [data-icon="help"] {
      background-image: image-url("help.svg");
    }   

    [data-icon="b_help"] {
      background-image: image-url("b_help.svg");
    }           

    [data-icon="expand"] {
      background-image: image-url("expand.svg");
    }

    [data-icon="w_expand"] {
      background-image: image-url("w_expand.svg");
    }

    [data-icon="citation"] {
      background-image: image-url("citation.svg");
    }          

    [data-icon="clone"] {
      background-image: image-url("clone.svg");
    } 

    [data-icon="compare"] {
      background-image: image-url("compare.svg");
    }   

    [data-icon="contract"] {
      background-image: image-url("contract.svg");
    }
    
    [data-icon="w_contract"] {
      background-image: image-url("w_contract.svg");
    }    

    [data-icon="chain"] {
      background-image: image-url("chain.svg");
    }           

    [data-icon="drag"] {
      background-image: image-url("drag.svg");
    }

    [data-icon="link"] {
      background-image: image-url("link.svg");
    }      

    [data-icon="list"] {
      background-image: image-url("list.svg");
    }         

    [data-icon="scroll-v"] {
      background-image: image-url("scroll-v.svg");
    }

    [data-icon="w_scroll-v"] {
      background-image: image-url("w_scroll-v.svg");
    }

    [data-icon="scroll-h"] {
      background-image: image-url("scroll-h.svg");
    }         

    [data-icon="browse"] {
      background-image: image-url("browse.svg");
    }     

    [data-icon="download"] {
      background-image: image-url("download.svg");
    }     

    [data-icon="add"] {
      background-image: image-url("add.svg");
    }

    [data-icon="w_plus"] {
      background-image: image-url("bplus.svg");
    }

    [data-icon="w_less"] {
      background-image: image-url("w_less.svg");
    }

    [data-icon="icons"] {
      background-image: image-url("icons.svg");
    }          

    [data-icon="image"] {
      background-image: image-url("image.svg");
    }          

    [data-icon="pin"] {
      background-image: image-url("pin.svg");
    } 

    [data-icon="preview"] {
      background-image: image-url("preview.svg");
    }     

    [data-icon="edit"] {
      background-image: image-url("new.svg");
    }      

    [data-icon="new"] {
      background-image: image-url("new.svg");
    }              

    [data-icon="trash"] {
      background-image: image-url("trash.svg");
    }      

    [data-icon="favorite"] {
      background-image: image-url("star.svg");
    }      

    [data-icon="arrow-right"] {
      background-image: image-url("arrow-right.svg");
    }     

    [data-icon="arrow-left"] {
      background-image: image-url("arrow-left.svg");
    }          

    [data-icon="recent"] {
      background-image: image-url("recent.svg");
    }        

    [data-icon="reset"] {
      background-image: image-url("restart.svg");
    }  
    
    [data-icon="swap"] {
      background-image: image-url("swap.svg");
    }  

    [data-icon="task"] {
      background-image: image-url("task.svg");
    }            

    [data-icon="data"] {
      background-image: image-url("data.svg");
    }     

    [data-icon="arrow-up"] {
      background-image: image-url("arrow-up.svg");
    }     

    [data-icon="arrow-down"] {
      background-image: image-url("arrow-down.svg");
    }          

    [data-icon="related"] {
      background-image: image-url("related.svg");
    }                    

    [data-icon="show"] {
      background-image: image-url("show.svg");
    }

    [data-icon="hide"] {
      background-image: image-url("hide.svg");
    }  

    [data-icon="openFolder"] {
      background-image: image-url("open_folder.svg");
    }   

    [data-icon="users"] {
      background-image: image-url("users.svg");
    }       

    [data-icon="folders"] {
      background-image: image-url("folders.svg");
    }  

    [data-icon="options"] {
      background-image: image-url("options.svg");
    }   

    [data-icon="close"] {
      background-image: image-url("close.svg");
    }

    [data-icon="attention"] {
      background-image: image-url("attention.svg");
    }

    [data-icon="ok"] {
      background-image: image-url("ok.svg");
    }   

    [data-icon="savedb"] {
      background-image: image-url("savedb.svg");
    }

    [data-icon="warning"] {
      background-image: image-url("attention.svg");
    } 

    [data-icon="w_wrench"] {
      background-image: image-url("w_wrench.svg");
    }
