#keyShortcuts {

  .legend {
    z-index: 2101;
    display: block;
    position: fixed;
    top: calc(50vh + 135px);
    right: -220px;
    cursor: pointer;
    font-size: $font_small;
    background-color: $panel_background;
    padding: $standard_padding;
    padding-right: 40px;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    transition: right 0.5s ease;
  }

  .panel {
    display: none;
    top: 25%;
    left: 50%;
    z-index: 9000;
    position: fixed;
    transform: translateX(-50%) translateY(-50%);
    width: 800px;
    opacity: 1;
    box-shadow: 0 0px 2px 0px #888;
    border-radius: 3px;
  }
  .list {
    display: flex;
    flex-direction: row;
  }

  .header {
    display: flex;
    justify-content: space-between;

    .title {
      font-size: $font_title;
    }
    .close {
      cursor: pointer;
      margin-right: $standard_margin*0.5;
      opacity: 0.5;
    }
    .close:hover {
      opacity: 1;
    }
    border-bottom: 1px solid $navigation_border;
  }

  table {
    th {
      border: none;
      padding-left: $standard_padding;
      font-size: $font_subtitle;
    }
    tr {
      height: 30px;
    }
    border: none;
    box-shadow: none;
    th {
      font-weight: 700;
    }
    th:hover {
      background-color: #FFF;
    }
    td {
      padding-left: $standard_padding;
      font-size: $font_small;
      vertical-align: center;
    }
    td:first-child {
      padding-left: $standard_padding;
      padding-right: 0px;
      text-align: right;
      height: auto;
    }

  }

  .keyboard-background-active {
    display: none;
    background: #444;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 7000;
  }

  .key {
    font-size: $font_tiny;
    font-weight: 500;
    min-width: 12px;
    text-align: center;
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid $navigation_border;
    border-radius: 3px;
    border-bottom: 2px solid $navigation_border;

  }
}

.help-button-active + #keyShortcuts .legend {
  right: -220px;
  transition: right 0.5s ease;
}

.help-button-active:hover + #keyShortcuts .legend {
  right: 18px;
  display: block;
  transition: right 0.5s ease;
}

#keyShortcuts .legend:hover {
  right: 18px;
  display: block;
  transition: right 0.5s ease;
}
