#keyShortcuts {
  .legend {
    z-index: 2101;
    display: block;
    position: fixed;
    top: -60px;
    right: 166px;
    cursor: pointer;
    font-size: $font_small;
    box-shadow: var(--panel-shadow);
    background-color: var(--bg-foreground);
    padding: $standard_padding;
    padding-right: 40px;
    border-radius: 3px;
    transition: all 0.5s ease;
  }

  .keyboard-table-shortcuts {
    box-shadow: var(--panel-shadow);
  }

  .panel {
    visibility: hidden;
    top: 50%;
    left: 50%;
    z-index: 9000;
    position: fixed;
    transform: translateX(-50%) translateY(-50%);
    width: 800px;
    opacity: 0.5;
  }

  .list {
    display: flex;
    flex-direction: row;
  }

  .header {
    display: flex;
    justify-content: space-between;

    .title {
      font-size: $font_title;
    }
    .close {
      cursor: pointer;
      margin-right: $standard_margin * 0.5;
      opacity: 0.5;
    }
    .close:hover {
      opacity: 1;
    }
    border-bottom: 1px solid var(--border-color);
  }

  table {
    th {
      border: none;
      padding-left: $standard_padding;
      font-size: $font_subtitle;
    }
    tr {
      height: 30px;
    }
    border: none;
    box-shadow: none;
    th {
      font-weight: 700;
    }
    th:hover {
      background-color: inherit;
    }
    td {
      padding-left: $standard_padding;
      vertical-align: center;
    }
    td:first-child {
      padding-left: $standard_padding;
      padding-right: 0px;
      text-align: right;
      height: auto;
    }
  }

  .keyboard-background {
    visibility: hidden;
    background: #444;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 7000;
    transition: all 0.5s ease;
  }

  .panel.active {
    visibility: visible;
    transition: all 0.5s ease;
    opacity: 1;
  }

  .key {
    font-size: $font_tiny;
    font-weight: 500;
    line-height: 10px;
    text-align: center;
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    border-bottom: 2px solid var(--border-color);
    background-color: var(--bg-color);
  }
}

.help-background__active + #keyShortcuts .legend {
  top: 10px;
  transition: all 0.5s ease;
}

.help-button-active:hover + #keyShortcuts .legend {
  top: 10px;
  display: block;
  transition: all 0.5s ease;
}

#keyShortcuts .legend:hover {
  display: block;
  transition: all 0.5s ease;
}
