.object_tag_list {
  padding-left: 1em;
  li {
    line-height: $font_normal + $font_normal - 3;
    padding-left: 1em;
    text-indent: -1em;
  }
}

.list-arrow {
  li {
    background-image: none;
    background-repeat: no-repeat;
    background-position: -14px, center;        
    background-image: image-url("arrow-right.svg");
    transition: background-position 0.5s ease;
    background-size: 10px;
  }
  li:hover {
    list-style: none;
    transition: background-position 0.5s ease;
    background-position: 0px, center;        
  }
}

.list {
  margin: 0px;
  padding: 0px;
  li {
    padding: 5px;
    padding-left: $standard_padding*1.5;
    margin: 0px;
  }
}

.breadcrumb_list {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  list-style: none;
  margin: 0px;
  padding:0px;
  li {
    margin-right: 5px;
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: left, center;
    padding-left: $standard_padding;
    background-image: image-url("arrow-right.svg");
  }
  li:first-child {
    padding-left: 0px;
    background-image: none;
  }
}

.no_bullets {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.tree, ul.tree ul {
  list-style: none;
   margin: 0;
   padding: 0;
 } 
 ul.tree ul {
   margin-left: 10px;
 }
 ul.tree li {
   margin: 0;
   padding: 0 7px;
   line-height: 20px;
   color: #369;
   border-left:1px solid rgb(100,100,100);

 }
 ul.tree li:last-child {
     border-left:none;
 }
 ul.tree li:before {
    position:relative;
    top:-0.3em;
    height:1em;
    width:12px;
    color:white;
    border-bottom:1px solid rgb(100,100,100);
    content:"";
    display:inline-block;
    left:-7px;
 }
 ul.tree li:last-child:before {
    border-left:1px solid rgb(100,100,100);   
 }
