@import 'base/whitespace';

.breadcrumb_list {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  list-style: none;
  margin: 0px;
  padding:0px;
  li {
    margin-right: 5px;
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: left, center;
    padding-left: $standard_padding;
    background-image: image-url("arrow-right.svg");
  }
  li:first-child {
    padding-left: 0px;
    background-image: none;
  }
}

.no_bullets {
  list-style: none;
  margin: 0;
  padding: 0;
}

.green {
  color: green;
}

.brown {
  color: brown;
}

.red {
  color: red;
}