@import 'base/palette';
@import 'base/whitespace';

.alert {
  display: flex;
  z-index: 999;
  position: absolute;
  flex-direction: row;
  margin: 0px;
  align-items: center;
  left: 50%;
  opacity: 0; 
  transform: translateY(-100%) translateX(-50%);
  padding: $standard_padding; 
  border-top:none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  animation: alert-show 5s ease;


  &.alert-notice {
  	box-shadow: 0 0 3px 0 $color-complement-3;
    background: $color-complement-2;
  }

  &.alert-alert {
  	box-shadow: 0 0 3px 0 $color-primary-3;
    background: $color-primary-2;
  }
}
.alert-error {
    box-shadow: 0 0 3px 0 $color-primary-3;
    background: $color-primary-2; 
}