.alert {
  display: flex;
  z-index: 99999;
  position: fixed;
  flex-direction: row;
  margin: 0px;
  align-items: center;
  left: 50%;
  bottom: 0px;
  transform:translate(-50%,105%);
  padding: $standard_padding;
  border-top: none;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  animation: alert-show 10s ease;

  .alert-close {
    margin-left: standard_padding;
    position: relative;
    margin-left: 40px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: center;
    background-image: image-url("close.svg");
  }

  .alert-close:hover {
    cursor: pointer;
    opacity: 1;
  }

  &.alert-notice {
    box-shadow: 0px 0px 0px 1px $color-complement-3;
    background: $color-complement-2;
  }

  &.alert-alert {
    box-shadow: 0px 0px 0px 1px $color-primary-3;
    background: $color-primary-2;
  }
}

.alert-error {
  box-shadow: 0px 0px 0px 1px $color-primary-3;
  background: $color-primary-2;
}
