html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

p,
ol,
ul,
td {
  line-height: 18px;
}

pre {
  background-color: var(--bg-foreground);
  padding: 10px;
  font-size: 11px;
}

// see navigation for a

div {
  &.field,
  &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: var(--color-error);
  color: white;
}

#error_explanation {
  border: 2px solid var(--color-error);
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: var(--bg-color);

  h2 {
    text-align: left;
    font-weight: 700;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: var(--color-error);
    color: white;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
