$header-color: #00796b;
$category-header-color: #004d40;
$default-padding: 2em;

.dark {
  .slide-panel {
    .slide-panel-category-header {
      background-image: image-url('w-arrow-down.svg');
    }
  }
}

.slide-panel {
  z-index: 1000;
  right: -400px;
  top: 0px;
  position: fixed;
  transition: all 0.5s ease;
  width: 400px;
  height: 100vh;
  background-color: var(--bg-foreground);
  font-weight: 300;

  a {
    text-decoration: none;
  }

  .slide-panel-content {
    position: relative;
    display: block;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
    height: calc(100vh - 60px) !important;
  }

  .slide-panel-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 60px;
    display: flex;
    font-size: $font_title;
    color: #fff;
    align-items: center;
    padding-left: $default-padding;
    padding-right: 0.5rem;
    background-color: $header-color;
  }

  .slide-panel-category-item {
    display: flex;
    align-items: center;
  }

  .slide-panel-category-content {
    padding-left: $default-padding;
  }

  .slide-panel-category-header {
    padding: 0.8em;
    cursor: pointer;
    background-color: var(--bg-color);
    padding-left: $default-padding;
    border-left: 5px solid $category-header-color;
    background-image: image-url('arrow-down.svg');
    background-position: right 1em center;
    background-repeat: no-repeat;
  }
}

.slide-panel-description {
  @include arrow-box-top(50%);
  display: none;
  font-weight: 300;
  position: absolute;
  font-size: $font_small;
  white-space: nowrap;
  padding: $standard_padding * 0.5;
  background-color: $color-help-description;
  color: $color-help-text;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  left: 50%;
  transform: translateX(-50%);
  top: 46px;
  z-index: 2;
  padding-left: $standard_padding;
  padding-right: $standard_padding;
  border-radius: 3px;
}

.slide-panel-circle-icon {
  position: relative;
  opacity: 0.4;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  box-shadow: 0px 1px 2px 0px #444;
  transition: all 0.3s ease;

  &:hover .slide-panel-description {
    display: block;
  }
}

.slide-panel-circle-icon:hover {
  opacity: 1;
  background-size: 20px;
  transition: all 0.3s ease;
}

.slide-panel-show {
  z-index: 2103;
  right: 0px;
  transition: right 0.5s ease;

  .slide-panel-content {
    box-shadow: 0px 1px 2px 0px var(--border-color);
  }

  .slide-panel-circle-icon {
    transform: translateX(-50%);
  }
}

.slide-pinboard {
  .empty-message {
    width: 100%;
    top: calc(50vh - 65px);
    position: absolute;
    text-align: center;
    .message {
      text-align: center;
      font-weight: 300;
      font-size: 1.5em;
    }
  }
}

.slide-clipboard {
  .slide-panel-header {
    background-color: #004b77;
  }
}

.slide-document {
  .slide-panel-header {
    background-color: #770000;
  }
}

.slide-left {
  left: 0px;
  right: 0px;
  .slide-panel-circle-icon {
    left: auto;
    right: -27px;
  }
}

.slide-panel-close-button {
  background-image: image-url('w-arrow-right');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  width: 28px;
  height: 32px;
  border-radius: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.slide-panel-circle-icon-clipboard {
  background-color: #004b77;
  background-image: image-url('paper-clips.svg');
}

.slide-panel-circle-icon-pdf {
  background-color: #770000;
  background-image: image-url('b_book.svg');
}

.slide-panel-circle-icon-pinboard {
  background-color: $category-header-color;
  background-image: image-url('b_pin.svg');
}
