// see application for notices related styling

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px !important;
  margin: 0;
}
