// see application for notices related styling

body {
  background-color: $body_background;
  color: $default_text;
  font-family: IBM Plex Sans,Helvetica,Arial,Verdana,Tahoma; 
  font-size: 13px !important;
  margin:0;
}
