// see application for notices related styling

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family-base);
  font-size: 14px;
  margin: 0;
}

body.us_letter_page {
  background-color: unset;
}

button,
input,
select,
textarea {
  font-family: inherit;
}
