.switch-radio {
  display: flex;
  width: fit-content;
  max-width: 100%;
  gap: var(--spacing-xxs);
  padding: var(--spacing-xxs);
  border-radius: var(--border-radius-medium);
  background-color: var(--bg-muted);

  .switch-title {
    margin-bottom: 6px;
  }

  input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
  }

  label {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-align: center;
    background-color: transparent;
    border: 0;
    border-radius: var(--border-radius-small);
    font-weight: normal;
    padding: var(--spacing-xxs) var(--spacing-sm);
    transition: all 0.1s ease-in-out;
  }

  label:hover {
    cursor: pointer;
    color: var(--text-color);
  }

  input:checked + label {
    background-color: var(--color-soft-primary-bg);
    color: var(--color-primary);
    font-weight: 600;
  }

  input:focus + label {
    box-shadow: 0 0 0 2px
      color-mix(in srgb, var(--color-primary) 25%, transparent);
  }
}
