.switch-radio {
  display: flex;
  overflow: hidden;
  .switch-title {
    margin-bottom: 6px;
  }

  input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
  }

  label {
    float: left;
  }

  label {
    display: inline-block;
    min-width: 60px;
    font-size: 12px;
    background-color: var(--color-primary);
    color: #ffffff;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: normal;
    text-align: center;
    padding: 6px 14px;
    transition: all 0.1s ease-in-out;
  }

  label:hover {
    cursor: pointer;
  }

  input:checked + label {
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.2) inset;
    background-color: var(--button-disabled-bg-color);
    color: var(--button-disabled-text-color);
    border: 1px solid var(--border-color);
  }

  input:focus + label {
    border: 1px solid var(--color-focus);
    box-shadow: 0 0px 5px 1px var(--color-focus) inset;
  }

  label:first-of-type {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px 0 0 3px;
  }

  label:last-of-type {
    border-radius: 0 3px 3px 0;
  }
}
