<h1 class="task_header"> Interactive key </h1>

<div class="i3">
  <noscript>
    <p style="color: #C00000;">Java script is disabled!</p>
  </noscript>

  <div id="header3i">
    <%= content_tag(:h1, observation_matrix_tag(@observation_matrix), id: 'ltrSecondHeader') -%>
    <div style="border-top: 1px solid">
      <table border='0' cellpadding='0' cellspacing='0'>
        <tr>
          <td>
            Language
          </td>
          <td>
            <a href='javascript: changeView()'>
              <%= image_tag('3iView2.gif', :alt => 'Change view', :id => 'k1', :style => 'opacity: 0.3')
              %><%= image_tag('3iView1.gif', :alt => 'Change view', :id => 'k2', :style => 'opacity: 1') %>
            </a>
          </td>
          <td>
            Proceed
          </td>
          <td style="width:400px">&nbsp;</td>
          <td>
            Key_Author
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;</td>
          <td>
            &nbsp;</td>
          <td>
            &nbsp;</td>
          <td style="width:400px">&nbsp;</td>
          <td>
            <div ID="div1" CssClass="helpBox3i">Source Text</div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div ID="vert">
    <div id="characters3i"></div>
    <div ID="taxa1_3i">
      <h2>Remaining Taxa</h2>
    </div>
    <div ID="taxa2_3i">
      <h2>Elimitated Taxa</h2>
    </div>
  </div>




</div>
<script type="text/javascript">
    <!--
    window.onerror = null;

    window.onload = coupletSelect;

    window.onfocus = ppHide;
    var ww = null;

    window.onclose = ppHide;

    function makeHelpWindow(hc)
    { ww = window.open('../basic/Taxa.aspx?TaxonNameID=' + hc, '_blank', 'scrollbars=yes,resizable=yes,width=640,height=480,top=' + (screen.availHeight - 480) / 2 + ',left=' + (screen.availWidth - 640) / 2); }

    function makeHelpWindow1(couplet, ccode, c1, c2) {
        keyID = document.forms['mainform'].elements['hdfKeyID'].value;
        ww = window.open('DichotKeyHelp.aspx?keyID=' + keyID + '&couplet=' + couplet + '&ccode=' + ccode + '&c1=' + c1 + '&c2=' + c2, '_blank', 'scrollbars=yes,resizable=yes,width=640,height=480,top=' + (screen.availHeight - 480) / 2 + ',left=' + (screen.availWidth - 640) / 2);
    }

    function makeImageWindow(hc)
    { ww = window.open('ImageZoom.aspx?FigureID=' + hc, '_blank', 'scrollbars=yes,resizable=yes,width=640,height=480,top=' + (screen.availHeight - 480) / 2 + ',left=' + (screen.availWidth - 640) / 2); }

    function ppHide()
    { if (ww != null) ww.close(); ww = null; }

    function coupletSelect() {
        b = window.document.forms['mainform'].elements['hdfStep'].value;
        if (b > 0) {
            GoToCouplet(b, "");
        }
    }

    function GoToCouplet(c, stepCode) {
        window.document.location = "#a" + c;
        window.document.forms['mainform'].elements['hdfStep'].value = c;
        l = window.document.getElementsByTagName('span').length;
        for (i = 0; i < l; i++) {
            b = i + ' ' + window.document.getElementsByTagName('span')[i].id + '  ';
            if (b.search('cc') != -1) {
                window.document.getElementsByTagName('span')[i].className = 'mainfont';
            }
        }
        window.document.getElementById('cc' + c).className = 'redbold';
        window.document.forms['mainform'].elements['hdfStepCode'].value = stepCode;
        if (stepCode != "") {
            window.document.forms['mainform'].elements['btnProceedHidden'].click();
        }
    }

    function changeView() {
        if (window.document.getElementById('vert').className == 'vertical') {
            window.document.getElementById('vert').classList.remove('vertical');
            window.document.getElementById('k1').style = 'opacity: 0.3';
            window.document.getElementById('k2').style = 'opacity: 1';
        }
        else {
            window.document.getElementById('vert').classList.add('vertical');
            window.document.getElementById('k1').style = 'opacity: 1';
            window.document.getElementById('k2').style = 'opacity: 0.3';
        }
    }

    function mouse(i, a) {
        window.document.getElementById('k' + i).className = 'a' + a;
    }


    //-->
</script>