<nav>
<ul class="task_bar horizontal_navbar">
  <%= content_tag(:li, link_to('hub', hub_path, class: :hub_link)) -%>

  <% if @related_routes -%>
      <% @related_routes.each do |r| %>
          <%= content_tag(:li, link_to(UserTasks.related_name(r), send("#{r}_path"))) -%>
      <% end %>
  <% end %>
</ul>
</nav>


