<div class="attributes">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Type:</strong>
    <%= @controlled_vocabulary_term.type %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @controlled_vocabulary_term.name %>
  </p>

  <p>
    <strong>Definition:</strong>
    <%= @controlled_vocabulary_term.definition %>
  </p>

</div>