<%= form_for(@controlled_vocabulary_term.metamorphosize) do |f| %>
    <%= render 'shared/errors', object: @controlled_vocabulary_term %>

    <%= render(partial: 'local_form_elements', locals: {
      f: f,
      controlled_vocabulary_term: @controlled_vocabulary_term,
      hide_type: false
    } ) -%>
  
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
