<%= form_tag tasks_serials_serial_similar_path do %>

    <h2>List serials with similar names</h2>

    <strong>Made it here! - Do I need to use a partial?</strong>

    <div>
      <div class="field">
        <%= label_tag :enter_a_search_string %>
        <%= text_field :search_string, :str %>
      </div>
    </div>

<% end %>



