.pagination-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  padding: 6px;
  padding-left: $standard_padding;
  a {
    text-decoration: none;
  }
}
