#show {
  /* Panel size for show view */
  .item1 { 
    display: block;
    width: 300px;
    min-width: 270px;
  }
  .item3 {
    display: block;
    width: 300px;
    min-width: 250px;
  }

  .item2 {
    display: flex;
    width: 100%;
    min-width: 450px;
  }

  #related-panel { 
    display: flex;
    min-width: 40%;
    flex: 1 100%;
  }

  #annotations-panel { 
    display: flex;
    min-width: 40%;
    flex: 1 auto;
  }

  #attributes-panel {
    display: flex;
    min-width: 50%;
    flex: 1 auto;
  }

  #brownse-main-panel {
    display: flex;
    min-width: 66%;
    flex: 1 auto;
  }

  #validation-panel {
    display: flex;
    min-width: 50%;
    flex: 1 auto;
  } 

  #vue-validation-panel {
    .soft-validation-box {
      height: 100%;
      box-sizing: border-box;
    }
    margin-bottom: 1em;
  }

  .fullSize {
    width: 100%;
    flex: 1 auto;
  }   

  .item { 
    word-wrap: break-word;
    flex-direction:column;
  }
}

.icn, .iczn {
  color: $default_text;
  background: none;
}

mark {
  font-weight: 700;
  background-color: transparent;
  a {
    font-weight: 700;
  }        
}

.housekeeping {
  display: flex;
  flex-direction:column;
}

.attributes {
  .easyzoom  {
    width: 100%;

    .imageZoom {
      box-shadow: 0px 2px 3px 0px $navigation_border;
      max-width: 100%;
    }                     
  }

  strong {
    font-weight: 400;
  }
  p {
    font-size: $font_normal;
    color: $default_text;
  }
  a {
    font-size: $font_normal;
  }
}


.soft_validation {
  color: $soft_validation;
  
  ul {
    list-style: none;
    padding: 0px;
  }

  li {
    background-image: image-url("attention.svg");
    background-repeat: no-repeat;  
    background-position: left, center;   
  }
}

[data-view="development"] {
  display: none;
}


