<% content_for :header_class, "slide-document", :flush => true  %>
<% content_for :panel_name_data, "pdfviewer", :flush => true %>
<% content_for :panel_title, "PDF Document viewer", :flush => true %>
<% content_for :panel_contents, :flush => true  do %>
  <div class="toolbar-pdf">
    <button id="prevbutton" type="button"></button>
    <button id="nextbutton" type="button"></button>
    <button id="zoominbutton" type="button"></button>
    <button id="zoomoutbutton" type="button"></button>
    <input type="number" id="pageNumber" class="toolbarField pageNumber" title="Page" value="0" size="4" min="1" tabindex="15" data-l10n-id="page" max="0">
    <span id="numPages" class="toolbarLabel"></span>
  </div>
  <div class="slide-panel-content" id="pdfViewerContainer">
    <div class="slide-panel-category">
      <div >
        <div id="viewer" class="pdfViewer">
          <h2 id="pdfEmptyMessage">Select a document from Pinboard</h2>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: '/shared/data/slideout/panel' %>
