<div class="slide-panel <%= yield :header_class %>">
  <div class="slide-panel-header"><%= yield :panel_name -%> </div>
    <%= yield :panel_contents -%>
  <div class="slide-panel-circle-icon"></div>
</div>