<div class="slide-panel">
  <div class="slide-panel-header">Pinboard</div>
  <div class="slide-panel-category">
  <%= render partial: '/pinboard_items/pinboard' -%>
  </div> 
  <div class="slide-panel-circle-icon"></div>
</div>