<% content_for :header_class, "slide-pinboard", :flush => true  %>
<% content_for :panel_title, "Pinboard", :flush => true  %>
<% content_for :panel_name_data, "pinboard", :flush => true  %>
<% content_for :panel_contents, :flush => true  do %> 
  <div class="slide-panel-content">  
    <div class="slide-panel-category">
      <%= render :partial => '/pinboard_items/pinboard'  %>
    </div>
  </div> 
  <div id="vue-pinboard-navigator"></div>
<% end %>
<%= render partial: '/shared/data/slideout/panel' %>
