<%= render "/hub/navigation_lists/hub_category_filter" %>
<div id="data_cards">
  <% Hub::Data::SECTIONS.each do |s| -%>
    <div data-section="<%= s -%>" class="data_section">
      <% Hub::Data.items_for(s).each do |i| %>  
        <%= data_card(i) -%> 
      <% end %>
    <div class="data_section_label subtle"> <%= s -%> </div>
    </div>
  <% end %>
</div>

