
  <!-- José, wrap this/refactor however you want -->
<% if has_hub_favorites? -%>
<div id="data_cards">
    <div data-section="Favorites-Data" class="data_section">
	    <div class="cards-section">
	      <% sessions_current_user.hub_favorites[sessions_current_project_id.to_s]['data'].each do |d| -%>
		      <div class="card-container">
		        <%= data_card(Hub::Data::BY_NAME[d]) -%> 
		      </div>		      
	      <% end %>
	    </div>
	    <div class="data_section_label">
	    	<div class="data-controls">
	    		<a class="cards-up" href="#"><img src="/assets/icons/arrow-up.svg" width="15"/></a>
	    		<a class="cards-down" href="#"><img src="/assets/icons/arrow-down.svg" width="15"/></a>
	    	</div>
	    	<h3>
	    		Data cards
	    	</h3>
	    </div>
	    <div data-attribute="empty" class="subtle center_text">
	    	<h1>None</h1>
	    </div>
    </div>
</div>





<div id="data_cards">
    <div data-section="Favorites-Task" class="data_section">
	    <div class="cards-section">
	    	<div id="task_carrousel">
			    <% sessions_current_user.hub_favorites[sessions_current_project_id.to_s]['tasks'].each do |t| -%>
			      <%= task_card(UserTasks::INDEXED_TASKS[t]) -%> 
			    <% end %>
			</div>			    
	    </div>
	    <div class="data_section_label">
	    	<div class="data-controls">
	    		<a class="cards-up" href="#"><img src="/assets/icons/arrow-up.svg" width="15"/></a>
	    		<a class="cards-down" href="#"><img src="/assets/icons/arrow-down.svg" width="15"/></a>
	    	</div>
	    	<h3>
	    		Task cards
	    	</h3>
	    </div>
	    <div data-attribute="empty" class="subtle center_text">
	    	<h1>None</h1>
	    </div>
    </div>
</div>
  <% else %>

    <p>
    Welcome, <%= sessions_current_user.name -%>! Spend a little time navigating through the workbench.  As you become familiar with tasks or pages you find most useful, favorite them, they'll appear here.  
    </p>
  <% end %>

<script type="text/javascript">
	var 
	favoritesTask = new carrouselData("Favorites-Task",99,4);
	favoritesData = new carrouselData("Favorites-Data",99,4);
	favoritesData.filterChilds();


	$( '<div class="gray-circle"></div>' ).insertBefore(".unknown");
	$( '<div class="yellow-circle"></div>' ).insertBefore(".beta");
	$( '<div class="red-circle"></div>' ).insertBefore(".alpha");
	$('div.source').replaceWith('<div class="categories source"><img src="/assets/icons/book.svg" width="15"/></div>');
	$('div.collecting_event').replaceWith('<div class="categories collecting_event"><div><img src="/assets/icons/geo_location.svg" alt="Collection object" width="15"/></div>');
	$('div.collection_object').replaceWith('<div class="categories collection_object"><img src="/assets/icons/picking.svg" width="15"/></div>');	
	$('.data_card div[data-category-collectingevent="true"]').append("<img src='/assets/icons/geo_location.svg'/>");
	$('.data_card div[data-category-TaxonName="true"]').append("<img src='/assets/icons/new.svg'/>");
	$('.data_card div[data-category-collectionobject="true"]').append("<img src='/assets/icons/picking.svg'/>");
	$('.data_card div[data-category-Source="true"]').append("<img src='/assets/icons/book.svg'/>");
 $('.data_card').mousedown(function(event) {
  	if((event.which) == 1) {
    	location.href = $(this).children("a").attr('href');
	}
  }); 
</script>