<div id="filter">
  <div class="flexbox">
    <div class="item item2">
    <div class="section">
      <div class='tag'>
        <div>
        	Filter 
        </div>
        <div class="reset" data-filter-category="reset">
          <img src="/assets/icons/restart.svg"/>
          Reset
        </div>  
      </div> 
      <div class="navigation-controls">
      	<% UserTasks::CATEGORIES.each do |c| -%>
        	<%= 
			content_tag(:div, c.humanize, 'data-filter-category' => c, 'data-favorite' => true, 'class' => 'navigation')
			-%>
        <% end %>                                 
      </div>        
     </div>  
    </div>
  </div>
</div>

<script type="text/javascript">
	$('[data-filter-category="taxon_name"]').prepend('<img src="/assets/icons/new.svg"/>');
	$('[data-filter-category="source"]').prepend('<img src="/assets/icons/book.svg"/>');
	$('[data-filter-category="collection_object"]').prepend('<img src="/assets/icons/picking.svg"/>');
	$('[data-filter-category="collecting_event"]').prepend('<img src="/assets/icons/geo_location.svg"/>');	

  function deactivateBackgroundColorLink(selector) {
  $(selector).removeClass("activated");
  }

  function activateBackgroundColorLink(selector) {
    $(selector).addClass("activated");
  }

  function changeBackgroundColorLink(selector) {
    if ($(selector).hasClass("activated")) {
      deactivateBackgroundColorLink(selector);
    }
    else {
      activateBackgroundColorLink(selector);
      }
  }
</script>