<div class="filter"><!-- we can change this id to something that makes more universal sense -->
    <p> filter </p>
  <% UserTasks::CATEGORIES.each do |c| -%>
    <%= content_tag(:div, link_to(c.humanize, "#", 'data-filter-category' => c), class: 'category_button') -%>
  <% end %>
</div>

