<div id="task_carrousel">
  <%= render "/hub/navigation_lists/hub_category_filter" %>
  <% UserTasks.hub_tasks.each do |task| -%>
    <%= link_to(task_card(task), send(task.path)) -%>
  <% end %>
</div>
