<%= render "/hub/navigation_lists/hub_category_filter" %>
<div id="task_carrousel">
  <div class="task-section">
  <% UserTasks.hub_tasks.each do |task| -%>
    <%= task_card(task) -%>
  <% end %>
  </div>
  <div class="navigation">
    <div class="task-nav-list">
    </div>
  </div>
</div>
