<%= render "/hub/navigation_lists/hub_category_filter" %>
<div id="task_carrousel">
  <% UserTasks.hub_tasks.each do |task| -%>
    <%= task_card(task) -%>
  <% end %>
  <div class="navigation">
    <div class="navigation-arrow">
      <a data-arrow="up" href="#">
        <img src="/assets/icons/arrow-up.svg" width="15"/>
      </a>
    </div>
    <div class="navigation-arrow">
      <a data-arrow="down" href="#">
        <img src="/assets/icons/arrow-down.svg" width="15"/>
      </a>
    </div>
  </div>
</div>