<%= render "/hub/navigation_lists/hub_category_filter" %>
<div id="task_carrousel">
  <% UserTasks.hub_tasks.each do |task| -%>
    <%= task_card(task) -%>
  <% end %>
  <a class="panel more_tasks_nav">
    Show more tasks
  </a>
  <div class="navigation">
  <div class="task-nav-list">
    
  </div>
  <div class="navigation-arrows">
    <div class="navigation-arrow">
      <a data-arrow="up" data-icon="arrow-up"></a>
    </div>
    <div class="navigation-arrow">
      <a data-arrow="down" data-icon="arrow-down"></a>
    </div>
  </div>
  </div>
</div>
