<div class="system-news-bar gap-small <%= css_class_for_news(news) %>">
  <div>
  <strong><%= link_to(news.title, browse_news_task_path(news_id: news.id)) -%></strong>
  </div>

  <% if closable_news?(news) %> 
    <svg 
      data-news-id="<%= news.id %>" 
      xmlns="http://www.w3.org/2000/svg" 
      fill="none" 
      viewBox="0 0 24 24" 
      stroke-width="1.5" 
      stroke="currentColor" 
      class="w-5 h-5 news-bar-close-button"
      title="Close"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
    </svg>
  <% end %>
</div>