@import '../../styles/descriptorTitle'

.qualitative-descriptor
    position relative

    &__descriptor-title
        @extend $descriptorTitle

    &__character-state-list
        display flex
        flex-direction column

    &__character-state
        display flex

    &__observation-details
    &__character-state-details
        flex 1 1 0

    &__descriptor-li
        height 34px