.nexus {
  white-space: pre;
  width: auto;
  font-family: "Courier New", Courier, monospace;
  table {
   cell-border: 0px;
   border-spacing: 0;
   box-shadow: 0 0 0 0;
   margin: initial;
   border-radius: initial;
   td { padding: 0em; font-family: "Courier New", Courier, monospace; line-height: initial; }
   tr { height: initial; cursor: initial; }
   background-color: initial;
  }
}


