<div class="panel content" id="select_otu">
  <div class="content">
    <div class="filter_facet flex-separate middle title-filter-categories">
      <span class="uppercase">Select author</span>
    </div>
    <h3>Result:<span id="author_count">????</span></h3>
    <div id="author-container">
      <%= render('by_author') %>
    </div>
  </div>
</div>
