<div class="panel content" id="select_verbatim">
  <div class="content">
    <div class="filter_facet flex-separate middle title-filter-categories">
      <span class="uppercase">Select verbatim taxon name author</span>
    </div>
    <h3>Result:<span id="verbatim_author_count">????</span></h3>
    <div id="verbatim-container">
      <%= render('by_verbatim') %>
    </div>
  </div>
</div>
