<div class="panel content" id="select_otu">
  <div class="content">
    <div class="filter_facet flex-separate middle title-filter-categories">
      <span class="uppercase">Select Nomenclature</span>
    </div>
    <h3>Result:<span id="nomen_count">????</span></h3>
    <div id="nomen-container">
      <%= render('by_nomen') %>
    </div>
  </div>
</div>
