<div class="author_picker">

  <div class="author_picker_alert" hidden></div>

  <div class="author_selection">
    <ul class="author_list"></ul>
    <div>Use
      <%= radio_button_tag(:and_or_select, '_and_', true) -%> AND
      <%= radio_button_tag(:and_or_select, '_or_', false) -%> OR to select multiple authors. <br>

      <%= text_field_tag "author_picker_autocomplete", nil,
                         class: 'author_picker_autocomplete',
                         placeholder: "type to search for taxon name author",
                         data: {'param-name' => :author_ids,
                         size: 40}
      %>

    </div>
  </div>

</div>















