
#breakdown_sqed_depiction {

  #extracted_header {
      textarea { 
        height: 8em;
        width: 20em;
      }
  }

  #collection_object_fields {
    textarea { 
      height: 8em;
      width: 20em;
    }
  }

  #selected_text {
    width: 400px;
  }



}
