
#breakdown_sqed_depiction {
  
  .item {
    padding: 2px;
  }

  .little_image {
    display: block;
    padding: 5px;
    width: 80px;
  }

  #extracted_header {
      .ocr_text { 
        height: 8em;
        width: 20em;
        border: 1px solid silver;
      }

      #text_for_identifier {
        width: 8em;
      }
  }

  #collection_object_fields {
    textarea { 
      height: 8em;
      width: 20em;
    }
  }

  #selected_text {
    width: 340px;
    vertical-align: center;
  }

  #append_ocr_button {
    float:left; 
  }



}
