@import 'workbench/palette';

.delete-circle {
	border-radius: 50%;
	display: block;
	width: 30px;
	height: 30px;
	background-color: #F44336;
	font-size: 0px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: image-url("trash.svg");
	box-shadow: 0px 1px 2px 0px #888;
	margin: 5px;
}

.field {
	label {
		vertical-align: top;
		width: 120px;
		text-align: right;
		display: inline-block;
	}
	textarea {
		width: 300px;
		min-height: 50px;
	}
	input[type=checkbox] {
		vertical-align: top;
	}
}
#repository_id_for_bulk_verbatim {
	width: 405px;
}

.field-align-center {
	label {
		display: inline-block;
		vertical-align: middle;
		align-items: center;
	}
}

.field {

}

.one_third_width {
	//display: flex;
	//align-items: center;
}

.one_tenth_width {
	width:100px !important;
	label {
		text-align: right;
		width: 120px;
	}
	display: flex;
	align-items: center;
}

.remove_row {
	@extend .delete-circle;
}