<h1> Cite OTUs </h1> 

<div id="cite_otus">
  <div class="flexbox">
    
    <div class="item item1">
      <h3 data-help="asdfasdf"> Create </h3>
      <otu-picker> </otu-picker>
      <source-picker> </source-picker>
      <topics-checklist> </topics-checklist>
      <existing-citations v-if="!disabled"> </existing-citations>
    </div>

    <div class="item item2">
      <h3> Source citations </h3>
      <source-citations> </source-citations>
    </div>

    <div class="item item3">
      <h3> Otu citations </h3>
        <otu-citations> </otu-citations>
    </div>
  </div>

</div>


