<h1> Cite OTUs </h1> 

<div id="cite_otus">
  <div class="flexbox">

    <div class="item1 panel separate-right">
    <div class="title"><existing-citations> </existing-citations></div>
      <div class="flex-separate horizontal-center-content content">
        <div class="content">
          <source-picker></source-picker>
          <div v-if="source">
            <p>{{ source.object_tag }}</p>
          </div>
        </div>
        <div>
        </div>
      </div>
      <div class="flex-separate horizontal-center-content content">
        <div class="content">
          <otu-picker></otu-picker>
          <div v-if="otu">
            <p v-html="otu.object_tag"></p>
          </div>
        </div>
        <div>
        </div>
      </div>    
      <topics-checklist></topics-checklist>
    </div>

    <div id="recent_list" class="slide-panel slide-left slide-recent item item2 separate-left" data-panel-position="relative" data-panel-open="true" data-panel-name="recent_list">
      <div class="slide-panel-header flex-separate"><span>Recent</span></div>
      <div class="slide-panel-content">
        <source-citations></source-citations>
        <otu-citations></otu-citations>         
      </div>    
    </div>

</div>


