<h1> Cite OTUs </h1> 

<div id="cite_otus">

    <otu-picker> </otu-picker>
    <source-picker> </source-picker>
    <topics-checklist> </topics-checklist>

    <existing-citations v-if="!disabled"> </existing-citations>

</div>


