<h1> Cite OTUs </h1> 

<div id="cite_otus">
  <div class="flexbox">
    <div id="topics" class="slide-panel separate-right slide-left slide-recent item item1 column-tiny" data-panel-position="relative" data-panel-open="true" data-panel-name="topic_list">
      <div class="slide-panel-header flex-separate"><span>OTU Citation</span><div><select-citation></select-citation></div></div>
      <div class="slide-panel-content">
          <existing-citations> </existing-citations>
          <topics-checklist></topics-checklist> 
      </div>        
    </div>
    <div class="item2 panel content separate-left">
      <source-citations></source-citations>
      <otu-citations></otu-citations>
    </div>
  </div>

</div>


