<p>
  <strong>Matrix:</strong>
  <%= observation_matrix_link(@observation_matrix_row.observation_matrix) %>
</p>

<p>
  <strong>Otu:</strong>
  <%= otu_link(@observation_matrix_row.otu) %>
</p>

<p>
  <strong>Collection Object:</strong>
  <%= collection_object_link(@observation_matrix_row.collection_object) %>
</p>
