<p>
  <strong>Matrix:</strong>
  <%= observation_matrix_link(@observation_matrix_row.observation_matrix) %>
</p>

<p>
  <strong>Observation object:</strong>
  <%= object_link(@observation_matrix_row.observation_object) %>
</p>

<p>
  <strong>Cached observation matrix row item id:</strong>
  <%= @observation_matrix_row.cached_observation_matrix_row_item_id %>
</p>
