<div class="attributes">
  <p>
    <strong>Document file:</strong>
    <%= @document.document_file %>
  </p>

  <p>
    <strong>Project references:</strong>
    <%= @document.project_references %>
  </p>

</div>