<div id="extracted_header">
  <div class="side_by_side_fields">
    <% @result.image_sections.each_with_index do |section, i| -%>
        <div class="field">
          <%= label_tag section %>
          <%= button_tag "Use  [#{%w{a s d f}[i] }]", id: "use_#{section}", class: "use_ocr" -%>
          <%= content_tag(:div, "Calculating...", id: "text_for_#{section}", class: :ocr_text ) %>
        </div>
    <% end %>
  </div>
</div>

