<h1> Sqed TODO list </h1>

<%= paginate @sqed_depictions %> <%= page_entries_info @sqed_depictions %>

<div id="todo_map">
<% @sqed_depictions.each do |i| -%>
  <%= content_tag(:div, link_to(i.id, sqed_depiction_breakdown_task_path(i)), class: "card #{i.depiction.depiction_object.buffered_collecting_event.blank? ? '' : 'finished'}") -%>
  <% end %>
</div>

