<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Api access token:</strong>
  <%= @project.api_access_token %>
</p>




<%= render partial: '/shared/data/all/show/housekeeping', locals: {object: @project} -%>
