<div class="navigation-controls">
  <%= ancestor_browse_taxon_name_link(taxon_name) -%>
</div>
<div class="navigation-controls">
  <%= previous_sibling_browse_taxon_name_link(taxon_name) -%>
  <%= next_sibling_browse_taxon_name_link(taxon_name) -%>
</div>  
<div class="navigation-controls">
  <%= descendant_browse_taxon_name_link(taxon_name) -%>
</div>  


