<div class="panels-container">  
  <div class="panel column-big separate-right">
    <div class="title nav-line">
      Listing <%= @data_model.humanize -%>
    </div>      
    <div class="navigation-controls"> 
      <div class="pagination-bar">
        <%= paginate objects %> 
        <div class="pagination">
          <%= page_entries_info objects %>
        </div>
      </div>
      <div class="navigation-bar-right">

        <a data-icon="download" href="#">                 
          Download
        </a>

      </div>
    </div>       
  </div>
</div>
