<div>
  <h3>Hierarchy</h3>
  <% taxon_name.ancestor_protonyms.each do |p| -%>
    <%= taxon_name_link(p.metamorphosize)  -%><br>
  <% end %>
  
  <div><br><%= taxon_name_tag(taxon_name) -%></div> <br>

  <% taxon_name.children.where(type: 'Protonym').each do |p| -%>
    <%= taxon_name_link(p.metamorphosize)  -%><br>
  <% end %>
</div>
