<h1>Loan Items</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @loan_items.each do |loan_item| %>
      <tr>
        <td><%= link_to 'Show', loan_item %></td>
        <td><%= link_to 'Edit', edit_loan_item_path(loan_item) %></td>
        <td><%= link_to 'Destroy', loan_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan item', new_loan_item_path %>
