.xml-pre {
  font-size: 1.2em;
  -moz-tab-size: 2;
}

.xml-highlight {

}

.xml-highlight .cp {
  color: #bc7a00;
}

.xml-highlight .nt {
  color: #008800;
  font-weight: bold;
}

.xml-highlight .na {
  color: #7d9020;
}

.xml-highlight .s {
  color: #ba2121;
}
