@import 'base/palette';
@import 'base/whitespace';

#pinboard {
	img {
		padding-right: 5px;
		opacity: 0.5;
	}
	h2 {
		border-bottom: 1px solid $navigation_border;
	}
	ul {
		margin: 0px;
		padding: $standard_padding;
	}
	li {
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:space-between;
		border-radius: 3px;
	}
	li:hover {
		opacity: 1;
		background-color: $navigation_background;
	}
}