#pinboard {
	.slide-panel-category-item {
		position: relative;
	}
	img {
		border-radius: 50%;
		width: 60px;
		height: 60px;
		transition: border-radius 0.3s ease,
					height 0.3s ease,
					width 0.3s ease;		
	}
	img:hover {

		transition: border-radius 0.3s ease,
					height 0.3s ease,
					width 0.3s ease;
	}

	ul {
		padding: 0px;
		margin:0px;
	}

	.handle {
		width: 100%;
		cursor: move;
	}

	.pdfviewerItem {
		a {
			cursor: pointer;
			display: inline-block;		
			background-image: image-url('pdf.svg');
			font-size: 0px;
			background-color: #E2574C;
		}
	}
	.itemOptions {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 25px;
	}

	.remove {
		display: none;
		font-size: 0px;
		background-image: image-url('w_trash.svg');
		background-position: left, center, top 8px;
		background-repeat: no-repeat;
	}

	li {
		position: relative;
		border-bottom: 1px solid #FAFAFA;
		border-left:5px solid transparent;
		display: flex;
		align-items: center;
		justify-content:space-between;
		padding: $standard_padding*0.5;
		padding-left: $standard_padding*2;
	}
	li:hover {
		opacity: 1;
		background-color: $navigation_background;
		.remove {
			display: inline-block;
		}
	}
}