@import 'base/palette';
@import 'base/whitespace';

#pinboard {
	img {
		border-radius: 50%;
		width: 60px;
		height: 60px;
		transition: border-radius 0.3s ease,
					height 0.3s ease,
					width 0.3s ease;		
	}
	img:hover {

		transition: border-radius 0.3s ease,
					height 0.3s ease,
					width 0.3s ease;
	}

	ul {
		padding: 0px;
		margin:0px;
	}
	.remove {
		display: none;
		font-size: 0px;
		width: 15px;
		height: 15px;
		margin-right: 1em;
		background-image: image-url('close.svg');
		background-position: left, center;
		opacity: 0.3;
		background-repeat: no-repeat;
	}

	li {
		border-bottom: 1px solid #FAFAFA;
		border-left:5px solid transparent;
		display: flex;
		align-items: center;
		justify-content:space-between;
		padding: $standard_padding*0.5;
		padding-left: $standard_padding*2;
	}
	li:hover {
		opacity: 1;
		background-color: $navigation_background;
		.remove {
			display: inline-block;
		}
	}
}