development:
  default_data_directory: "/home/jdoe/my-dumps"
production:
  database_dumps_directory: "/mnt/backup-media/tw-dumps"
  exception_notification:
    email_prefix: "[TW-Error] "
    sender_address: "\"notifier\" <notifier@example.com>"
    exception_recipients: 
      - exceptions@example.com
      - root@example.com
  action_mailer_smtp_settings:
  	address: "smtp.example.com"
  	port: 25
  	domain: "example.com"
  mail_domain: "example.com"
  action_mailer_url_host: "www.example.com"
