development:
  adapter: postgis
  encoding: unicode
  postgis_extension: true
  schema_search_path: public,postgis
  pool: 5
  database: taxonworks_development
  username: postgres
  password:
  su_username: postgres
  su_password:

test:
  adapter: postgis
  encoding: unicode
  postgis_extension: true
  schema_search_path: public,postgis
  pool: 5
  database: taxonworks_test
  username: postgres
  password:
  su_username: postgres
  su_password:

production:
  adapter: postgis
  encoding: unicode
  postgis_extension: true
  schema_search_path: public,postgis
  pool: 5
  database: taxonworks_production
  username: postgres
  password:
  su_username: postgres
  su_password:

