development:
  adapter: postgis
  encoding: utf8 
  postgis_extension: true
  pool: 5
  database: taxonworks_development 
  username: taxonworks_development
  password:

test: 
  adapter: postgis
  encoding: utf8 
  postgis_extension: true
  pool: 5
  database: taxonworks_test<%= ENV['TEST_ENV_NUMBER'] %>
  username: taxonworks_development
  password:

production:
  adapter: postgis
  encoding: utf8 
  postgis_extension: true
  pool: 5
  database: taxonworks_production
  username: taxonworks_production
  password: 


