development:
  adapter: postgis
  encoding: utf8 
  postgis_extension: true
  pool: 5
  database: taxonworks_development 
  username: postgres 
  password:
  host: db
test: 
  adapter: postgis
  encoding: utf8 
  postgis_extension: true
  pool: 5
  database: taxonworks_test<%= ENV['TEST_ENV_NUMBER'] %>
  username: postgres 
  password:
  host: db
production:
  adapter: postgis
  encoding: utf8 
  postgis_extension: true
  pool: 5
  database: taxonworks_development 
  username: taxonworks_development
  password:




