select area selector or map select

<div id="area_selector">
  <span id="geographic_areaError" style="color: #DD0000"></span>
  <%= render :partial => 'workbench/elements/forms/ajax_select',
             :locals  => {:controller => '/geographic_areas',
                          :object     => '',
                          :method     => 'geographic_area_id',
                          :tag_id     => passed_in_tag_id,
                          :size       => 20,
                          :display    => ''} %>
</div>
<%#=	 link_to('map', '#', class: [:map_toggle, :on_selector]) %>
<div id="map_selector">hidden="hidden"
  <%= drawable_map([], 'border=1') -%>
  <%= hidden_field_tag('drawn_area_shape') %>
</div>
<%= hidden_field_tag(:selection_object, selection_object) %>
