<div>
  <span id="geographic_areaError" style="color: #DD0000"></span>
  <%= render :partial => 'workbench/elements/forms/ajax_select',
             :locals  => {:controller => '/geographic_areas',
                          :object     => '',
                          :method     => 'geographic_area_id',
                          :tag_id     => passed_in_tag_id,
                          :size       => 20,
                          :display    => ''} %>
</div>

<div>
  <%= drawable_map([], 'border=1') -%>
  <%= hidden_field_tag('drawn_map_shape') %>
</div>
