<div id="_simple_map_outer"  hidden="hidden">
  <div id="_simple_map_form"
       data-feature-collection="<%= Gis::GeoJSON.feature_collection(map_objects).to_json -%>"
       data-map-center="<%= map_center.nil? ? 'POINT (0.0 0.0)' : map_center -%>"
       data-map-canvas="simple_map_canvas"
       >
  </div>
  <table <%= border_string %> >
    <tbody>
      <tr>
        <td>
          <div id="simple_map_canvas" style="width: 512px; height: 256px;"></div>
          <span id="map_coords">Simple map Coordinates</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
