@import 'base/palette';

.expandable {
	min-width: 200px;
	border: 1px solid #AED581;
}

.ui-autocomplete-loading { 
	background-image: image-url("spinner.gif"); 
	background-repeat: no-repeat;
	background-position: right, center;
}

.injected_new_header {
	font-weight: bold;
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid  $navigation_background;
}

.ui-menu {
	width: auto;
}

.autocomplete.ui-menu-item {
	word-wrap: break-word;
	padding: .2em;
	border-bottom: 1px solid silver;
}

.ui-menu-item a{
	width: 400px;
	font-size: 12px;
	padding: 5px;
	font-weight: bold;
	color: $color-secondary-2-4;
	.subtle {
		font-size: 10px;
		font-weight: 100;
	}    
}


