@import 'workbench/palette';

.otu_picker_autocomplete {
	position: relative;
}

.expandable {
	border: 1px solid #AED581;
}

.ui-autocomplete-loading { 
	background-image: image-url("spinner.gif"); 
	background-repeat: no-repeat;
	background-position: right, center;
}

.injected_new_header {
	font-weight: bold;
	margin-bottom: 1em;
}

.ui-menu {
	width: auto;
}

.otu_picker {
	.new_plus {
		display: none;
	}
}

.new_added {
	display: none;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: #AED581;
	background-image: image-url("ok.svg");
	background-position: center;
	background-repeat: no-repeat;
}

#otu_picker_add_ok {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: block;
	background-color: #AED581;
	font-size: 0px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: image-url("ok.svg");
	box-shadow: 0px 1px 2px 0px #444;
}

#otu_picker_new_undo {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: block;
	background-color: #F44336;
	font-size: 0px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: image-url("undo.svg");
	box-shadow: 0px 1px 2px 0px #444;	
}

.inline_otu_picker {
	display: flex;
	align-items: center;
	flex-direction: row;
	input {
		width: 300px;
	}	
	.new_plus {
		margin: 5px;
	}
}

.new_plus {
	border-radius: 50%;
	display: block;
	width: 30px;
	height: 30px;
	background-color: #AED581;
	font-size: 0px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: image-url("bplus.svg");
	box-shadow: 0px 1px 2px 0px #444;
}

.delete-circle {
	border-radius: 50%;
	display: block;
	width: 30px;
	height: 30px;
	background-color: #F44336;
	font-size: 0px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: image-url("trash.svg");
	box-shadow: 0px 1px 2px 0px #444;
}

.autocomplete.ui-menu-item {
	word-wrap: break-word;
	padding: .2em;
	border-bottom: 1px solid silver;
}

.ui-menu-item a{
	width: 400px;
	font-size: 12px;
	padding: 5px;
	font-weight: bold;
	color: $color-secondary-2-4;
	.subtle {
		font-size: 10px;
		font-weight: 100;
	}    
}

#new_otu {
	width: 220px;
	border-radius: 2px;
	box-shadow: 0px 2px 3px 0px $navigation_border;
	background-color: #FAFAFA;
	padding: 15px;
	margin-bottom: 15px;
	flex-direction: row;
	.fields {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.field {
		display: flex;
		flex-direction: column;
	}
	#new_otu:active {
		transition: block 0.3s ease;
	}
	.link {
		padding: 5px;
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		a {
			margin: 5px;
		}
	}
}


/* ------------------ */

.remove_row {
	@extend .delete-circle;
}