/* see
http://css-tricks.com/snippets/css/a-guide-to-flexbox/
http://flexboxin5.com/
 */
 @import 'palette';
 @import '../workbench/whitespace';

 .horizontal-center-content {
 	display: flex;
 	align-items:center;
 	flex-direction:row;
 	justify-content: center;
 }

 .flex-separate {
 	display: flex;
 	justify-content: space-between;
 }

 .separate-top {
 	margin-top: $standard_padding*0.5;
 }

  .separate-bottom {
 	margin-bottom: $standard_padding;
 }

.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap;
  justify-content: center;

	  .item img {
		display: block;
	}
}

.flexbox > * {
  flex: 1 100%;
}

.flex-wrap-row {
	width: auto;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap !important;
	flex-direction: row !important;
}

.flex-wrap-column {
	display: flex;
	justify-content: flex-start;
	width: auto;
	flex-wrap: wrap !important;
	flex-direction: column !important;
}


.item {
	word-wrap: break-word;
	flex: 1 auto;
}
  
@media all and (min-width: 400px) {
  .item { flex: 1 auto; }
  .column-big { flex: 3 auto; }
  .column-medium { flex: 2 auto; }
  .column-small { flex: 1 auto; }
  .column-tiny { flex: 0.5 auto; } 
}

@media all and (min-width: 800px) {
  .item1 { order: 1; }
  .item2 { order: 2; }
  .item3 { order: 3; }
  .item4 { order: 4; }
  .item5 { order: 5; }
  .item6 { order: 6; }
}

#model_index.shared {
  border-left:4px solid $color-secondary-1-3;
}

#model_index.application_defined {
  border-left:4px solid $color-primary-4;
}	  

// Used for model/index routes only
#model_index {
  border-radius:3px;
  margin:0 auto;
  width:1080px;
  position: absolute;
  z-index:5;
  top: 40%;
  left: 50%;
  transform: translateY(-75%) translateX(-50%);
  background-color:$panel_background;
  border:1px solid $navigation_border;
  box-shadow: 0 0px 3px 0 $navigation_border;
  align-items: center; 
  border-left: 4px solid $color-secondary-2-4;


  &.flexbox {
    justify-content: space-around;
	flex-flow: row wrap;
  }

	.favourite_link {
	    background-image: image-url('empty_star.svg');
	    background-size: 24px;
	    margin-right: 15px;
	    margin-left: 15px;
	    background-position: left, center;
	    padding: 24px;
	    padding-right: 0px;
	    font-size: 0px;
	    background-repeat: no-repeat;
	    text-decoration: none;
	  }
	 .unfavorite_link {
	    font-size: 0px;
	    margin-right: 15px;
	    margin-left: 15px;
	    padding: 24px;
	    padding-right: 0px;
	    background-image: image-url('star.svg');
	    background-size: 24px;
	    background-position: left, center;
	    background-repeat: no-repeat;    
	    text-decoration: none;   
	}
  
  h1 {
	  font-weight:100;
  }
  
  a {
  	font-weight: 100;
	padding:8px;
	text-decoration:none;
	background-size:15px;
	background-position:5px center;
	background-repeat: no-repeat;
	padding-left:25px;
  }
  
  input[type="text"] {
	  width:250px;
  }

	.icon-download a
	{
		background-image: image-url('download.svg');
	}
	
	.icon-fav-star {
		width:20px; display:inline; padding-right:5px;	
	}
  
   min-height: 50px;
  
  .item {
	  text-align: center;
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	  align-items: center;
  }
}

/* Login Screen */

#login-container {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    width: 300px;
    height: 200px;
	
	.box-login {
		background-color: #FFF;
		padding:15px;
		border-radius:3px;
		border:1px solid $navigation_border;
		box-shadow:0 0px 3px 0 $navigation_border;
	}
	.item {
		padding:3px;
		display:flex;
		justify-content:space-between;
		align-items:center;
		
	}
	.item a {
		padding-top:10px;
		text-decoration:none;
	}
	.item a:first-letter {
		text-transform:uppercase;
	}
	input[type="text"] {
		width:240px;
	}
	
	input[type="submit"] {
		margin:0px;
	}
	
	h1 {
		text-align:center;
	}
	input[type="password"] {
		width:240px;
	}
}