/* see
http://css-tricks.com/snippets/css/a-guide-to-flexbox/
http://flexboxin5.com/
 */
 @import 'palette';

.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap;
  // flex-flow: row wrap; 
  justify-content: center;
  
}

.flexbox > * {
  flex: 1 100%;
}


.item {
	word-wrap: break-word;
	flex: 1 auto;
}

.item img {
	display: block;
	width: 100%;
	height: auto;
}
  
@media all and (min-width: 400px) {
  .item { flex: 1 auto; }
  .column-big { flex: 3 auto; }
  .column-medium { flex: 2 auto; }
  .column-small { flex: 1 auto; }
  .column-tiny { flex: 0.5 auto; } 
}

@media all and (min-width: 800px) {
  .item1 { order: 1; }
  .item2 { order: 2; }
  .item3 { order: 3; }
  .item4 { order: 4; }
  .item5 { order: 5; }
  .item6 { order: 6; }
}



// Used for model/index routes only
#model_index {
  border:1px solid $muted_blue;
  border-radius:3px;
  margin:0 auto;
  max-width:1080px;
  background:$viewpoert_background;
  margin-top:150px;
  margin-bottom:150px;
  align-items: center; 

  &.flexbox {
    // flex-flow: columns;
    // font-size: 150%;
    justify-content: space-around;
	flex-flow: row wrap;
  }
  
  h1 {
	  font-weight:100;
  }
  
  a {
	padding:5px;
	text-decoration:none;
	background-size:15px;
	background-position:5px center;
	background-repeat: no-repeat;
	padding-left:25px;
  }
  
  input[type="text"] {
	  width:250px;
  }

	.icon-download a
	{
		background-image: url('/assets/icons/download.svg');
	}
	
	.icon-batch a {
		background-image: url('/assets/icons/batch_load.svg');
	}
	
	.icon-new a {
		background-image: url('/assets/icons/new.svg');
	}
	
	.icon-list a {
		background-image: url('/assets/icons/list.svg');
	}
	
	.icon-fav-star {
		width:20px; display:inline; padding-right:5px;	
	}
  
   min-height: 50px;
  
  .item {
	  text-align: center;
  }
  
  .item1 {
	  line-height:20px;
  }
  
  .item2 { } 

  .item3 { }

  .item4 { }

  .item5 { }
}

/* Login Screen */

#login-container {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    width: 300px;
    height: 200px;
	
	.box-login {
		background-color:$navigation_background;
		padding:15px;
		border-radius:3px;
		border:1px solid $navigation_border;
		box-shadow:0 4px 4px 0 #CECECE;
	}
	.item {
		padding:3px;
		display:flex;
		justify-content:space-between;
		align-items:center;
		
	}
	.item a {
		padding-top:10px;
		text-decoration:none;
	}
	.item a:first-letter {
		text-transform:uppercase;
	}
	input[type="text"] {
		width:240px;
	}
	
	input[type="submit"] {
		margin:0px;
	}
	
	h1 {
		text-align:center;
	}
	input[type="password"] {
		width:240px;
	}
}