@import 'workbench/palette';

.attributes {
  p {
    font-weight: bold;
    strong {
      font-weight: normal;
      text-align: center;
    }
  }

  .attribute_set_title {
    border-bottom: 1px solid $color-secondary-2-0;
    font:caption;
    background-color: $color-secondary-2-1;
    color: $color-secondary-2-0;
  }

  .attribute_set {
    background-color: $note_yellow;
  }

}


