@import 'workbench/palette';
@import 'workbench/whitespace';

.attributes {
  word-wrap: break-word;
  p {
    margin: 0 0 $standard_padding*0.6 0; 
    padding: 0;
    font-weight: bold;

    strong {
      font-weight: 100;
      text-align: center;
    }
  }

  .attribute_set_title {
    margin: $standard_padding 0; 
    font-weight: 500;
    font-size: 16px;
  }

  .attribute_set {
  }

}


