@import 'palette';

.mx-autocomplete {
  border: 1px $color-secondary-1-3 solid;
}

form div.required {
  display: inline;
  div.or {
    display: inline;
    div.option {
      display: inline;
    }
  }
}
