@import 'palette';
@import 'whitespace';

.mx-autocomplete {
  border: 1px $color-secondary-1-3 solid;
}

form div.required {
  display: inline;
  div.or {
    display: inline;
    div.option {
      display: inline;
    }
  }
}

.inline_fields {
  .field {
    br {
      display: none;
    }
    input {
      padding-left: 1em;
    }
  }
}

.side_by_side_fields {
  overflow: auto;
  .field {
    float: left;
    padding-right: 1em
  }
}

.field {
  &.label_above { 
    br { display:inline ;} 
    label {float: left; display: block;}
  }
}

h4 {
  margin-bottom: 0;
}

.inline_div {
  padding-left: $standard_padding * 2;
}
