@import 'palette';

#header_bar {
  align-items: flex-end;
  border-bottom: 1px solid $color-secondary-1-4;

  #taxonworks {
    font-weight: bold;
    a {
      font-size: 26px;
      text-decoration: none;
    }
  }

  #session_nav {
    flex-grow: 0;
  }
}

.current_hub_category {
  background: $color-secondary-2-2;
 }

.all_hub_category {
  margin-top: 5px;
  padding: .1em;
  font-size: 120%;
  font-weight: bold;
  background: $color-secondary-2-2;
  border-bottom: 1px solid $color-secondary-1-4;
}

#main {
  h1 {
  }

  h2 {

  }

  h3 {

  }
}

