@import 'palette';

#header_bar {
	margin:0 auto;
	padding-left:20px;
	padding-right:20px;
 	align-items:center;
	background-color:$navigation_background;
	border-bottom: 1px solid $navigation_border;
	height:50px;
	font-weight: 100;
	
	a {
		font-size:13px;
		padding: 16px;
			    text-decoration: none;
   
	    -webkit-transition: 0.3s ease;
	            transition: 0.3s ease;
	}

	a:hover {
	    -webkit-transition: 0.3s ease;
	            transition: 0.3s ease;
	            color: $focus_link_color;
	       
	}	
  #taxonworks {
    a {
	  color: $default_text;
	  padding: 0px;
	  font-weight: 100;
      font-size: 22px;
      text-decoration: none;
	  
    }
	a:hover {
		background-color:transparent;
	}
  }

  #session_nav {
    flex-grow: 0;
  }
}

.current_hub_category {
  border-bottom: 2px solid $color-secondary-2-4 !important;
 }
  .current_hub_category a {
  	color: $default_text !important;
  	
  }

.all_hub_category {
  margin-top: 5px;
  padding: .1em;
  font-size: 120%;
  font-weight: bold;
  background: $color-secondary-2-2;
  border-bottom: 1px solid $color-secondary-1-4;
}

#main {
	margin:0 auto;
	padding-left:15px;
	padding-right:15px;
}

