.no_bullets {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dfn_bold {
  font-weight: bold;
}

.foo.ui-menu-item {
  word-wrap: break-word;
  padding: .2em;
  width: 135px; 
  border-bottom: 1px solid silver;
}
