// see application for notices related styling

@import 'palette';

body {
  background-color: $body_background;
  color: $default_text;
  font-family: helvetica, verdana, arial, sans-serif; 
  font-size: 12px;
  margin-top:0;
  margin:0;
}
