@import 'palette';

.underlined_elements {
     border-spacing: 0; 
  th {
    border-bottom: 1px solid $color-secondary-1-4;

  }
  td {
    border-bottom: 1px solid $color-secondary-1-3;
  }
}

.top_align_text {
  td {
    vertical-align: top; 
  }
}

