@import 'palette';

.underlined_elements {
     border-spacing: 0; 
  th {
    border-bottom: 1px solid $color-secondary-1-4;

  }
  td {
    border-bottom: 1px solid $color-secondary-1-3;
  }
}

.top_align_text {
  td {
    vertical-align: top; 
  }
}

th.headerSortUp { 
    background-image: url("/assets/icons/arrow-up.svg"); 
    background-color: #3399FF; 
    background-repeat: no-repeat;
    background-position: right, center;
} 

th.headerSortDown { 
    background-image: url("/assets/icons/arrow-down.svg"); 
    background-color: #3399FF; 
    background-repeat: no-repeat;
    background-position: right, center;
} 

.nav-list {
  display: flex;
  flex-direction:row;
  justify-content:space-between;

  .td-filter {
    padding: 10px;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;

    img {
      width:15px;
    }
  }

  .td-filter-title {
    background-color: $color-complement-3;
  }

  .filter-nav {
    border: 1px solid $color-complement-3;
    border-top-left-radius: 5px;
    border-bottom: none;
    display: flex;
    flex-direction:row;
    justify-content:space-between;

    a {
      text-decoration: none;
      display: flex;
      flex-direction:row;
      justify-content:center;
      align-items:center;
    }
  }

  .icon {
    padding: 2px;
    padding-right: 5px;
    opacity: 0.7;

  }
}

.filter-list a {
  text-decoration: none;
}

#taxon-list {
  box-shadow: 0 0 3px 0 $navigation_border;
  border-radius: 5px;
  width: 100%;
  .td-options {
    display: flex;
    align-items:center;
    justify-content:flex-end;
    flex-direction:row;
  }

tbody th, td {
  padding-left: 10px;
  border: none;
  padding-right: 10px;
}

tbody td:last-child {
  border-right:1px solid $navigation_border;
}

tbody a {
  padding: 5px;
  text-decoration: none;
}

td:first-letter {
  text-transform: uppercase;
}

td {
  border-bottom: 1px solid $navigation_border;
  border-left: 1px solid $navigation_border;
}


tr {
  margin: 0px;
  height: 40px;
    img {
    width:15px;
  }
}

thead a {
  text-decoration: none;
  color: #FFF;
  opacity: 0.3;
}
thead a:hover {
  background-color: transparent;
  opacity: 1;
}

thead div {
  display: flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
}

thead th {
  background-color: $color-complement-3;
  color: #FFF;
  padding-left: 10px;
  font-weight: 100;
  
  border-bottom: 1px solid $navigation_border;
  text-align: left;
}
  tr:hover {
    background-color: $color-complement-2;
    color: #000;
  }

}
