.matrix-row-coder
    &__title
        line-height 1
        margin 0
        padding 0

    &__descriptor-list
        list-style none inside

    &__descriptor-container
        margin-bottom 1vmin

    &__descriptor-item
        cursor pointer