# The array below specifies the proportion of specs that are assigned to each worker.
# PLEASE USE FRACTIONAL NUMBERS. Example: (1/10 3/10 1/2 1/10 1/10)
# Make sure you specify as much items as there are workers.

TEST_WORKERS_PROPORTIONS=(59/255 12/255 48/255 70/255 66/255)
