<p>
  <strong>Protocol:</strong>
  <%= object_link(@protocol_relationship.protocol) %>
</p>

<p>
  <strong>Protocol relationship object:</strong>
  <%= object_link(@protocol_relationship.protocol_relationship_object) %>
</p>

<p>
  <strong>Protocol relationship object type:</strong>
  <%= @protocol_relationship.protocol_relationship_object_type %>
</p>
