<div class="attributes">
  <p>
    <strong>Total:</strong>
    <%= @collection_object.total %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @collection_object.type %>
  </p>

  <p>
    <strong>Preparation type:</strong>
    <%= object_link(@collection_object.preparation_type) %>
  </p>

  <p>
    <strong>Repository:</strong>
    <%= object_link(@collection_object.repository) %>
  </p>

</div>
