.summary-view
    border 2px dotted black
    padding 2vmin
    transition border-color 250ms

    &--unsaved
        border-color red

    &--saved-at-least-once
        border-color green

    &__title
        margin 0 0 1vmin 0