<div>
  <h2> Dwca Checklist batch load </h2>

  <div class="flexbox full_viewport_whitespace">
    <div class="item item1 one_third_width">
      <h3> Description and requirements </h3>

      <p> Creates hierarchy of names from DwC-A checklist </p>
      <ul>
        <li>A tab-delimited, UTF-8 compatible text file is required.</li>
        <li>Column headers are (see <%= link_to('sample template', asset_path('batch_load_templates/taxon_names/dwca_checklist_batch_load.tab'), target: '_blank') -%>).</li>
        <li>Multiple uploads of the same data will duplicate info [DEVELOPMENT].</li>
        <li>It is assumed dataset does not have integrity issues.</li>
        <li>Only valid names (only initially, will support nomenclatural and taxonomic synonymy).
        <li>There is currently no size limit to the file being loaded but this may change in the future.</li>
      </ul>
    </div>

    <div class="item item2 one_third_width">
      <h3> Example file </h3>

      <p> A tab delimited formatted file. In the example whitespace is a tab. View sample file template.</p>

      <pre class="fixed_width_font" style="overflow: scroll;">
id	taxonID	acceptedNameUsageID	parentNameUsageID	nameAccordingToID	scientificName	class	order	family	genus	subgenus	specificEpithet	infraspecificEpithet	taxonRank	scientificNameAuthorship
73	73	73		http://dx.doi.org/10.1111/j.1095-8339.2009.01002.x	Equisetopsida C. Aghard	Equisetopsida							class	C. Aghard
35	35	35	73	http://dx.doi.org/10.1111/j.1095-8339.2009.01002.x	Lycopodiidae Beketov	Equisetopsida							subclass	Beketov
34	34	34	35	http://www.mapress.com/phytotaxa/content/2011/f/pt00019p054.pdf	Isoetales Prantl	Equisetopsida	Isoetales						order	Prantl
148	148	148	34	http://www.mapress.com/phytotaxa/content/2011/f/pt00019p054.pdf	Isoetaceae Dumortier	Equisetopsida	Isoetales	Isoetaceae					family	Dumortier
1291	1291	1291	148	http://www.efloras.org/volume_page.aspx?volume_id=1002&flora_id=1	Isoetes Linnaeus	Equisetopsida	Isoetales	Isoetaceae	Isoetes				genus	Linnaeus
6213	6213	6213	1291	http://www.efloras.org/volume_page.aspx?volume_id=1002&flora_id=1	Isoetes acadiensis Kott	Equisetopsida	Isoetales	Isoetaceae	Isoetes		acadiensis		species	Kott
      </pre>
    </div>

    <div class="item item3">
      <h3> Go! </h3>
      <%= render partial: '/taxon_names/batch_load/dwca_checklist/form', locals: {url: preview_dwca_checklist_batch_load_taxon_names_path, submit: :preview} -%>
    </div>
  </div>
</div>
