.notes
    display inline-flex
    flex-direction column

    &__header
        margin-bottom 1vmin

    &__list
        border 1px solid black
        list-style none inside
        padding 1vmin

    &__item
        &:not(:last-child)
            margin-bottom 1vmin