<p>
  <strong>Observation matrix:</strong>
  <%= observation_matrix_link(@observation_matrix_column.observation_matrix) %>
</p>

<p>
  <strong>Descriptor:</strong>
  <%= descriptor_link(@observation_matrix_column.descriptor) %>
</p>

<p>
  <strong>Position:</strong>
  <%= @observation_matrix_column.position %>
</p>

<p>
  <strong>Cached observation matrix column item id:</strong>
  <%= @observation_matrix_column.cached_observation_matrix_column_item_id %>
</p>

