<h2>Select date range</h2>
<span style="vertical-align: 75%"> by slider </span>
<label class="switch"><input type="checkbox" id="toggle_slide_calendar">
  <div class="slider round"></div>
</label>
<span style="vertical-align: 75%"> by calendar</span>
<h3><span id="date_count">????</span></h3>
<span id="earliest_date" hidden="hidden"><%= @earliest_date %></span>
<span id="latest_date" hidden="hidden"><%= @latest_date %></span>
<%= form_tag(set_date_for_collection_object_filter_path, id: 'set_date_form', remote: true) do %>
  Partial overlap search: <%= check_box nil, 'partial_overlap', {id: :partial_toggle}, 'on', 'off' %>
&nbsp; &nbsp; &nbsp;<input id="reset_slider" type="button" value="Reset Slider"/>
<table class="no-shadow" border="1" width="700">
  <tr>
    <td align="center" width="280">
      <!--<label for="search_start_date"></label>-->
      <input type="text" id="search_start_date" name="search_start_date" size="10"/>
    </td>
    <td align="center" width="280">
      <!--<label for="search_end_date"></label>-->
      <input type="text" id="search_end_date" name="search_end_date" size="10"/>
    </td>
  </tr>
  <tr id="tr_slider">
    <td colspan="2">
      <div id="double_date_range"></div>
    </td>
  </tr>
  <tr id="tr_calendar" hidden>
    <td>
      <div id="st_fixedpicker"></div>
    </td>
    <td>
      <div id="en_fixedpicker"></div>
    </td>
  </tr>
  <tr>
    <td align="center" colspan="2" id="graph_frame">
      <div>result graph</div>
    </td>
  </tr>
</table>
        <% end %>
