<%= form_tag(set_area_for_collection_object_filter_path, id: 'set_area_form', remote: true) do %>
  <%= render(partial: 'shared/data/gis/area_selector',
             locals:  {passed_in_tag_id:    'geographic_area_id_for_by_area',
                       drawing_modes:       'active: polygon, circle',
                       selection_objects:   ['CollectionObject'],
                       shown_georeferences: []}) %>
  <div class="flex-separate middle">
    <%= submit_tag('Set area', id: 'set_area') %>
  </div>
<% end %>
<!--{"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[-40.078125,10.614539227964332],[-49.21875,-17.185577279306226],[-23.203125,-15.837353550148276],[-40.078125,10.614539227964332]]]},"properties":{}}-->
