<div class="panel content" id="select_area">
  <div class="content">
    <div class="filter_facet flex-separate middle title-filter-categories">
      <span class="uppercase">Select area</span>
    </div>
    <h3>Result: <span data-help="Display the result of the search" id="area_count">????</span></h3> 
    <label class="switch-toggle" id="label_toggle_slide_area" data-help="Switch view between area and map to filter the search">
      <input type="checkbox" id="toggle_slide_area">
      <div class="slider-toggle round"></div>
      <div class="toggle-options">
        <span>Map</span>
        <span>Area</span>
      </div>
    </label>                    
    <div id="area-container">              
      <%= render('by_area') %>
    </div>
  </div>
</div>

