<div class="panel content" id="select_id_range">
  <div class="content">
    <div class="filter_facet flex-separate middle title-filter-categories">
      <span class="uppercase">Select identifier range</span>
    </div>
    <h3>Result:<span id="id_range_count">????</span></h3>
    <div id="identifier-container">
      <%= render('by_id_range') %>
    </div>
  </div>
</div>
