<div class="panel content" id="select_user_date_range">
  <div class="content">
    <div class="filter_facet flex-separate middle title-filter-categories">
      <span class="uppercase">Select user and date range</span>
    </div>
    <h3>Result:<span id="user_date_range_count">????</span></h3>
    <div id="user_date_range-container">
      <%= render('by_user_date_range') %>
    </div>
  </div>
</div>
