<div class="panel content" id="select_otu">
  <div class="content">
    <div class="filter_facet flex-separate middle title-filter-categories">
      <span class="uppercase">Select otu</span>
    </div>
    <h3>Result:<span id="otu_count">????</span></h3>
    <div id="otu-container">
      <%= render('by_otu') %>
    </div>
  </div>
</div>
