<div class="panel content" id="select_date_range">
  <div class="content">
    <div class="filter_facet flex-separate middle title-filter-categories">
      <span class="uppercase">Select date range</span>
    </div>
    <h3 class="result-text">Result: <span id="date_count">????</span></h3>
    <div id="date-range-container">        
      <%= render "by_date" %>                                
    </div>
  </div>
</div>
