<div class="attributes">
  <p>
    <strong>Documentation object:</strong>
    <%= @documentation.documentation_object %>
  </p>

  <p>
    <strong>Document:</strong>
    <%= @documentation.document %>
  </p>

  <p>
    <strong>Page map:</strong>
    <%= @documentation.page_map %>
  </p>

</div>