  <p>
    <strong>Documentation object:</strong>
    <%= object_tag(@documentation.documentation_object) %>
  </p>

  <p>
    <strong>Document:</strong>
    <%= object_tag(@documentation.document) %>
  </p>

  <p>
    <strong>Page map:</strong>
    <%= @documentation.page_map %>
  </p>
