<h1> Report for <%= object_tag(@user) -%> </h1>

<% @user.class.reflect_on_all_associations(:has_many).each do |r| %>
    <% if r.name =~ /created_/ %>
        <div><%= @user.send(r).count %></div>
    <% end %>
<% end %>

<%= link_to('select another user', user_activity_task_path) -%>