<%= content_for :related_attributes do %>

  <h3> Loan Items </h3>
  <ul>
    <% @loan.loan_items.each do |li| -%>
      <%= content_tag(:li, loan_item_link(li)) %>
    <% end %>
  </ul>
  
<% end %>

<%= render(partial: 'shared/data/project/show', locals: {object: @loan}) -%>
