# This defines sets of related functionality, as displayed in the 'related' tabs.
# !! DO NOT ADD EMPTY ARRAYS  !!
#
# Valid attributes (* required)
#   status - one of [complete, stable, prototype, unknown (default) ] (see user_tasks.yml)
#   categories - an array of one or more of [CollectingEvent, CollectionObject, Source, TaxonName]
#   hide - default false
#   description - 
#   related_models - an array of similar models
#
---
Core: # a Section
  Otu:
    status: :stable
    related_models:
      - TaxonName
      - TaxonDetermination
    categories:
      - matrix
  TaxonName:
    status: :stable
    categories:
      - nomenclature
    related_models:
      - Otu
      - TaxonNameRelationship
  CollectingEvent:
    status: :prototype
    categories: 
      - collecting_event
    related_models:
      - Georeference
  CollectionObject: 
    status: :stable
    categories:
      - collection_object
      - matrix
    related_models:
      - CollectingEvent
      - TaxonDetermination
      - Repository
  Descriptor:
    categories: 
      - matrix
      - dna
    related_models: 
      - ObservationMatrix
    status: :prototype
  Observation:
    categories: 
      - matrix
      - collection_object
    related_models:
      - Descriptor
      - ObservationMatrix
  ControlledVocabularyTerm :
    status: :stable
    related_models:
      - Tag
      - DataAttribute
  Source:
    status: :stable
    shared: true
    categories:
      - source 
    related_models:
      - Serial
      - People
  ProjectSource:
    status: :stable
    related_models:
      - Source
      - Person 
    categories:
      - source
  BiologicalAssociation:
    status: :prototype
    related_models:
      - BiologicalRelationship
    categories: 
      - biology
  Sequence:
    status: :prototype
    related_model:
      - SequenceRelationship
    categories:
      - dna
Supporting:
  AssertedDistribution:
    status: :prototype
    categories:
      - source 
  BiologicalAssociationsGraph:
    status: :prototype
    related_models:
      - Source
    categories: 
      - biology
  BiologicalRelationship:
    status: :prototype
    related_models:
      - BiologicalAssociations
    categories:
      - biology
  CharacterState:
    status: protoype
    categories:
      - matrix
  CollectionProfile:
    status: :prototype
    categories: 
      - collection_object
  CollectionObjectObservation:
    status: :prototype
    categories:
      - collection_object
  Container:
    status: :prototype
    categories:
      - collection_object
    related_models:
      - ContainerItem
  ContainerItem:
    status: :prototype
    categories:
      - collection_object
    related_models:
      - Container
  Content:
    status: :prototype
    related_models:
      - ControlledVocabularyTerm
  CommonName:
    status: :prototype
    categories:
      - nomenclature
  ObservationMatrix:
    status: :prototype
    categories:
      - matrix
  Document:
    status: :prototype
    related_models:
      - Documentation: documentation_index_path
  Documentation:
    status: :prototype
    related_models:
      - Document 
  ImportDataset:
    status: :stable
  Depiction:
    status: :prototype
    related_models:
      - Image
    categories:
      - collection_object
      - collecting_event
  Download:
    status: prototype
  Extract:
    status: :prototype
    related_models:
      - BiologicalRelationship
    categories: 
      - biology
      - dna
  GeneAttribute:
    status: :prototype
    related_models:
      - Sequence
      - SequenceRelationship
    categories:
      - dna
      - matrix
  Georeference:
    status: :prototype
    categories:
      - collecting_event 
  GeographicArea:
    status: :stable
    shared: true
    application_defined: true
    related_models:
      - CollectingEvent
      - Georeference
    categories:
      - collecting_event
  GeographicItem:
    status: :stable
    hide: true
    related_models:
      - GeographicArea
      - Georeference
      - CollectingEvent
  Image:
    status: :stable
    categories:
      - collection_object
  Label:
    status: :prototype
    categories:
      - collection_object
      - collecting_event
    related_models:
      - Container
      - CollectionObject
      - CollectingEvent
      - TaxonDetermination
  Loan:
    status: :prototype
    categories:
      - collection_object
    related_models:
      - CollectionProfile
      - Repository
      - LoanItem
  LoanItem:
    status: :prototype
    categories:
      - collection_object
    related_models:
      - Loan
      - CollectionObject
      - Otu
  ObservationMatrixColumn: 
    categories: 
      - matrix
    related_models: 
      - ObservationMatrix
      - Descriptor
    status: :prototype
    hide: true
  ObservationMatrixColumnItem: 
    categories: 
      - matrix
    related_models: 
      - ObservationMatrix
      - Descriptor
    status: :prototype
  ObservationMatrixRow:
    status: :prototype
    categories:
      - matrix
    related_models:
      - ObservationMatrix
    hide: true
  ObservationMatrixRowItem:
    status: :prototype
    categories:
      - matrix
    related_models:
      - ObservationMatrix   
  OriginRelationship:
    catgories:
      - collection_object
      - dna
    related_models:
      - CollectionObject
      - Sequence
      - Extract
  OtuPageLayout:
    status: :prototype
    related_models:
      - ControlledVocabularyTerm
  Organization:
    status: :stable
    shared: true
    categories:
    related_models:
      - People
  Person:
    status: :stable
    shared: true
    related_models:
      - Source
      - CollectingEvent
      - TaxonDetermination
  PreparationType:
    status: :prototype
    shared: true
    categories:
      - collection_object
  Protocol:
    status: :prototype
    related_models:
      - ProtocolRelationship
  Namespace:
    status: :prototype
    shared: true
  RangedLotCategory:
    status: :prototype
    categories:
      - collection_object
  Repository:
    status: :prototype
    shared: true
    application_defined: true
    related_models:
      - CollectingObject
  Serial:
    status: :prototype
    shared: true 
    categories:
      - source 
    related_models:
      - Source
      - Person
  SequenceRelationship:
    status: :prototype
    related_model:
      - Sequence
    categories:
      - dna
  TaxonDetermination:
    status: :prototype
    categories:
      - collection_object
    related_models:
      - Otu 
      - CollectionObject
  TaxonNameClassification:
    status: :stable
    categories:
      - nomenclature 
    related_models:
      - TaxonName
      - TaxonNameRelationship
  TaxonNameRelationship:
    status: :stable
    categories:
      - nomenclature 
    related_model:
      - TaxonName
      - TaxonNameClassification
  TypeMaterial:
    status: :prototype
    categories:
      - nomenclature 
      - collection_object
Annotations:
  Attribution:
    status: prototype
  AlternateValue:
    status: :prototype
  Citation:
    status: :stable
    categories:
      - source 
  Confidence:
    status: prototype
  DataAttribute:
    status: :stable
    related_models:
      - ControlledVocabularyTerm
  Identifier:
    status: :stable
  Note:
    status: :stable
  ProtocolRelationship:
    status: :prototype
    related_models:
      - Protocol
  Tag:
    status: :prototype
    related_models:
      - ControlledVocabularyTerm
