# This defines sets of related functionality, as displayed in the 'related' tabs.
# !! DO NOT ADD EMPTY ARRAYS  !!
#
# Valid attributes (* required)
#   status - one of [complete, stable, prototype, unknown (default) ] (see user_tasks.yml)
#   categories - an array of one or more of [CollectingEvent, CollectionObject, Source, TaxonName]
#   hide - default false
#   description - 
#   related_models - an array of similar models
#
---
Core: # a Section
  Otu:  
    status: :stable
    related_models:
      - TaxonName
      - TaxonDetermination
  TaxonName:
    status: :prototype
    categories:
      - nomenclature
    related_models:
      - Otu
      - TaxonNameRelationship
  CollectingEvent:
    status: :prototype
    categories: 
      - collecting_event
    related_models:
      - Georeference
  CollectionObject: 
     status: :prototype
     categories:
       - collection_object
     related_models:
       - CollectingEvent
       - TaxonDetermination
       - Repository
  ControlledVocabularyTerm :
     status: :prototype
     related_models:
       - Tag
       - DataAttribute
  Source:
     status: :prototype
     shared: true
     categories:
       - source 
     related_models:
       - Serial
       - People
  ProjectSource:
    status: :prototype
    related_models:
      - Source
      - Person 
    categories:
      - source
  BiologicalAssociation:
     status: :prototype
     related_models:
       - BiologicalRelationship
    categories: 
       - biology
  Sequence:
    status: :prototype
    related_model:
      - SequenceRelationship
    categories:
      - Genetic
Supporting:
  AssertedDistribution:
    status: :prototype
    categories:
      - source 
  BiologicalAssociationsGraph:
    status: :prototype
    related_models:
      - Source
    categories: 
      - biology
  BiologicalRelationship:
    status: :prototype
    related_models:
      - BiologicalAssociations
    categories:
      - biology
  CollectionProfile:
    status: :prototype
    categories: 
      - collection_object
  CollectionObjectObservation:
    status: :prototype
    categories:
      - collection_object
  Container:
    status: :prototype
    categories:
      - collection_object
    related_models:
      - ContainerItem
  ContainerItem:
    status: :prototype
    categories:
      - collection_object
    related_models:
      - Container
  Content:
    status: :prototype
    related_models:
      - ControlledVocabularyTerm
  CommonName:
    status: :prototype
    categories:
      - nomenclature
  Document:
    status: :prototype
    related_models:
      - Documentation: documentation_index_path
  Documentation:
    status: :prototype
    related_models:
      - Document 
  Depiction:
    status: :prototype
    related_models:
      - Image
    categories:
      - collection_object
      - collecting_event
  Georeference:
    status: :prototype
    categories:
      - collecting_event 
  GeographicArea:
    status: :prototype
    shared: true
    application_defined: true
    related_models:
      - CollectingEvent
      - Georeference
    categories:
      - collecting_event
  GeographicItem:
    status: :prototype
    hide: true
    related_models:
      - GeographicArea
      - Georeference
      - CollectingEvent
  Image:
    status: :prototype
    categories:
      - collection_object
  Loan:
    status: :prototype
    categories:
      - collection_object
    related_models:
      - CollectionProfile
      - Repository
      - LoanItem
  LoanItem:
    status: :prototype
    categories:
      - collection_object
    related_models:
      - Loan
      - CollectionObject
      - Otu
  OtuPageLayout:
    status: :prototype
    related_models:
      - ControlledVocabularyTerm
  Person:
    status: :prototype
    shared: true
    related_models:
      - Source
      - CollectingEvent
      - TaxonDetermination
  PreparationType:
    status: :prototype
    shared: true
    categories:
      - collection_object
  Protocol:
    status: :prototype
    related_models:
      - ProtocolRelationship 
  Namespace:
    status: :prototype
    shared: true
  OriginRelationship:
    catgories:
      - collection_object
  RangedLotCategory:
    status: :prototype
    categories:
      - collection_object
  Repository:
    status: :prototype
    shared: true
    application_defined: true
    related_models:
      - CollectingObject
  Serial:
    status: :prototype
    shared: true 
    categories:
      - source 
    related_models:
      - Source
      - Person
  SequenceRelationship:
    status: :prototype
    related_model:
      - Sequence
    categories:
      - Genetic
  TaxonDetermination:
    status: :prototype
    categories:
      - collection_object
    related_models:
      - Otu 
      - CollectionObject
  TaxonNameClassification:
    status: :prototype
    categories:
      - nomenclature 
    related_models:
      - TaxonName
      - TaxonNameRelationship
  TaxonNameRelationship:
    status: :prototype
    categories:
      - nomenclature 
    related_model:
      - TaxonName
      - TaxonNameClassification
  TypeMaterial:
    status: :prototype
    categories:
      - nomenclature 
      - collection_object
Annotations:
  AlternateValue:
    status: :prototype
  Citation:
    status: :prototype
    categories:
      - source 
  DataAttribute:
    status: :prototype
  Identifier:
    status: :prototype
  Note:
    status: :prototype
  ProtocolRelationship:
    status: :prototype
    related_models:
      - Protocol
  Tag:
    status: :prototype
    related_models:
      - ControlledVocabularyTerm
  Confidence:
