# !! YOU MUST RESTART THE SERVER FOR CHANGES HERE TO TAKE AFFECT !!
#
# All routes scoped to /tasks _may_ be further annotated here.
# YAML is organized by:
#
# prefix:
#   attribute: value
#   attribute: value
#
# Valid attributes (* required)
#
#   name* - a friendly human readable name describing the task
#   description - a sentence or two further defining what the task will do for the user
#   hub - true if this tasks should appear at the hub, these tasks MAY NOT require parameters
#   categories - an array of one ore more of [nomenclature, source, collection_object, collecting_event, biology, matrix, dna, image]
#   status - one of [complete, stable, prototype,  unknown (default) ]
#               complete: users can expect the interfaces to remain in their present form
#               stable: primary elements are complete, but minor changes (CSS, feedback etc.) may change
#               prototype: while production ready, anything can change
#               unknown: task has not been classified
#
---
similar_serials_task:
  hub: true
  name: 'Similar serials'
  description: 'Navigate between related serials, and their annotations.'
  related:
    - serials
  categories:
    - source
  status: prototype
user_activity_report_task:
  name:
verify_accessions_task:
  name:
quick_verbatim_material_task:
  hub: true
  name: 'Quick verbatim material'
  description: 'Quickly create a new specimen or lot records by transcribing verbatim label data and other minimal information.  Does not reference Collecting Events or OTUs.'
  related:
    - namespaces
    - build_biocuration_groups_task
  categories:
    - collection_object
  status: stable
create_verbatim_material_task:
  name:
build_biocuration_groups_task:
  hub: true
  name: 'Manage biocuration classes and groups'
  description: 'Create bio-curation categories like sex, and lifestage, that are used to organize physical collections (e.g. specimens and lots).'
  related:
    - build_biocuration_group_task
  categories:
    - collection_object
    - biology
  status: stable
build_biocuration_group_task:
  name:
  related:
    - build_biocuration_groups_task
match_georeference_task:
  hub: true
  name: 'Match georeferences'
  description: 'Re-use georeference efforts from past collecting events.'
  categories:
    - collecting_event
    - collection_object
  status: prototype
otu_distribution_data_task:
  hub: true
  name: 'Otu distribution'
  description: 'Display distribution data and map for an Otu (or taxon name).'
  categories:
    - nomenclature
    - collecting_event
    - collection_object
  status: prototype
author_list_task:
  hub: true
  name: 'Alphabetical list of source authors'
  description: 'Display all source authors with links to source list.'
  categories:
    - source
  status: stable 
sqed_depiction_breakdown_todo_map_task:
  hub: true
  name: 'Collection object image breakdown TODO list'
  description: 'Lists all collection objects currently being processed through depictions.  Indicates those that have transcribed provisional ("buffered") collecting event data.'
  categories:
    - collecting_event
    - collection_object
    - image
  status: stable
simple_specimen_task:
  hub: true
  name: 'Simple new specimen'
  description: 'A bare bones specimen creation interface. Creates related collecting events, images, and identifiers.'
  categories:
    - collection_object
    - collecting_event
  status: prototype
new_asserted_distribution_from_map_task:
  hub: true
  name: 'New asserted distribution from map'
  description: 'Create asserted distributions by selecting OTUs and sources, then click a map to select a geographic area. OTU and source are lockable as defaults for the next record.'
  status: prototype
  categories:
    - source
browse_nomenclature_task:
  hub: true
  name: 'Browse nomenclature'
  description: 'Browse through nomenclature, focusing on a single record at a time.'
  status: stable
  categories:
    - nomenclature
nomenclature_by_source_task:
  hub: true
  name: 'Citations by source'
  description: 'Browse the nomenclatural data extracted from a particular source, focusing on a single source at a time.'
  status: prototype
  categories:
    - nomenclature
    - source
report_dwc_task:
  hub: true
  name: 'Report DWCA table'
  description: 'Collection objects with calculated attributes that will ultimately be exported to DWCA.'
  status: prototype
  categories:
    - collection_object
    - collecting_event
otus_filter_task:
  hub: true
  name: 'OTU filter'
  related:
  categories:
    - otu
  status: prototype
  description: 'Find OTUs by nomenclature, geography and author.'
geographic_area_lookup_task:
  hub: true
  name: 'Geographic area lookup'
  related:
  categories:
    - collecting_event
  status: prototype
  description: 'Check the geographic area gazetteer to see if there are records matching a particular name with queries like "Illinois", or "Champaign:Illinois" or "Saskatchewan:Canada.'
collecting_event_lat_long_task:
  hub: true
  name: 'Stepwise collecting event parser - Latitude/Longitude'
  related:
    - collecting_event
  categories:
    - collecting_event
  status: prototype
  description: "Parse the collecting_events table's verbatim label for possible lat/long combinations."
index_editor_task:
  hub: true
  name: 'Content editor'
  related:
  categories:
    - source
  status: prototype
  description: 'Edit content (text) per subject, for example "Biology of Aus bus". Text can be cited and figured.'
cite_otus_task_task:
  hub: true
  name: 'Cite OTUs'
  related:
  categories:
    - source
  status: prototype
  description: 'Add citations to OTUs.  Optionally add topics to citations.  For example assertions like "Smith, 1920 referenced Biology of Aus bus" are possible.'
new_taxon_name_task:
  hub: true
  name: 'New taxon name'
  related:
  categories:
    - nomenclature
  status: stable
  description: 'Create or edit a taxon name along with its related metadata including original combinations, status, type material and synonym.'
dates_index_task:
  hub: true
  name: 'Stepwise collecting event parser - Dates'
  related:
    - collecting_event
  categories:
    - collecting_event
  status: prototype
  description: "Parse the collecting_events table's verbatim label for possible date combinations."
psu_import_task:
  hub: true
  name: 'Import Penn State DWCA'
  related:
    - collecting_events
    - collection_objects
  categories:
    - collecting_event
    - collection_object
  status: prototype
  description: 'Import a DWCA file from Penn State.'
overdue_loans_task:
  hub: true
  name: 'Overdue loans'
  related:
  categories:
    - collection_object
  status: prototype
  description: 'List overdue loans.'
browse_collection_objects_task:
  hub: true
  name: 'Browse collection objects'
  related:
  categories:
    - collection_object
  status: prototype
  description: 'Report everything known about a collection object (specimen, lot, ranged lot). Includes determinations, loan history, images, collecting event, catalog numbers, etc.'
index_row_coder_task:
  hub: true
  name: 'Matrix row coder'
  related:
  categories:
    - matrix
  status: prototype
  description: 'Code a matrix row.'
edit_loan_task:
  hub: true
  name: 'Edit loans'
  related:
  categories:
    - collection_object
  status: prototype
  description: 'Create and edit loans.'
edit_type_material_task:
  hub: true
  name: 'New type specimen'
  related:
  categories:
    - nomenclature
    - collection_object
  status: stable
  description: 'Add type material records for species group names.'
new_combination_task:
  hub: true
  name: 'New combination'
  related:
  categories:
    - nomenclature
  status: stable
  description: 'Create a new or subsequent nomenclatural combination.'
browse_otus_task:
  hub: true
  name: 'Browse taxa'
  related:
  categories:
  status: prototype
  description: 'Browse through brief summaries of data for an OTU, including ability to annotate and add related data.'
browse_annotations_task:
  hub: true
  name: 'Browse annotations'
  related:
  categories:
    - collection_object
    - collecting_event
    - biology
    - source
    - nomenclature
    - matrix
    - dna
  status: stable 
  description: 'Filter data by annotations (e.g. Notes, Data attributes).  Delete or create additional annotations on filtered objects.  Generate JSON request based on annotations.'
new_descriptor_task:
  hub: true
  name: 'New Descriptor'
  related:
    - character_states
    - observations
    - observation_matrices
  categories:
    - matrix
  status: prototype
  description: 'Create and update descriptors (e.g. phylogenetic or descriptive characters).'
new_matrix_task:
  hub: true
  name: 'New observation matrix'
  related:
    - observation_matrices
  categories:
    - matrix
  status: prototype
  description: 'Assign the rows and columns of observation matrices.'
uniquify_people_task:
  hub: true
  name: 'Uniquify people'
  related:
  categories:
    - source
    - nomenclature
  status: stable 
  description: 'Find and merge redundant or duplicated people, e.g., from import.'
filter_collecting_events_task:
  hub: true
  name: 'Filter collecting events'
  related:
  categories:
    - collecting_event
  status: prototype
  description: 'Filter collecting events by shape, tag, and various other params.'
observation_matrices_hub_task:
  hub: true
  name: 'Observation matrix hub'
  related:
  categories:
    - matrix
    - dna
  status: prototype
  description: 'An overview of observation matrices and descriptors.  Includes links to new records.'
observation_matrix_view_task:
  hub: true
  name: 'View an observation matrix'
  related:
  categories:
    - matrix
    - dna
  status: prototype
  description: 'A very basic visualization of an observation matrix.'
comprehensive_collection_object_task:
  hub: true
  name: 'Comprehensive collection object form'
  related:
    - collection_objects
  categories:
    - collection_object
  status: prototype
  description: 'An all-in-one interface for digitizing collection objects.'
index_print_labels_task:
  hub: true
  name: 'Print labels'
  related:
  categories:
    - collecting_event
  status: prototype
  description: 'Print and manage labels.'
new_asserted_distribution_task:
  hub: true
  name: 'New asserted distribution'
  related:
  categories:
  status: prototype
  description: 'Create new asserted distributions (Otu, source, and geographic area combinations). Has locking and cloning mechanisms.'
index_topics_hub_task:
  hub: true
  name: 'Topics hub'
  related:
  categories:
  status: prototype
  description: 'Report on the usage of Topics.'
index_new_image_task:
  description: 'Add images via drag-and-drop.  Applies attribution and depiction metadata across sets of added images.  Add staged specimen images.'
  hub: true
  name: 'New image'
  related:
  categories:
    - collecting_event
    - collection_object
  status: prototype
source_hub_task:
  hub: true
  name: 'Source hub'
  related:
  categories:
    - source
  status: prototype
  description: 'A centralized hub unifying access to the different means of creating and managing sources.'
new_source_task:
  hub: true
  name: 'New source'
  related:
  categories:
   - source
  status: prototype
  description: 'Add a sources of Verbatim, BibTeX or person via a number of methods.'  
find_sources_task:
  hub: true
  name: 'Find sources'
  related:
  categories:
    - source
  status: prototype
  description: 'Find sources and list them via a simple keyword/year based search.'  
new_bibtex_source_task:
  hub: true
  name: 'New source from BibTeX'
  related:
  categories:
    - source
  status: prototype
  description: 'Parse a captured BibTeX string into a new source'
index_filter_task:
  hub: true
  name: 'Filter nomenclature'
  related:
  categories:
    - nomenclature
  status: stable 
  description: 'Search and filter taxon names. Download CSV.  Generate JSON paths for offline use.'
visualize_confidences_task:
  hub: true
  name: 'Visualize confidences.'
  related:
  categories:
  status: stable 
  description: 'See a graph of confidences applied per data type.'
index_matrix_image_task:
  hub: true
  name: 'Image matrix'
  related:
  categories:
    - matrix
    - image
  status: prototype
  description: 'Code a special type of image-based matrix by organizing images into a matrix.  Uses media-type descriptors.'
index_dashboard_task:
  hub: true
  name: 'Observation matrices dashboard'
  related:
  categories:
    - matrix
  status: prototype
  description: 'Summarize observations across a nomenclaturally-based hierarchy.'
index_stats_task:
  hub: true
  name: 'Nomenclature stats'
  related:
  categories:
    - nomenclature
  status: prototype
  description: 'Get counts of names as different ranks.'
export_coldp_task:
  hub: true
  name: 'Catalogue of Life (CoLDP) exports'
  related:
  categories:
    - nomenclature
  status: prototype
  description: 'Export a zip of text files in the Catalogue of Life CoLDP format.'
index_browse_asserted_distributions_task:
  hub: true
  name: 'Browse asserted distributions'
  related:
  categories:
  status: prototype
  description: 'Browse through asserted distributions summarized by OTU.  Map, table, and CSV downloads.'
collection_objects_filter_task:
  hub: true
  name: 'Collection object filter'
  related:
  categories:
    - collection_object
  status: prototype
  description: 'Filter collection objects by many different facets, download or visualize results.'
syncronize_otus_to_nomenclature_task:
  hub: true
  name: 'Syncronize nomenclature and OTUs'
  related:
  categories:
    - nomenclature
  status: prototype
  description: 'Batch create OTUs for nomenclature.  See reports of unmatched OTUs and Nomenclature.'
asserted_distributions_basic_endemism_task:
  hub: true
  name: 'Asserted distributions - basic endemism'
  related:
  categories:
  status: prototype
  description: 'A simple 1 taxon and children, 1 geographic area summary that includes a check for endemism.  Targets asserted distributions only.'
collection_object_summary_task:
  hub: true
  name: 'Collection summary'
  related:
  categories:
    - collection_object
  status: prototype
  description: 'Summary statistics for the collection(s) managed in this project'
browse_collecting_events_task:
  hub: true
  name: 'Browse collecting events'
  related:
  categories:
    - collecting_event 
  status: prototype
  description: 'View individual collecting events and their related.'
biological_relationship_composer_task:
  hub: true
  name: 'Compose biological relationships'
  related:
  categories:
    - biology
  status: prototype
  description: 'Define and add properties to biological relationships, e.g. things like "host/paraiste".'
grid_digitize_task:
  hub: true
  name: 'Grid digitizer'
  related:
  categories:
    - collection_object
    - image
  status: prototype
  description: 'Break images of collection objects in a grid (e.g. slide folders) into individual collection objects and their depictions.'
export_basic_nomenclature_task:
  hub: true
  name: 'Download nomenclature (basic)'
  related:
  categories:
    - nomenclature
  status: prototype
  description: 'Download (also generate for API) a CSV table of the nomenclature with just the name, and a subset of the hierarchy'
match_nomenclature_task:
  hub: true
  name: 'Match names'
  related:
  categories:
    - nomenclature
  status: prototype
  description: 'A quick and dirty batch based check to see if names are in the system.'
manage_controlled_vocabulary_terms_task:
  hub: true
  name: 'Manage controlled vocabulary terms'
  related:
  categories:
  status: stable 
  description: 'View and create custom fields, tags, etc. used throughout TaxonWorks.'
match_collection_objects_task:
  hub: true
  name: 'Collection object match'
  related:
  categories:
    - collection_object
  status: prototype
  description: 'Use a quick list of catalog numbers or ids to find collection objects.'