<p>
  <strong>Subject otu:</strong>
  <%= otu_link(@otu_relationship.subject_otu) %>
</p>

<p>
  <strong>Type:</strong>
  <%= @otu_relationship.type_name %>
</p>

<p>
  <strong>Object otu:</strong>
  <%= otu_link(@otu_relationship.object_otu) %>
</p>

<p>
  <strong>Project:</strong>
  <%= @otu_relationship.project_id %>
</p>

