<h1>Collection Profiles</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @collection_profiles.each do |collection_profile| %>
      <tr>
        <td><%= link_to 'Show', collection_profile %></td>
        <td><%= link_to 'Edit', edit_collection_profile_path(collection_profile) %></td>
        <td><%= link_to 'Destroy', collection_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collection profile', new_collection_profile_path %>
