<!-- Rough struture- seems like make id="" could be turned into components -->

<div id="content_editor">
<panel-top></panel-top>
  <div id="subjects"> 
    <recent></recent>

    <div id="current">
      <div id="subject_type"></div>
      <div id="subject_search"></div>
    </div>

  </div>

  <div class="flexbox">
    <topic-section class="panel topic-panel separate-right">
    </topic-section>

    <div id="core" class="item item2">

      <div id="configure">
        <subject> </subject>
        <topic> </topic>
      </div> 

      <content-editor></content-editor>

      <div id="metadata">
        <div id="figures"></div>
        <div id="citations"></div>
      </div>

    </div>
  </div>
</div>

<template>
  <div class="flexbox">
    <form action="">
      <input type="radio" name="gender" value="male"> Add topic<br>
      <input type="radio" name="gender" value="female"> Select OTU
    </form> 
  </div>
</template>
