<!-- Rough struture- seems like make id="" could be turned into components -->

<div id="content_editor">
<panel-top></panel-top>

  <div class="horizontal-center-content">
    <topic-section ></topic-section>
    <div>
      <content-editor></content-editor>
    </div>
    <recent></recent>
  </div>
</div>

<template>
  <div class="flexbox">
    <form action="">
      <input type="radio" name="gender" value="male"> Add topic<br>
      <input type="radio" name="gender" value="female"> Select OTU
    </form> 
  </div>
</template>
