
<p>
  <strong>Event</strong>
  <%= papertrail.event %>
</p>

<p>
  <strong>Whodunnit</strong>
  <%= papertrail.whodunnit %>
</p>

<p>
  <strong>Object</strong>
  <pre><%= papertrail.object %></pre>
</p>

<p>
  <strong>Created at</strong>
  <pre><%= papertrail.created_at %></pre>
</p>

