<h2> Papertrail for <%= object_tag(@object) -%> </h2>

<div>Return <%= object_link(@object) -%></div>

<div id="papertrail_filter_box">
    <h4 id="papertrail_filter_title">Filter by</h4>
    <div id="papertrail_user_box">
        <%= render "users/user_picker" %>
    </div>

    <div id="date_picker_box">
        <div class="start_datepicker_box">
            <label for="start_datepicker">Start Date</label>
            <input id="start_datepicker" class="datepicker" type="text" placeholder="Select start date...">
        </div>
        <div class="end_datepicker_box">
            <label for="end_datepicker">End Date</label>
            <input id="end_datepicker" class="datepicker" type="text" placeholder="Select end date...">
        </div>
    </div>
</div>

<%= render(partial: 'papertrail', collection: @object.versions.drop(1).reverse, locals: {object_id: @object.id, object_type: @object.class}) -%>


