<p>
  <strong>Matrix:</strong>
  <%= matrix_link(@matrix_column.matrix) %>
</p>

<p>
  <strong>Descriptor:</strong>
  <%= descriptor_link(@matrix_column.descriptor) %>
</p>

<p>
  <strong>Position:</strong>
  <%= @matrix_column.position %>
</p>

