<div data-filter-slide="close">

  <div id="filterBrowse" class="navigation-controls filter">
    <div class="navigation-item" data-filter=".added_attribute">
      <span data-icon="show" class="small-icon">Added attribute</span>
    </div> 

    <div class="navigation-item" data-filter=".imaged">
      <span data-icon="show" class="small-icon">Imaged</span>
    </div>  
                          
    <div class="navigation-item" data-filter-reset="reset">
      <span data-icon="reset" class="small-icon">Reset</span>
    </div>
  </div>

</div>


