@import 'base/palette';
@import 'base/whitespace';

.otu_picker_autocomplete {
	position: relative;
}
.otu_picker {
	.new_plus {
		display: none;
	}
}

.inline_otu_picker {
	display: flex;
	align-items: center;
	flex-direction: row;
	input {
		width: 300px;
	}	
	.new_plus {
		margin: 5px;
	}
}

#new_otu {
	width: 240px;
	border-radius: 2px;
	box-shadow: 0px 1px 3px 0px $navigation_border;
	border: 1px solid $navigation_border;
	padding: $standard_padding;
	margin-bottom: $standard_margin;
	position: relative;
	flex-direction: row;
	.fields {
		padding-left: $standard_padding;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.field {
		display: flex;
		flex-direction: column;
		label {
			text-align: left;
		}
	}
	#new_otu:active {
		transition: block 0.3s ease;
	}
	.link {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#otu_picker_new_undo {
		position: absolute;
		top:5px;
		right: -20px;
	}

	#otu_picker_new_undo:hover {
		-webkit-animation-name: rotate; 
		-webkit-animation-duration: 0.5s; 
		-webkit-animation-iteration-count: 1;
		-webkit-animation-timing-function: linear;
		-moz-animation-name: rotate; 
		-moz-animation-duration: 0.5s; 
		-moz-animation-iteration-count: 1;
		-moz-animation-timing-function: linear;
	}
}