<p>
  <strong>Institution:</strong>
  <%= @namespace.institution %>
</p>

<p>
  <strong>Name:</strong>
  <%= @namespace.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @namespace.short_name %>
</p>


