<div>
  <h2> Modify Gene Descriptor batch load </h2>

  <div class="flexbox full_viewport_whitespace">
    <div class="item item1 one_third_width">
      <h3> Description and requirements </h3>

      <p> Modifies each gene descriptors gene attribute logic to be at least one forward primer and one reverse primer. </p>
      <ul>
        <li>A tab-delimited, UTF-8 compatible text file is required.</li>
        <li>Column headers are (see <%= link_to('sample template', asset_path('batch_load_templates/descriptors/modify_gene_descriptor_batch_load.tab', skip_pipeline: true), target: '_blank') -%>).</li>
        <li>Each primer is separated by a comma and space (", ")</li>
        <li>Multiple uploads of the same data will X.</li>
        <li>It is assumed each gene has one forward primer and one reverse primer.</li>
        <li>There is currently some|no size limit to the file being loaded but this may change in the future.</li>
      </ul>
    </div>

    <div class="item item2 one_third_width">
      <h3> Example file </h3>

      <p> A tab delimited formatted file 
        In the example whitespace is a tab. View sample file template.</p>

      <pre class="fixed_width_font">
        gene_name forward_primers reverse_primers
      </pre>
    </div>

    <div class="item item3">
      <h3> Go! </h3>
      <%= render partial: '/descriptors/batch_load/modify_gene_descriptor/form', locals: {url: preview_modify_gene_descriptor_batch_load_descriptors_path, submit: :preview} -%>
    </div>
  </div>
</div>
