<p style="color: green"><%= notice %></p>

<% content_for :title, "Lead items" %>

<h1>Lead items</h1>

<div id="lead_items">
  <% @lead_items.each do |lead_item| %>
    <%= render lead_item %>
    <p>
      <%= link_to "Show this lead item", lead_item %>
    </p>
  <% end %>
</div>

<%= link_to "New lead item", new_lead_item_path %>
