<div>
  <!--<h2> Simple batchload </h2>-->

  <div class="flexbox full_viewport_whitespace">
    <div class="item item1">
      <h3> Description and requirements </h3>

      <p> Creates collecting events and related objects.
        (required structure as per PSUCdataBlankv2.pdf: Ignore this (=>>) example file.)<br>
        <em> A text file with unix line endings is required.</em>
      </p>
    </div>

    <div class="item item2">
      <h3> Example file </h3>
      <table>

        <tr class="underlined_rows">
          <td colspan="2">one of these</td>
          <td colspan="4">this &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            OR one or more of these
          </td>
          <td colspan="3">one of these</td>
        </tr>

        <tr>
          <th>otu_name</th>
          <th>otu_id</th>
          <th>geographic_area_name</th>
          <th>country</th>
          <th>state</th>
          <th>county</th>
          <th>source_id</th>
          <th>doi</th>
          <th>citation</th>
        </tr>

        <tr>
          <td>Aus bus</td>
          <td></td>
          <td></td>
          <td>Canada</td>
          <td>Saskatchewan</td>
          <td></td>
          <td>19</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td>19</td>
          <td>Alaska</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Smith, 1920. Bears on the coast. Jr. Chilly Waters. 0:0 pp0-40.</td>
        </tr>
      </table>
    </div>

    <div class="item item3">
      <h3> Go! </h3>
      <%= render partial: 'form', locals: {url: preview_psu_import_path, submit: :preview} -%>
    </div>

  </div>
</div>

