<h2> Penn State Import Results</h2>

<p> Import includes <%= @result.count -%> records. </p>

<p><span style='color:green'>Green</span> lines will be imported. If there are soft validation errors
  they will appear below the green line in <span style="color:brown">brown</span>.
  <span style="color:red">Red</span> lines will not be imported and are followed by a list of the associated errors.
</p>

<ol>
  <% @result.each_key do |kee| -%>
      <%= text_row(@result[kee]) -%>
  <% end %>
</ol>
