
<div  > <h1 class="center_text"> <span class="subtle"> Hub for </span> <%= object_tag(sessions_current_project) -%> </h1> </div>
<%= render(partial: 'navigation_index_bar') -%>

<navigation>
  <ul>
    <%= render(partial: "hub/navigation_lists/#{@links_to_render}") -%>
  </ul>
</navigation>