
<table class="tablesorter"> 

  <thead>
    <tr>
      <%= fancy_th_tag(name: 'Citation') -%>
      <%= fancy_th_tag(name: 'Year') -%>
      <%= fancy_th_tag(name: 'Citation') -%>
    </tr>


  <% @sources.each do |s| -%>

  <% end %>

</table>

