:root {
  color-scheme: light;

  --header-sandbox-bg-color: #4a4564;
  --header-sandbox-bg-button-color: #3a3361;
  --header-bg-color: #455a64;

  --btn-radial-background: white;
  --btn-radial-color: var(--color-primary);

  --bg-color: #f7f8fc;
  --bg-foreground: #ffffff;
  --bg-muted: #f8fafc;
  --bg-action: #e3e8e3;
  --bg-hover: #f1f5f9;
  --border-color: #d5d5d5;
  --button-disabled-bg-color: #ececec;
  --button-disabled-text-color: #999;
  --button-default-bg-color: #dddcdc;
  --input-bg-color: #ffffff;
  --panel-bg-color: #ffffff;
  --panel-shadow: rgba(36, 37, 38, 0.08) 4px 4px 15px 0px;
  --panel-border-color: #e2e8f0;
  --text-color: #000000;
  --text-muted-color: #6b7280;

  --modal-bg-color: rgba(0, 0, 0, 0.7);
  --modal-mask-bg-color: rgba(0, 0, 0, 0.7);

  --table-row-bg-even: #ffffff;
  --table-row-bg-odd: #f8f8f8;

  --button-shadow: 0px 1px 2px 0px var(--border-color);

  --soft-validation-bg-color: #fff9f9;

  --table-row-bg-hover: #f1f5f9;

  --feedback-primary-text-color: #4c81eb;
  --feedback-primary-bg-color: #b0caff;
  --feedback-primary-border-color: #6899fa;

  --feedback-secondary-text-color: #5d9ece;
  --feedback-secondary-bg-color: #fcfcfc;
  --feedback-secondary-border: #788990;

  --feedback-info-text-color: #4c81eb;
  --feedback-info-bg-color: #b0caff;
  --feedback-info-border-color: #6899fa;

  --feedback-warning-text-color: #c3a78a;
  --feedback-warning-bg-color: #fff5ea;
  --feedback-warning-border-color: #e5d2be;

  --taxon-name-valid-color: #0c2351;
  --taxon-name-invalid-color: #b0783c;

  --code-tag-color: #116611;
  --code-attribute-color: #0077aa;
  --code-string-color: #000000;
  --code-error-color: #cc0000;
  --code-selection-color: #d7e4f7;

  --news-warning-color: #a30000;
  --news-warning-bg: #ffe6e6;

  --news-notice-color: #003d99;
  --news-notice-bg: #e6f0ff;

  --news-instruction-color: #003d99;
  --news-instruction-bg: #e6f0ff;

  --news-blogpost-color: #3b82f6;
  --news-blogpost-bg: rgba(59, 130, 246, 0.15);

  --badge-warning-color: #ef4444;
  --badge-warning-bg: #ef444426;

  --color-soft-success-bg: rgba(16, 185, 129, 0.08);

  --color-soft-warning-bg: rgba(249, 115, 22, 0.1);
  --color-soft-warning-border: rgba(249, 115, 22, 0.2);

  --badge-green-bg: rgba(16, 185, 129, 0.15);
  --badge-green-color: #10b981;
  --color-green-soft-shadow: rgba(16, 185, 129, 0.5);

  --badge-blue-bg: rgba(59, 130, 246, 0.15);
  --badge-blue-color: #3b82f6;

  --badge-yellow-bg: rgba(245, 158, 11, 0.15);
  --badge-yellow-color: #f59e0b;

  --badge-red-bg: rgba(239, 68, 68, 0.15);
  --badge-red-color: #ef4444;

  --badge-default-bg: rgba(107, 114, 128, 0.15);
  --badge-default-color: #6b7280;

  --badge-purple-bg: rgba(139, 92, 246, 0.15);
  --badge-purple-color: #8b5cf6;

  --news-blogpost-bg: var(--badge-blue-bg);
  --news-blogpost-color: var(--badge-blue-color);
  --news-notice-bg: var(--badge-yellow-bg);
  --news-notice-color: var(--badge-yellow-color);
  --news-instruction-bg: var(--badge-purple-bg);
  --news-instruction-color: var(--badge-purple-color);
  --news-warning-bg: var(--badge-red-bg);
  --news-warning-color: var(--badge-red-color);

  .news-bar-close-button {
    cursor: pointer;
  }
}

.dark {
  color-scheme: dark;

  --header-sandbox-bg-color: #201e2e;
  --header-bg-color: #1b2326;

  --btn-radial-background: #eeeeee;
  --btn-radial-color: var(--color-primary);

  --bg-action: #000000;
  --bg-hover: #000000;
  --bg-color: #242424;
  --bg-foreground: #333333;
  --bg-muted: #1b1b1b;
  --border-color: #5b5b5b;
  --button-disabled-bg-color: #555555;
  --button-disabled-text-color: #aaaaaa;
  --button-default-bg-color: #dddcdc;
  --input-bg-color: #2b2b2b;
  --panel-bg-color: #333333;
  --panel-shadow: rgba(0, 0, 0, 0.25) 4px 4px 15px 0px;
  --panel-border-color: #28292c;
  --text-color: #ffffff;
  --text-muted-color: #c6c6c6;

  --modal-mask-bg-color: rgba(0, 0, 0, 0.7);

  --button-shadow: none;

  --soft-validation-bg-color: #37332f;

  --table-row-bg-even: #333333;
  --table-row-bg-odd: #444444;
  --table-row-bg-hover: #000000;

  --feedback-primary-text-color: #b6cfff;
  --feedback-primary-bg-color: #234079;
  --feedback-primary-border-color: #0e2c67;

  --feedback-secondary-text-color: #5d9ece;
  --feedback-secondary-bg-color: #0f0f0f;
  --feedback-secondary-border: #788990;

  --feedback-info-text-color: #4c81eb;
  --feedback-info-bg-color: #2e3646;
  --feedback-info-border-color: #6899fa;

  --feedback-warning-text-color: #cf873b;
  --feedback-warning-bg-color: #37332f;
  --feedback-warning-border-color: #6b461e;

  --code-tag-color: #90ee90;
  --code-attribute-color: #87ceeb;
  --code-string-color: #ffffff;
  --code-error-color: #ff6b6b;
  --code-selection-color: #264f78;

  --taxon-name-valid-color: #b6cfff;
  --taxon-name-invalid-color: #cf873b;
}

$tw-dark-colors: (
  'focus': #000000,
  'active': #000000,
  'link': #479ef5,
  'attention': #ffda44,
  'background': #242424,
  'black': #444444,
  'create': #36974a,
  'data': #006ebf,
  'destroy': #a2131d,
  'error': #a2131d,
  'panel': #ffffff,
  'primary': #006cbe,
  'secondary': #0e0a0b,
  'update': #36974a,
  'warning': #f97316,
  'white': #ffffff,
  'border': #f5f5f5,
  'toggle-active': #beae00
);

$tw-colors: (
  'focus': #e3e8e3,
  'active': #f1f5f9,
  'link': #5d9ece,
  'attention': #ffda44,
  'background': #f7f8fc,
  'black': #444444,
  'create': #9ccc65,
  'data': #006ebf,
  'destroy': #f44336,
  'error': #f44336,
  'panel': #ffffff,
  'primary': #5d9ece,
  'secondary': #5a1321,
  'update': #9ccc65,
  'warning': #f97316,
  'white': #ffffff,
  'border': #f5f5f5,
  'toggle-active': #cebd5d
);

$tw-map-colors: (
  'aggregate': #037316,
  'collection-object': #ef4444,
  'field-occurrence': #84cc16,
  'type-material': #3388ff,
  'asserted-distribution': #f97316,
  'asserted-distribution-absent': #6a51a3,
  'georeference': #ef4444
);

@each $key, $value in $tw-colors {
  :root {
    --color-#{$key}: #{$value};
  }
}

@each $key, $value in $tw-dark-colors {
  .dark {
    --color-#{$key}: #{$value};
  }
}

@each $key, $value in $tw-map-colors {
  :root {
    --color-map-#{$key}: #{$value};
  }
}

@each $key, $value in $tw-colors {
  .text-#{$key}-color {
    color: #{$value};
  }
}

@each $key, $value in $tw-map-colors {
  .bg-#{$key} {
    background-color: #{$value};
  }
}
