:root {
  --btn-radial-background: white;
  --btn-radial-color: #5d9ece;
}

$tw-colors: (
  'attention': #ffda44,
  'background': #f7f8fc,
  'black': #444444,
  'create': #9ccc65,
  'data': #006ebf,
  'destroy': #f44336,
  'error': #f44336,
  'panel': #ffffff,
  'primary': #5d9ece,
  'secondary': #5a1321,
  'update': #9ccc65,
  'warning': #ff8c00,
  'white': #ffffff,
  'border': #f5f5f5
);

@each $key, $value in $tw-colors {
  :root {
    --color-#{$key}: #{$value};
  }
}

@each $key, $value in $tw-colors {
  .text-#{$key}-color {
    color: #{$value};
  }
}
