$tw-input-sizes: (
  'xSmall': '12px',
  'small': '16px',
  'default': '24px',
  'medium': '28px',
  'large': '36px',
  'xLarge': '40px'
);

:export {
  @each $key, $value in $tw-input-sizes {
    #{unquote($key)}: #{$value};
  }
}