$tw-input-sizes: (
  'xxSmall': '8px',
  'xSmall': '12px',
  'small': '16px',
  'default': '24px',
  'medium': '28px',
  'large': '36px',
  'xLarge': '40px'
);

:root {
  --border-radius-xsmall: 0.25rem;
  --border-radius-small: 0.375rem;
  --border-radius-medium: 0.5rem;
  --border-radius-large: 0.75rem;

  --spacing-xsmall: 0.25rem; /* 4px */
  --spacing-small: 0.5rem; /* 8px */
  --spacing-medium: 0.75rem; /* 12px */
  --spacing-default: 1rem; /* 16px */
  --spacing-large: 1.5rem; /* 24px */
  --spacing-xlarge: 2rem; /* 32px */
}

@each $key, $value in $tw-input-sizes {
  :root {
    --size-#{$key}: #{$value};
  }
}
