$tw-input-sizes: (
  'xSmall': '12px',
  'small': '16px',
  'default': '24px',
  'medium': '28px',
  'large': '36px',
  'xLarge': '40px'
);

:root {
  --border-radius-small: 0.375rem;
  --border-radius-medium: 0.5rem;
  --border-radius-large: 0.75rem;
}

:export {
  @each $key, $value in $tw-input-sizes {
    --#{$key}: #{$value};
  }
}
