<%= content_for :associated do -%>

  <% if @container_item.siblings -%>
    <h3> Also in container </h3>
    <ul>
    <% @container_item.siblings.each do |c| -%>
      <%= content_tag :li, container_item_tag(c) -%>
    <% end %>
    </ul>
  <% end %>
  

<% end %> 


<%= render('shared/data/project/show', object: @container_item) -%>
