<div id="new_taxon_name_task">
	<h1>New taxon name</h1>
	<div class="panel content">
		<form class="content">
			<h3 class="subtitle">Basic information</h3><br>
			<div class="field separate-top">
				<label>Parent</label>
				<parent-picker></parent-picker>
			</div>
			<div class="field">
				<label>Name</label><br>
				<taxon-name></taxon-name>
			</div>
			<rank-selector></rank-selector>
		</form>

		<form class="content">
			<h3 class="">Author/year</h3><br>
			<div class="field separate-top">
				<label>Source</label>
				<source-picker></source-picker>
			</div>			
			<div class="field separate-top">
				<label>Verbatim author</label><br>
				<verbatim-author></verbatim-author>
			</div>
			<div class="fields">
				<label>Verbatim year</label><br>
				<verbatim-year></verbatim-year>
			</div>
		</form>

	</div>
</div>