<div id="new_taxon_name_task">
	<h1>New taxon name</h1>
	<div class="panel content">
		<form class="content">
			<h3 class="subtitle">Basic information</h3><br>
			<div class="field separate-top">
				<label>Parent</label>
				<parent-picker></parent-picker>
			</div>
			<div class="fields">
				<label>Name</label><br>
				<taxon-name></taxon-name>
			</div>
		</form>
	</div>
</div>