<p>
  <strong>Biological relationship:</strong>
  <%= object_link(@biological_association.biological_relationship) %>
</p>

<p>
  <strong>Biological association subject:</strong>
  <%= object_link(@biological_association.biological_association_subject.metamorphosize) %>
</p>

<p>
  <strong>Biological association object:</strong>
  <%= object_link(@biological_association.biological_association_object.metamorphosize) %>
</p>
