<div class="attributes">

  <p>
    <strong>Biological relationship:</strong>
    <%= object_tag(@biological_association.biological_relationship) %>
  </p>

  <p>
    <strong>Biological association subject:</strong>
    <%= object_tag(@biological_association.biological_association_subject) %>
  </p>

  <p>
    <strong>Biological association object:</strong>
    <%= object_tag(@biological_association.biological_association_object) %>
  </p>

</div>