<p>
  <strong>Name:</strong>
  <%= @protocol.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @protocol.short_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @protocol.description %>
</p>

<p>
  <strong>Is machine output:</strong>
  <%= @protocol.is_machine_output %>
</p>

