var TW = TW || {};
TW.workbench = TW.workbench || {};
TW.workbench.alert = TW.workbench.alert || {};

Object.assign(TW.workbench.alert, {

  audioFile: {
    default: '<%= asset_path("notify.wav") %>',
  },

  init: function () {
    $(document).off("click", ".alert-close");
    $(document).on("click", ".alert-close", function () {
      $(this).parent(".alert").animate({
        bottom: "-=" + ($(this).height() * 2),
      }, 250, function () {
        $(this).remove();
      });
    });

    if ($(".alert").length) {
      this.play('<%= asset_path("notify.wav") %>');
    }
    ;
  },

  create: function (text) {
    $(".alert[class*='alert-']").remove();
    $("body").append('<div class="alert alert-error"><div class="message">' + text + '</div><div class="alert-close"></div></div>');
    this.play('default');
  },

  create: function (text, type) {
    $(".alert[class*='alert-']").remove();
    $("body").append('<div class="alert alert-' + type + '"><div class="message">' + text + '</div><div class="alert-close"></div></div>');
    this.play(type);
  },

  play: function (type) {
    var sound = new Audio((this.audioFile[type] == undefined ? this.audioFile.default : this.audioFile[type]));
    sound.play();
  }
});

$(document).on('turbolinks:load', function () {
  TW.workbench.alert.init();
});
