/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


form label {text-align:right; width:200px;}

/* Examples only, see geographic_items/1 (show)  */
.scrollable_div { height: 80px; overflow: auto;  }
br.clear_both{ clear: both; }
.left_floater {float: left;}
.right_vertical_seperator { border-right: 1px solid }
.right_column_whitespace {padding-right: 1em; margin-right: 1em;}
.nav_column {width: 200px; }
