.col1{float:left; background-color: red}
.col2{float:left; background-color: green}
.col3{float:left; background-color: yellow}
.col4{float:left; background-color: purple}

.four_columns{clear:right;}