// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 @import 'workbench/palette';
.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap;
  justify-content: center;

	.space-distance {
		margin-left: 0.5em;
		margin-right: 0.5em;
	}

	.box {
		border:1px solid $navigation_border;
		border-radius: 3px;
		background-color: $soft_background;
		box-shadow: 0 1px 2px 0 $navigation_border;
		.container {
			padding-left: 20px;
			padding-right: 20px;

		}
		.title {
			flex-direction:row;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			display: flex;
			height: 40px;
			color: #FFF;
			align-items:center;
			border-bottom: 1px solid $navigation_border;
			img {
				width: 15px;
				padding-right: 5px;
			}

		}
			.configuration {
				background-color: $color-complement-4;
			}
			.data {
				background-color: $color-secondary-2-3;
			}
			.project {
				background-color: $color-secondary-2-3;
				
			}
		.subtitle {
			h2 {
				border-bottom: 1px solid $navigation_border;
			}
			h3 {
				border-bottom: 1px solid $navigation_border;
			}
		}

		.icon {
				width: 15px;
				padding-right: 5px;
		}


		.tree {

			ul{
			  list-style-type: none;
			  margin:0px;
			  padding: 0;
			  padding-top: 12px;
			  position: relative;
			  overflow:hidden;  
			  margin-bottom: 15px;  
			}

			li{
			  display: flex;
			  flex-direction:row;
			  margin: 0;
			  padding: 0 12px;  
			  position: relative; 
			}
			  
			li::before, li::after{
			  content: '';
			  position: absolute;
			  left: 0;
			}

			li::before{
			  border-top: 1px solid $navigation_border;
			  top: 10px;
			  width: 10px;
			  height: 0;    
			}

			li:after{
			  border-left: 1px solid $navigation_border;
			  height: 100%;
			  width: 0px;
			  top: -10px; 
			}

			li::after{
			  top: 10px;
			}

			li:last-child::after{
			  display: none;
			}	

			mark {
				font-weight: bold;
				background-color: transparent;
			}
			mark:before {
				font-weight: 100;
			}	

			a {
				display: flex;
				flex-direction:row;
				align-items:center;
				font-size: 12px;
				padding-left: 5px;
			}			
		}

		h2 {
			font-weight: 100;
		}	
		h3 {
			font-weight: 100;
			//@extend .container;
		}		
		a {
			text-decoration: none;
			font-size: 12px;
		}

		ul {			
			padding: 0px;
			list-style: none;
			margin-right: 0em;
			margin-left: 1em;

		}
		li {
			
			//padding-left: 2em;
			//border-bottom: 1px solid $navigation_border;
		}
	}
  
}