
// Styling particular to the hub controller and views

@import 'workbench/palette';
@import 'workbench/whitespace';

#hub {
  a {
    text-decoration: none;
  }

  h1 {
    font-weight: 100;

  }

  h2 {
    font-weight: 100;

  }

  h3 {
    font-weight: 100;
  }

#filter {
  margin-top: 15px;
  font-weight: 100;

  .activated {
    background-color: $color-complement-2 !important;
    box-shadow:inset 0px 1px 2px 0px $color-complement-3 !important;
  } 
  img {
    padding-right: 5px;
    opacity: 0.8;
  }
  .reset {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    opacity: 0.5;
  }
  .reset:hover {
    opacity: 1;
  }

  .flexbox {
    display: flex;
    justify-content:space-between;
    width: 1040px;

    .item2 {
      display: flex;
      width: 100%;
      min-width: 450px;
    }

    .item { 
      flex-direction:column;
    }
  }
}

  #navigation_list {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction:column; 

    li {
      padding: $standard_padding * .3;
      list-style-type: none;
      border-left: 1px solid $color-secondary-2-2;
      margin-bottom: 1em;
      a.task_name { 
        display: block; 
      }
      .task_description {
        display: block;
        background-color: $note_yellow;
        margin-left: $standard_padding;
        padding: $standard_padding * .3;
      }
    }
  }

  #hub_tabs { 
    cursor: pointer;
    display: flex;
    border-bottom: 1px solid $navigation_border;
    justify-content: center; 
    background-color: $panel_background;
    img {
      width: 14px;
      padding-right: 5px;
      opacity: 0.8;
      
    }
    .navigation-bar {
      justify-content: space-between; 
      flex-direction:column;
      align-items:center;
      display: flex;
      ul {
        position: relative;
        top:1px;
      }
      li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        margin-right: 5px;
        padding: 0.5em;
        padding-left: 1em;
        padding-right: 1em;

      }
      a {
        padding-left: 20px;
        font-size:12px;
        font-weight: 100;
      }

    }
  }



  div.related_links_set {
    background-color: $background_gray;
    padding: $pane_padding;
    border: $pane_border;
    margin: $pane_margin;
    width: 260px;
    float: left;
    min-height: 200px;
    h3 {
      margin: 0;
      border-bottom: 1px solid;
      color: $color-secondary-2-4;
    }
    h4 { 
      margin: 0;
      font-weight: bold;
      color: $color-secondary-2-3;
    }
    ul {
      li {
        margin-left: .4em;
        padding: 0;
      }
    }
  }
}
