
// Styling particular to the hub controller and views

@import 'workbench/palette';
@import 'workbench/whitespace';

#hub {
    margin-left:-15px;
    margin-right: -15px;
  a {
    text-decoration: none;
  }

  h1 {
    font-weight: 100;

  }

  h2 {
    font-weight: 100;

  }

  h3 {
    font-weight: 100;
  }

  .filter-header {
    display: flex;
    flex-direction:row;
    justify-content:center;
    width: 100%;
  }

   // jose - we could move other general hub classes to here
   .filter {
    display: flex;
    margin: 2em;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    background-color: $navigation_background;
    border:1px solid $navigation_border;
    //width: 505px;

    .category_button {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .category_button a {
      background-color: $navigation_background;
    }

    .activated a {
      background-color: $color-complement-2;
    }


     a {
  
      
    }

    .category_button:last-child a {
      border-right: none;
    }
 
    .title {
      color: #FFF;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 23px;
      padding-right: 24px;
      display: flex;
      justify-content:flex-start;
      align-items: center;
      text-align: center;
      border-right: 1px solid $navigation_border;
      background-color: $color-complement-3;
      flex-direction:column; 
    }

    .filter-sections {
      display:flex; 
      flex-direction:row;
      justify-content:space-between;
    }

    a {
      border-right: 1px solid $navigation_border;
      padding: 12px;
    }    

    [data-filter-category="taxon_name"] {
      background-image: url('/assets/icons/new.svg');
      background-position: 5px, center;
      padding-left: 25px;
      background-repeat: no-repeat;
      background-size: 14px 12px;
    }  

    [data-filter-category="source"] {
      background-image: url('/assets/icons/book.svg');
      background-position: 5px, center;
      padding-left: 25px;
      background-repeat: no-repeat;
      background-size: 14px 12px;
    }     

    [data-filter-category="collecting_event"] {
      background-image: url('/assets/icons/geo_location.svg');
      background-position: 5px, center;
      padding-left: 25px;
      background-repeat: no-repeat;
      background-size: 14px 12px;
    }     

    [data-filter-category="collection_object"] {
      background-image: url('/assets/icons/picking.svg');
      background-position: 5px, center;
      padding-left: 25px;
      background-repeat: no-repeat;
      background-size: 14px 12px;
    }  

  }



  #navigation_list {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction:column; 

    li {
      padding: $standard_padding * .3;
      list-style-type: none;
      border-left: 1px solid $color-secondary-2-2;
      margin-bottom: 1em;

      a.task_name { 
        display: block; 
      }
      .task_description {
        display: block;
        background-color: $note_yellow;
        margin-left: $standard_padding;
        padding: $standard_padding * .3;
      }
    }
  }

  #hub_tabs { 
    background-color: $soft_background;
    //box-shadow: inset 0 2px 3px 0 $navigation_border;
    display: flex;
    border-bottom: 1px solid $navigation_border;
    justify-content: center; 
    img {
      width: 20px;
      padding-right: 10px;
    }
    .navigation-bar {
      justify-content: space-between; 
      flex-direction:column;
      align-items:center;
      display: flex;
      //padding: 3px;
      ul {
        position: relative;
        top:1px;
      }
      li {
        background-color: $navigation_background;
        margin-left: 5px;
        margin-right: 5px;
        padding: 0.5em;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        border: 1px solid $navigation_border;
        border-left: 1px solid $navigation_border;
        border-right: 1px solid $navigation_border;
      }
      li:last-child {
        border-right:1px solid $navigation_border;
      }

    }
    a {
      font-size: 12px;
    }
  }

  div.related_links_set {
    background-color: $background_gray;
    padding: $pane_padding;
    border: $pane_border;
    margin: $pane_margin;
    width: 260px;
    float: left;
    min-height: 200px;
    h3 {
      margin: 0;
      border-bottom: 1px solid;
      color: $color-secondary-2-4;
    }
    h4 { 
      margin: 0;
      font-weight: bold;
      color: $color-secondary-2-3;
    }
    ul {
      li {
        margin-left: .4em;
        padding: 0;
      }
    }
  }
}
