
// Styling particular to the hub controller and views

@import 'workbench/palette';
@import 'workbench/whitespace';

#hub {
  a {
    text-decoration: none;
  }

  #navigation_list {
    li {
      padding: $standard_padding * .3;
      list-style-type: none;
      border-left: 1px solid $color-secondary-2-2;
      margin-bottom: 1em;

      a.task_name { 
        display: block; 
      }
      .task_description {
        display: block;
        background-color: $note_yellow;
        margin-left: $standard_padding;
        padding: $standard_padding * .3;
      }
    }
  }

  #hub_tabs { 
   justify-content: center; 
  }

  div.related_links_set {
    background-color: $background_gray;
    padding: $pane_padding;
    border: $pane_border;
    margin: $pane_margin;
    width: 260px;
    float: left;
    min-height: 200px;
    h3 {
      margin: 0;
      border-bottom: 1px solid;
      color: $color-secondary-2-4;
    }
    h4 { 
      margin: 0;
      font-weight: bold;
      color: $color-secondary-2-3;
    }
    ul {
      li {
        margin-left: .4em;
        padding: 0;
      }
    }
  }
}
