.role_picker {
  margin: .2em;
  .person_details {
    margin-left: 1em;
    padding: .2em;
    h3 {
      padding-top: 0;
      margin-top: 0;
    }
  }
  .new_person {
    margin-left: 1em;
    padding: .2em;
  }
}
