@import 'workbench/palette';
@import 'workbench/whitespace';

#show_taxon_name_hierarchy { 

  p {
    padding: 0;
    margin: $standard_padding*0.3 0;
  }

  a {}

  .ancestors {}

  .descendants {}

  .selected {
    font-weight: bold;
    margin: $standard_padding;
  }
}


