<%= render(partial: 'layouts/map_header') -%>

<div id="_draw_ce_form" name="_draw_ce_form" hidden="true">
  <table border="1">
    <tr>
      <td>
        <div id="feature_collection_2"
             data-feature-collection='<%= Gis::GeoJSON.feature_collection([]).to_json.html_safe %>'>

        </div>
        <div id="collecting_event_map_canvas" style="width:512px; height: 256px;"></div>

      </td>
    </tr>
  </table>
  <%= form_tag(drawn_collecting_events_path, method: 'get') do %>
      <div><%= submit_tag('Find') %></div>
  <% end %>
</div>
