
<div id="_draw_ce_form"
     hidden="true"
     data-feature-collection='<%= Gis::GeoJSON.feature_collection([]).to_json.html_safe %>'
     data-map-center='POINT (0.0 0.0 0.0)'
>

  <table border="1">
    <tr>
      <td>
        <div id="widget_canvas" style="width:512px; height:256px;"></div>

      </td>
    </tr>
    <!--<script>_init_draw_collecting_event()</script>-->
  </table>
  <%= form_tag(drawn_collecting_events_path, method: 'get') do %>
      <div><%= submit_tag('Find') %></div>
  <% end %>
</div>
