<div id="_draw_ce_form"
     hidden="hidden"
     data-feature-collection='<%= Gis::GeoJSON.feature_collection([]).to_json %>'
     data-map-center='POINT (0.0 0.0 0.0)'
     data-map-canvas="draw_ce_canvas"
>
  <%= form_tag(drawn_collecting_events_path, method: 'get', remote: true) do %>

      <table border="1">
        <tr>
          <td>
            <div id="draw_ce_canvas" style="width:512px; height:256px;"></div>
          </td>
        </tr>
      </table>
      <%= hidden_field_tag('ce_geographic_item_attributes_shape') %>
      <%= submit_tag('Find', id: 'ce_commit') %>
  <% end %>
</div>
