<div id="_filter_ce_partial">
  Find collecting events matching
  <br>------------filter_form_inputs------
  <%= render(partial: 'collecting_events/filter_form_inputs') %>
  <br>--------------------------------------
</div>

