<div id="_recent_ce_form" name="_recent_ce_form" hidden>
  <%= form_tag(recent_collecting_events_url, {method: 'get', id: 'recent_ce_count', remote: true}) do %>
      <table>
        <tr>
          <td class="field">
            <span>
              <label for="how_many">Return</label>
              <input id="how_many" size="5" name="how_many"/> most recent
            </span>
          </td>
        </tr>
      </table>
      <%= submit_tag('Find') %>
  <% end %>
</div>
