<div id="_tag_ce_form" name="_tag_ce_form" hidden="hidden">
  <%= form_tag(tagged_collecting_events_url, method: 'get') do %>
      Find collecting event tagged with
      <table border="1">
        <tr>
          <td>Keyword </td>
          <td><input id="what_keyword" ></td>
        </tr>
      </table>
      <div><%= submit_tag('Find') %></div>
  <% end %>
</div>
