<div id="_tag_ce_form" hidden>
  <%= form_tag(tagged_collecting_events_url, {method: 'get', id: 'tagged_ce_keyword'}) do %>
      Find collecting event tagged with
      <table border="1">
        <tr>
          <td>
            Keyword
          </td>
          <td>
            <%= render partial: 'workbench/elements/forms/ajax_select',
                       locals:  {controller: '/keywords',
                                 object:     nil,
                                 method:     'keyword_id',
                                 tag_id:     'keyword_term_id_for_collecting_event_tagging_form',
                                 size:       '',
                                 display:    ''} %>

          </td>
        </tr>
      </table>
      <div><input type="button" id="submit_tag_ce" value="Find"/></div>
  <% end %>       <!-- PUT YOUR BUTTON INSIDE THE FORM!!! -->

</div>
