<div>
  <h2> Simple batch load </h2>

  <div class="flexbox full_viewport_whitespace">
    <div class="item item1 one_third_width">
      <h3> Description and requirements </h3>

      <p> Creates a hierarchy of valid taxon names. Only unique names (as defined by the hierarchical path) are created,
        e.g., a genus name is created once though it appears on several rows of subordinate species.
      </p>
      <ul>
        <li>A tab-delimited, UTF-8 compatible text file is required.</li>
        <li>Column headers are required and limited to rank names and author_year (see <%= link_to('sample template', asset_path('batch_load_templates/taxon_names_simple_batch_load.tab'), target: '_blank') -%>).</li>
        <li>If a parent taxon is not specified, Root is the default.</li>
        <li>Multiple uploads of the same data will create duplicate parallel hierarchies. [true for both Root or named parent?? what if adding name under duplicate named parent??]</li>
        <li>It is assumed all taxon names are valid; family group names without proper endings will not be created.</li>
        <li>There is currently no size limit to the file being loaded but this may change in the future.</li>
      </ul>
    </div>

    <div class="item item2 one_third_width">
      <h3> Example file </h3>

      <p> A tab delimited formatted file, with any number of taxonomic rank headers, and an optional author_year column.
        In the example whitespace is a tab. View sample file template.</p>

      <pre class="fixed_width_font">
        family genus species author_year
        Aidae Aus bus Smith, 1920
        Aidae Aus cus (Jones, 1930)
        Bidae Bus eus Franklin, 1934</pre>
    </div>

    <div class="item item3">
      <h3> Go! </h3>
      <%= render partial: '/taxon_names/batch_load/simple/form', locals: {url: preview_simple_batch_load_taxon_names_path, submit: :preview} -%>
    </div>
  </div>
</div>
