<h1>Browse Annotations</h1>
<div class="flexbox">
  <div><h2>Annotation type</h2></div>
  <div><h2>For</h2></div>
  <div><h2>On</h2></div>
  <div><h2>By</h2></div>
  <div><h2>When</h2></div>
  <div><h2>Query Logic</h2></div>
  <div><h2>Result</h2></div>
  <div><h2>Submit</h2></div>
</div>
<div id="browse_annotations"></div>
