<%= form_tag(url, {method: 'get', id: id, remote: true}) do %>
    <table border="1">
      <tr>
        <td>Originating between</td>
        <td>
          <div>
            <div>
              <table border="1">
                <tr>
                  <td class="field">
                    <label for="start_date_day">Day</label>
                  </td>
                  <td class="field">
                    <label for="start_date_month">Month</label>
                  </td>
                  <td class="field">
                    <label for="start_date_year">Year</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <input type=text id="start_date_day" name="start_date_day" size="2"/>
                  </td>
                  <td>
                    <%= select_tag('start_date_month', options_for_select(Utilities::Dates::MONTHS_FOR_SELECT, selected: @collecting_event.start_date_month), include_blank: true) -%>
                  </td>
                  <td>
                    <input type=text id="start_date_year" name="start_date_year" size="4"/>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>and</td>
        <td>
          <div>
            <table border="1">
              <tr>
                <td class="field">
                  <label for="end_date_day">Day</label>
                </td>
                <td class="field">
                  <label for="end_date_month">Month</label>
                </td>
                <td class="field">
                  <label for="end_date_year">Year</label>
                </td>
              </tr>
              <tr>
                <td>
                  <input type=text name="end_date_day" id="end_date_day" size="2"/>
                </td>
                <td>
                  <%= select_tag('end_date_month', options_for_select(Utilities::Dates::MONTHS_FOR_SELECT, selected: @collecting_event.end_date_month), include_blank: true) -%>
                </td>
                <td>
                  <input type=text name="end_date_year" id="end_date_year" size="4"/>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
      <tr>
        <td class="field">
          <label for="verbatim_locality_text">Verbatim locality containing</label>
        </td>
        <td>
          <input type=text name="verbatim_locality_text" id="verbatim_locality_text" size="35"/>
        </td>
      </tr>
      <tr>
        <td class="field"><label for="any_label_text">Any label containing</label></td>
        <td>
          <input type=text id="any_label_text" name="any_label_text" size="35"/>
        </td>
      </tr>
      <tr>
        <td class="field">
          <label for="identifier_text">An identifier containing</label>
        </td>
        <td>
          <input type=text name="identifier_text" id="identifier_text" size="35"/>
        </td>
      </tr>
    </table>
    <div><%= submit_tag('Find', data: {side: side}) %></div>
<% end %>
