<h1>Tasks::Loans#complete</h1>
<p>Find me in app/views/tasks/loans/complete.html.erb</p>

<%= form_tag(loan_items_list_path, {method: :get}) do %>
    <%= render partial: 'workbench/elements/forms/ajax_select',
               locals:  {controller: '/loans',
                         object:     nil,
                         method:     'loan_id',
                         tag_id:     'loan_id_for_loan_complete_form',
                         size:       '',
                         display:    ''} %>
    <%= submit_tag 'Show' %>
<% end %>
