<div class="object_pane">
  <h3> Alternate values </h3>
  <ul>
    <% object.alternate_values.each do |alternate_value| -%>
      <li> <%= alternate_value_tag(alternate_value) -%> </li>
    <% end %>
  </ul>

  <%= content_tag(:em, 'No alternate values.') if !object.alternate_values.any? -%>
</div>
