.history_record {

  .original_taxon_name {
    font-weight: 400;
  }

  .taxon_name_author_year {
    color: gray;
    font-weight: 400;
  }
  .type_information {
    padding-left: 5px;
    display: block;
  }
}
#show {
  .ui-autocomplete-input {
    width: 240px;
  }
}
#show_taxon_name_hierarchy {
  p {
    font-size: 12px;
    margin: 2px;
    padding: 0px;
  }

  .descendent {
    margin-left: 10px;
    li:after{
      border-left: 1px dashed $navigation_border;
      height: 100%;
      width: 0px;
      top: -11px; 
    }   
    li:first-child:after {
      display: flex;
    }
    li:last-child:after {
      display: flex;
    }    
  }

  .selected {
    font-weight: 700;
    font-size: 13px;
  }

  .selected:before {
    padding-right: 3px;
    font-weight: 300;
  }

      ul {
        list-style-type: none;
        margin:0;
        padding: 0;
        position: relative;
        overflow:hidden;  
      }

      img {
        width: 8px;
        min-width: 8px;
        position: relative;
        top:7px;
      }

      li {
        display: flex;
        flex-direction:row;
        align-items: flex-start;
        padding: 0 14px;  
        position: relative; 
      }
        
      li::before, li::after{
        content: '';
        position: absolute;
        left: 0;
      }

      li::before{
        border-top: 1px solid $navigation_border;
        top: 10px;
        width: 10px;
        height: 0;    
      }

      li:after{
        border-left: 1px solid $navigation_border;
        height: 100%;
        width: 0px;
        top: -10px; 
      }

      li::after{
        top: 10px;
      }

      li:last-child::after{
        display: none;
      } 

      a {
        text-decoration: none;
        font-size: 12px;
        padding-left: 0px;
      }     
    }



