.history_record {
  .original_taxon_name {
    font-weight: 400;
  }

  .taxon_name_author_year {
    color: gray;
    font-weight: 400;
  }

  .type_information {
    padding-left: 5px;
    display: block;
  }
}

#show {
  .ui-autocomplete-input {
    width: 240px;
  }
}

#show_taxon_name_hierarchy {
  p {
    font-size: 12px;
    margin: 2px;
    padding: 0px;
  }

  .selected {
    font-weight: 700;
    font-size: 13px;
  }

  .selected:before {
    padding-right: 3px;
    font-weight: 300;
  }


  img {
    width: 8px;
    min-width: 8px;
    position: relative;
    top:7px;
  }

  .taxon-synonym {
    border-left:1px solid rgb(100,100,100);
  }

  .list-synonym {
    list-style: none;
    padding-left: 12px;
    padding-bottom: 14px;

    li {
      border-left: none;
      padding-left: 0px;
    }

    li:before {
      border-bottom: none;
      padding-left: 6px;
      width: 0px;
    }

    li:last-child:before {
      border-left: none;
    }
  }

  a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 0px;
  }
}

