<h2>Create a source (reference) from a verbatim citation</h2>

<p class='notice'> The citation text (or DOI) will be resolved against CrossRef, and you will be given an option
to use the BibTeX record (if found) or store it as a verbatim record.</p>

<%= form_tag preview_verbatim_reference_task_path do %>

  <div class="field">
    <%= label_tag :citation_to_find, nil, data: {help: 'Works best by pasting in a full citation or DOI, but fragments are also possible.'} %>
    <%= text_area_tag :citation, (params[:in_cite].nil? ? nil : params[:in_cite]), rows: 4, cols: 50 %>
  </div>

  <div class="actions">
    <%= submit_tag 'Preview' %>
  </div>

<% end %>

