<h2>_collecting_event_partial</h2>
<div id="_ce_display_partial">
  <table border='1' style="left: 0; width: 100%; top: 0; height: 99px">
    <tr>
      <th>Collecting Event (sort)</th>
      <th>Verbatim Locality</th>
      <th>ID (sort)</th>
      <th></th>
    </tr>
    <tbody>
    <tr>
      <td>
        (object_tag(ce))
      </td>
      <td>
        (ce.verbatim_locality)
      </td>
      <td>
        (ce.to_param)
      </td>
      <td>
        (check box)
      </td>
    </tr>
    </tbody>
  </table>
  ('create georeferences' button)
</div>
