<div>
  <h2> Castor batch load </h2>

  <div class="flexbox full_viewport_whitespace">
    <div class="item item1 one_third_width">
      <h3> Description and requirements </h3>

      <p> Creates hierarchy of taxon names and otus. </p>
      <ul>
        <li>A tab-delimited, UTF-8 compatible text file is required.</li>
        <li>Column headers are (see <%= link_to('sample template', asset_path('batch_load_templates/taxon_names/taxon_names_castor_batch_load.tab'), target: '_blank') -%>).</li>
        <li>Taxon name names with no parent id will be attached to the root taxon name.</li>
        <li><em>Parent taxon names must be before child taxon names.</em></li>
        <li>An OTU with name of "taxon_concept_name" column is created if the "guid" column is not blank.</li> 
        <li>An Identifier Global::Uri will be attached with the value of the "guid" column if not blank to the Otu.</li>
        <li>Creates a taxon name relationship (values are <%= link_to('NOMEN class names in TaxonWorks', 'https://github.com/SpeciesFileGroup/taxonworks/tree/development/app/models/taxon_name_relationship', target: :blank) -%>, e.g. "TaxonNameRelationship::Iczn::Invalidating::Synonym") with class type specified in the "related_name_nomen_class" column between the taxon name at that row and the taxon name with the id in "related_name_id".</li>
        <li>Creates taxon name classification (values are <%= link_to('NOMEN class names in TaxonWorks', 'https://github.com/SpeciesFileGroup/taxonworks/tree/development/app/models/taxon_name_classification', target: :blank,) %>, e.g. "TaxonNameClassification::Iczn::Available::Valid") with class type specfied in the "name_nomen_clasification" column for the taxon name at that row.</li>
        <li>`rank` is a lowercase like "species", "genus", "family" etc.</li> 
        <li>There is currently no size limit to the file being loaded, but we recommend capping at 1-2 thousand names.</li>
        <li>Multiple uploads of the same data will not be created.</li>
      </ul>
    </div>

    <div class="item item2 one_third_width">
      <h3> Example file </h3>
      <pre class="break_words_pre">
        id taxon_name parent_id rank related_name_id related_name_nomen_class name_nomen_classification author_year guid taxon_concept_name
      </pre>
    </div>

    <div class="item item3">
      <h3> Go! </h3>
      <%= render partial: '/taxon_names/batch_load/castor/form', locals: {url: preview_castor_batch_load_taxon_names_path, submit: :preview} -%>
    </div>
  </div>
</div>
