<div class="panel panels-container">
  <div class="title action-line">
    <span>Editing image</span><%= link_to 'Show', @image, data: {icon: "show"}, "class" => "small-icon" %>
  </div>
  <div class="content">
    <%= render 'form' %>
  </div>
</div>

