<div class="panel panels-container">
  <div class="title action-line"><span>New image</span><%= link_to 'Back', @image, data: { icon: "arrow-left"}, "class" => "small-icon"  %></div>
  <div class="content">
    <%= render 'form' %>
  </div>
</div>
