<p>
  <strong>Name:</strong>
  <%= @sequence.name %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @sequence.sequence %>
</p>

<p>
  <strong>Sequence type:</strong>
  <%= @sequence.sequence_type %>
</p>