<h1>Batch load sequences</h1>
<%= render 'sequences/batch_file_load/genbank/batch_file_load' -%>
<%= render 'sequences/batch_load/genbank/batch_load' -%>
<%= render 'sequences/batch_load/primers/batch_load' -%>
