<!-- STUB
<div data-filter-slide="close">

  <div id="filterBrowse" class="navigation-controls filter">

    <div class="navigation-item" data-filter-reset="reset">
      <span data-icon="reset" class="small-icon">Reset</span>
    </div>
    <div class="navigation-item" data-filter-hide-all="hide">
      <span data-icon="hide" class="small-icon">Hide all</span>
    </div>
  </div>

</div>
-->

