<h3>Record housekeeping</h3>
<hr>
<span>
	<strong>Created by:</strong>
	<%= object_tag(object.creator) %>
</span>

<span>
	<strong>Updated by:</strong>
	<%= object_tag(object.updater) %>
</span>

<span>
	<strong>Updated at:</strong>
	<%=  object_time_since_update_tag(object) -%> ago
</span>

<span>
	<strong>Created at:</strong>
	<%= object_time_since_creation_tag(object) -%> ago
</span>

