<div class="soft_validation">
  <% object.soft_validate -%> 
    <% object.soft_validations.soft_validations.each do |a| -%>
      <%= content_tag :p, a.message.html_safe, class: 'list' -%>
  <% end %>
</div>





