<div class="soft_validation list" data-global-id="<%= object.to_global_id.to_s -%>">
  <% object.soft_validate -%>
  <ul class="no_bullets"> 
    <% object.soft_validations.soft_validations.each do |a| -%>
      <%= content_tag :li, a.message.html_safe -%>
    <% end %>
  </ul>
</div>
