@import '../../../styles/descriptorTitle'

.single-observation-zoomed-view
    display flex

    &__descriptor-details
    &__observation-details
        flex 1 1 0

    &__descriptor-title
        @extend $descriptorTitle